{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI 列表",
    "version": "0.0.1"
  },
  "externalDocs": {
    "description": "OpenAPI 列表",
    "url": "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/list"
  },
  "servers": [
    {
      "url": "https://open.douyin.com/"
    }
  ],
  "tags": [
    {
      "name": "account-permission",
      "description": "用户授权",
      "externalDocs": {
        "description": "用户授权",
        "url": "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/account-permission"
      }
    },
    {
      "name": "video-management",
      "description": "视频管理",
      "externalDocs": {
        "description": "视频管理",
        "url": "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management"
      }
    },
    {
      "name": "search-management",
      "description": "搜索管理",
      "externalDocs": {
        "description": "搜索管理",
        "url": "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/search-management"
      }
    },
    {
      "name": "data-open-service",
      "description": "数据开放服务",
      "externalDocs": {
        "description": "数据开放服务",
        "url": "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/data-open-service"
      }
    },
    {
      "name": "enterprise-open-ability",
      "description": "企业号开放能力（内测结束暂不开放）",
      "externalDocs": {
        "description": "企业号开放能力（内测结束暂不开放）",
        "url": "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/enterprise-open-ability"
      }
    },
    {
      "name": "tools-ability",
      "description": "工具能力",
      "externalDocs": {
        "description": "工具能力",
        "url": "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/tools-ability"
      }
    },
    {
      "name": "service-market",
      "description": "服务市场开放能力",
      "externalDocs": {
        "description": "服务市场开放能力",
        "url": "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/service-market"
      }
    },
    {
      "name": "taskbox",
      "description": "小程序推广计划",
      "externalDocs": {
        "description": "小程序推广计划",
        "url": "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox"
      }
    }
  ],
  "paths": {
    "/api/douyin/v1/video/upload_image/": {
      "post": {
        "tags": [
          "video-management"
        ],
        "description": "无\n\n",
        "requestBody": {
          "description": "无\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "图片上传",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadImageResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "{\n  \"extra\": {\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393,\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\"\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"image\": {\n      \"image_id\": \"@9VxVx/WTUc8oLGK3atFqTs7912buPvyEOpZwrGXicBIOPa/hjm3hclsVqTXHgl5uWzLAjmUFIYZSiYbeTyfjDHzZ0eB8qg8IAutr00Zd/EHaEc/kgyuawGEDO1******\",\n      \"width\": 360,\n      \"height\": 360\n    }\n  }\n}\n"
                  },
                  "failed": {
                    "value": "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1594015876138,\n    \"log_id\": \"2020070614111601022506808001045D59\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/open/getticket/": {
      "get": {
        "tags": [
          "tools-ability"
        ],
        "responses": {
          "default": {
            "description": "获取 open_ticket",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetticketResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/task/posting/create/": {
      "post": {
        "tags": [
          "interaction-management"
        ],
        "description": "<ul><ul><li>一个任务仅允许设置单个核销查询条件，如需查询投稿产生的多个维度数据需创建多个任务</li></ul></ul>\n\n",
        "requestBody": {
          "description": "<ul><ul><li>一个任务仅允许设置单个核销查询条件，如需查询投稿产生的多个维度数据需创建多个任务</li></ul></ul>\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "创建投稿任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "{\n  \"data\": {\n    \"task_id\": \"@72M0WCqtxuYGiwtkVUYFvH1itu8zRM8IaUCtRwbNa32+7uo2083g2PcEG70*****\",\n    \"task_status\": 1,\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202305051653529635CB4F099894095439\",\n    \"now\": 1683276833\n  }\n}\n"
                  },
                  "failed": {
                    "value": "{\n  \"data\": {\n    \"error_code\": 2118200,\n    \"description\": \"任务名称长度必须大于0且不超过50\"\n  },\n  \"extra\": {\n    \"description\": \"任务名称长度必须大于0且不超过50\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202305051653529635CB4F09989324124\",\n    \"now\": 1648731843045,\n    \"error_code\": 2118200\n  }\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/api/douyin/v1/video/video_basic_info/": {
      "post": {
        "tags": [
          "interaction-management"
        ],
        "description": "<ul style=\"\"><ul style=\"\"><li>当 账号为“私密账号” 或 视频为“私密视频/部分好友可见/密友可见/朋友可见” 或 视频已删除，视频会被认为非公开</li></ul></ul>\n\n",
        "requestBody": {
          "description": "<ul style=\"\"><ul style=\"\"><li>当 账号为“私密账号” 或 视频为“私密视频/部分好友可见/密友可见/朋友可见” 或 视频已删除，视频会被认为非公开</li></ul></ul>\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "查询视频基础信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoBasicInfoResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "{\n  \"data\": {\n    \"list\": [\n      {\n        \"create_time\": 1571075129,\n        \"item_id\": \"@72M0WCqtxuYGiwtkVUYFvH1itu8zRM8IaUCtRwbNa32+7uo2083g2PcEG70*****\",\n        \"media_type\": 4,\n        \"title\": \"测试视频 #测试话题 @抖音小助手\",\n        \"video_id\": \"722781567863447****\",\n        \"video_status\": 5,\n        \"cover\": \"https://p3-dy.byteimg.com/img/tos-cn-p-0015/cfa0d6421bdc4580876cb16974539ff6~c5_300x400.jpeg\"\n      }\n    ],\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202305310903463FF1BD14FC15E33B60C9\",\n    \"now\": 1685495027\n  }\n}\n"
                  },
                  "failed": {
                    "value": "{\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202305310905081EBA70EE79A1013C0443\",\n    \"now\": 1685495108\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/market/service/user/remaintimes/decr/": {
      "post": {
        "tags": [
          "service-market"
        ],
        "description": "<ul><li><span style=\"color: #24292E;\">为了方便服务商对创建的服务进行测试，允许服务商在服务创建/修改界面中配置用户白名单。对于测试环境和 open_id 为白名单中的用户，使用下面的逻辑进行返回：</span></li></ul>\n<table style=\"width: 928px;\"><colgroup><col style=\"width: 253px;\"><col style=\"width: 141px;\"><col style=\"width: 534px;\"></colgroup><tbody><tr><th colspan=\"1\" rowspan=\"1\" data-colwidth=\"253\"><p><span style=\"color: #373C43;\"><span style=\"background-color: #F6F7F9;\">环境</span></span></p></th><th colspan=\"1\" rowspan=\"1\" data-colwidth=\"141\"><p><span style=\"color: #373C43;\"><span style=\"background-color: #F6F7F9;\">是否为白名单用户</span></span></p></th><th colspan=\"1\" rowspan=\"1\" data-colwidth=\"534\"><p><span style=\"color: #373C43;\"><span style=\"background-color: #F6F7F9;\">处理逻辑</span></span></p></th></tr><tr><td colspan=\"1\" rowspan=\"2\" data-colwidth=\"253\"><p><span style=\"color: #373C43;\">测试环境</span></p><p><span style=\"color: #373C43;\">（请求参数：is_test_env = true）</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"141\"><p><span style=\"color: #373C43;\">是</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"534\"><p><span style=\"color: #373C43;\">不实际扣除次数/条数，固定返回成功</span></p></td></tr><tr><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"253\"><p><span style=\"color: #373C43;\">否</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"141\"><p><span style=\"color: #373C43;\">返回扣除失败</span></p></td></tr><tr><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"253\"><p><span style=\"color: #373C43;\">正式环境</span></p><p><span style=\"color: #373C43;\">（请求参数：is_test_env = false）</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"141\"><p><span style=\"color: #373C43;\">是/否</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"534\"><p><span style=\"color: #373C43;\">根据用户实际剩余使用次数/条数返回是否扣减成功</span></p></td></tr></tbody></table> \n<ul><li><span style=\"color: #24292E;\">注意事项：抖音的 OAuth API 以 </span><span style=\"color: #0366D6;\"><span style=\"background-color: #00000000;\"><a href=\"https://open.douyin.com/\" target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(3, 102, 214); margin-right: 0px;\">https://open.douyin.com</a></span></span> 开头</li></ul>\n\n",
        "requestBody": {
          "description": "<ul><li><span style=\"color: #24292E;\">为了方便服务商对创建的服务进行测试，允许服务商在服务创建/修改界面中配置用户白名单。对于测试环境和 open_id 为白名单中的用户，使用下面的逻辑进行返回：</span></li></ul>\n<table style=\"width: 928px;\"><colgroup><col style=\"width: 253px;\"><col style=\"width: 141px;\"><col style=\"width: 534px;\"></colgroup><tbody><tr><th colspan=\"1\" rowspan=\"1\" data-colwidth=\"253\"><p><span style=\"color: #373C43;\"><span style=\"background-color: #F6F7F9;\">环境</span></span></p></th><th colspan=\"1\" rowspan=\"1\" data-colwidth=\"141\"><p><span style=\"color: #373C43;\"><span style=\"background-color: #F6F7F9;\">是否为白名单用户</span></span></p></th><th colspan=\"1\" rowspan=\"1\" data-colwidth=\"534\"><p><span style=\"color: #373C43;\"><span style=\"background-color: #F6F7F9;\">处理逻辑</span></span></p></th></tr><tr><td colspan=\"1\" rowspan=\"2\" data-colwidth=\"253\"><p><span style=\"color: #373C43;\">测试环境</span></p><p><span style=\"color: #373C43;\">（请求参数：is_test_env = true）</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"141\"><p><span style=\"color: #373C43;\">是</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"534\"><p><span style=\"color: #373C43;\">不实际扣除次数/条数，固定返回成功</span></p></td></tr><tr><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"253\"><p><span style=\"color: #373C43;\">否</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"141\"><p><span style=\"color: #373C43;\">返回扣除失败</span></p></td></tr><tr><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"253\"><p><span style=\"color: #373C43;\">正式环境</span></p><p><span style=\"color: #373C43;\">（请求参数：is_test_env = false）</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"141\"><p><span style=\"color: #373C43;\">是/否</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"534\"><p><span style=\"color: #373C43;\">根据用户实际剩余使用次数/条数返回是否扣减成功</span></p></td></tr></tbody></table> \n<ul><li><span style=\"color: #24292E;\">注意事项：抖音的 OAuth API 以 </span><span style=\"color: #0366D6;\"><span style=\"background-color: #00000000;\"><a href=\"https://open.douyin.com/\" target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(3, 102, 214); margin-right: 0px;\">https://open.douyin.com</a></span></span> 开头</li></ul>\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "open_id": {
                    "type": "string",
                    "description": "通过/oauth/access_token/获取，用户的唯一标志",
                    "example": "ba253642-0590-40bc-9bdf-9a1334******"
                  },
                  "service_id": {
                    "type": "string",
                    "description": "服务id，服务的唯一标识，可在发布“平台应用类”功能中【应用配置页】和【服务详情页】获取",
                    "example": "7021602203591******"
                  },
                  "service_mode_id": {
                    "type": "string",
                    "description": "服务规格id，由服务商在创建服务时指定，可在发布“平台应用类”功能中【应用配置页】和【服务详情页】获取",
                    "example": "free"
                  },
                  "out_trade_no": {
                    "type": "string",
                    "description": "外部开发者单号id，用于保证当前扣除操作的幂等，由接口的调用方保证对于同一个服务唯一，最大长度为128",
                    "example": "1680613917339688"
                  },
                  "count": {
                    "type": "integer",
                    "description": "要扣除的次数/条数，要求大于0",
                    "format": "int32",
                    "example": "1"
                  },
                  "is_test_env": {
                    "type": "boolean",
                    "description": "是否为测试环境 true为测试环境，在服务未发布前或需要测试时使用测试环境参数 false为正式环境，需要传入的服务已发布",
                    "example": true,
                    "default": false
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "扣除用户服务的剩余使用次数/条数",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecrResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393\n  }\n}\n"
                  },
                  "failed": {
                    "value": "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"log_id\": \"2020070614111601022506808001045D59\",\n    \"now\": 1594015876138\n  }\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/api/douyin/v1/user/fans_data/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          }
        ],
        "responses": {
          "default": {
            "description": "获取用户粉丝数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FansDataResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/car/driver/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "驾考",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/hotsearch/videos/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "description": "<a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(28, 31, 35); margin-right: 10px;\">Scope: hotsearch </a> <a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(82, 196, 26); margin-right: 10px;\">需要申请权限</a> <a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(250, 140, 22); margin-right: 10px;\">不需要用户授权</a>",
        "parameters": [
          {
            "name": "hot_sentence",
            "in": "query",
            "description": "热点词",
            "required": true,
            "example": ""
          }
        ],
        "responses": {
          "default": {
            "description": "获取热点词聚合的视频",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideosResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/external/user/fans/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          {
            "name": "date_type",
            "in": "query",
            "description": "近7/15天；输入7代表7天、15代表15天、30代表30天",
            "required": true,
            "example": "<nil>"
          }
        ],
        "responses": {
          "default": {
            "description": "获取用户粉丝数",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FansResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/fans/comment/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          }
        ],
        "responses": {
          "default": {
            "description": "获取用户粉丝热评",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/travel/overall/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "旅游总榜单",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverallResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/video/comment/reply/": {
      "post": {
        "tags": [
          "enterprise-open-ability"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "回复视频评论",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplyResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/fans/source/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          }
        ],
        "responses": {
          "default": {
            "description": "获取用户粉丝来源",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/music/original/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "原创榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OriginalResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/external/item/base/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          {
            "name": "item_id",
            "in": "query",
            "description": "item_id，仅能查询access_token对应用户上传的视频",
            "required": true,
            "example": ""
          }
        ],
        "responses": {
          "default": {
            "description": "获取视频基础数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/sport/comprehensive/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "综合体育榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComprehensiveResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/cospa/voice_control/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "声控",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceControlResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/food/overall/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "description": "Scope：data.external.billboard_food<a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(160, 217, 17); margin-right: 10px;\">需要申请权限</a> <a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(250, 173, 20); margin-right: 10px;\">不需要用户授权</a> 该接口用于获取美食总榜数据。该接口适用于**抖音**。",
        "responses": {
          "default": {
            "description": "美食总榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverallResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/external/user/like/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          {
            "name": "date_type",
            "in": "query",
            "description": "近7/15天；输入7代表7天、15代表15天、30代表30天",
            "required": true,
            "example": "<nil>"
          }
        ],
        "responses": {
          "default": {
            "description": "获取用户点赞数",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/hotsearch/trending/sentences/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。",
            "required": true,
            "example": "0"
          },
          {
            "name": "count",
            "in": "query",
            "description": "每页数量",
            "required": true,
            "example": "10"
          }
        ],
        "responses": {
          "default": {
            "description": "获取上升词",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentencesResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/food/new/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "description": "Scope：data.external.billboard_food <a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(160, 217, 17); margin-right: 10px;\">需要申请权限</a> <a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(250, 140, 22); margin-right: 10px;\">不需要用户授权</a> 该接口用于获取美食新势力榜数据。该接口适用于**抖音**。",
        "responses": {
          "default": {
            "description": "美食新势力榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/video/search/comment/list/": {
      "get": {
        "tags": [
          "search-management"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。",
            "required": false,
            "example": "0"
          },
          {
            "name": "count",
            "in": "query",
            "description": "每页数量。",
            "required": true,
            "example": "10"
          },
          {
            "name": "sec_item_id",
            "in": "query",
            "description": "视频搜索接口返回的加密的视频id",
            "required": true,
            "example": ""
          }
        ],
        "responses": {
          "default": {
            "description": "关键词视频评论列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/hotsearch/sentences/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "获取实时热点词",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentencesResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/sport/overall/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "体育总榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverallResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/travel/new/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "旅游新势力榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/star/hot_list/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "hot_list_type",
            "in": "query",
            "description": "达人热榜类型 * `1` - 星图指数榜 * `2` - 涨粉指数榜 * `3` - 性价比指数榜 * `4` - 种草指数榜 * `5` - 精选指数榜 * `6` - 传播指数榜",
            "required": true,
            "example": "1"
          }
        ],
        "responses": {
          "default": {
            "description": "获取抖音星图达人热榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotListResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/devtool/micapp/is_legal/": {
      "get": {
        "tags": [
          "tools-ability"
        ],
        "parameters": [
          {
            "name": "micapp_id",
            "in": "query",
            "description": "输入小程序的micapp_id",
            "required": true,
            "example": "tt5daf2b12c2857910"
          }
        ],
        "responses": {
          "default": {
            "description": "小程序接口能力",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsLegalResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/external/user/share/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          {
            "name": "date_type",
            "in": "query",
            "description": "近7/15天；输入7代表7天、15代表15天、30代表30天",
            "required": true,
            "example": "<nil>"
          }
        ],
        "responses": {
          "default": {
            "description": "获取用户分享数",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/discovery/ent/rank/version/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。",
            "required": false,
            "example": "0"
          },
          {
            "name": "count",
            "in": "query",
            "description": "每页数量",
            "required": true,
            "example": "10"
          },
          {
            "name": "type",
            "in": "query",
            "description": "榜单类型：\n  * 1 - 电影 \n  * 2 - 电视剧 \n  * 3 - 综艺\n",
            "required": true,
            "example": "<nil>"
          }
        ],
        "responses": {
          "default": {
            "description": "获取抖音影视综榜单版本",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/drama/overall/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "剧情总榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverallResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/car/play/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "玩车",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/enterprise/media/list/": {
      "get": {
        "tags": [
          "tools-ability"
        ],
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "调用/oauth/access_token/生成的token，此token需要用户授权。",
            "required": true,
            "example": "act.1d1021d2aee3d41fee2d2add43456badMFZnrhFhfWotu3Ecuiuka27L56lr"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。",
            "required": false,
            "example": "0"
          },
          {
            "name": "count",
            "in": "query",
            "description": "每页数量",
            "required": true,
            "example": "10"
          }
        ],
        "responses": {
          "default": {
            "description": "素材列表接口",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/fans/favourite/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "description": "<a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(28, 31, 35); margin-right: 10px;\">Scope: data.external.fans_favourite</a> <a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(160, 217, 17); margin-right: 10px;\">需要申请权限</a> <a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(250, 140, 22); margin-right: 10px;\">需要用户授权</a>",
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          }
        ],
        "responses": {
          "default": {
            "description": "获取用户粉丝喜好",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavouriteResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/game/inf/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "游戏资讯榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/extern/billboard/cospa/qing_man/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "轻漫",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QingManResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/api/douyin/v1/schema/get_share/": {
      "post": {
        "tags": [
          null
        ],
        "description": "<ul><li>接口返回的schema字段可以直接扫码拉起抖音</li><li>入参中的过期时间为生产短链的过期时间，会与传入的client ticket共同控制是否可以拉起编辑页面或发布页面。</li><li><strong>image_path、image_list_path 和video_path，三者至少要传一个，否则会报错。</strong></li><li>生成 Schema 的参考方式如下：<a href=\"https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/sdk/web-app/h5/schema-demo\" target=\"_blank\" rel=\"nofollow noreferrer\">H5 分享 Schema 生成示例</a>。</li><li><strong>想获取用户分享结果，请获取<a href=\"https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/search-video/video-share-result/\" target=\"_blank\" rel=\"nofollow noreferrer\">share_id</a>将其填写到 state 字段。</strong></li><li>图片格式支持：png/jpg/gif/(多图分享不支持 gif)；视频格式支持：mp4/mov。目前通过请求头中content-type进行校验，视频格式支持的content-type有video/3gpp、video/quicktime、video/mp4，图片格式是image/*。</li></ul>\n\n",
        "requestBody": {
          "description": "<ul><li>接口返回的schema字段可以直接扫码拉起抖音</li><li>入参中的过期时间为生产短链的过期时间，会与传入的client ticket共同控制是否可以拉起编辑页面或发布页面。</li><li><strong>image_path、image_list_path 和video_path，三者至少要传一个，否则会报错。</strong></li><li>生成 Schema 的参考方式如下：<a href=\"https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/sdk/web-app/h5/schema-demo\" target=\"_blank\" rel=\"nofollow noreferrer\">H5 分享 Schema 生成示例</a>。</li><li><strong>想获取用户分享结果，请获取<a href=\"https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/search-video/video-share-result/\" target=\"_blank\" rel=\"nofollow noreferrer\">share_id</a>将其填写到 state 字段。</strong></li><li>图片格式支持：png/jpg/gif/(多图分享不支持 gif)；视频格式支持：mp4/mov。目前通过请求头中content-type进行校验，视频格式支持的content-type有video/3gpp、video/quicktime、video/mp4，图片格式是image/*。</li></ul>\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "H5分享跳转链接获取",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShareResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "{\n  \"data\": {\n    \"schema\": \"snssdk1128://webview?url=https%3A%2F%2Fopen.douyin.com%2Fplatform%2Foauth%2Fslink%2F%3Ftoken%3D3f88af29866b5e15e0cd70390181d2d9d2a7%26client_key%3Dawr8bfr64vxgk036\"\n  },\n  \"err_msg\": \"\",\n  \"err_no\": 0,\n  \"log_id\": \"2023030419213553F1D75DDEBBF96B037B\"\n}\n"
                  },
                  "failed": {
                    "value": "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\",\n  \"log_id\": \"20220919151647010174244209010DE6B6\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/data/extern/billboard/sport/culture/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "运动文化榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CultureResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/im/save/retain_consult_card/": {
      "post": {
        "tags": [
          null
        ],
        "description": "* 样式示例\n\n<table><tr><th>卡片配置</th><th>样式</th></tr><tr><td>```Plain Text\r[{    &quot;title&quot;:&quot;同类型&quot;,    &quot;media_id&quot;:&quot;@9VwNxuKKBZ03MXG7M8ooWM6+iib0bqafYog16knsa1AUPKajyCTkLAhFvjLE1QtoXGXEjzkBJNYG2NHSHyblWX2M2bZ5mT1hatJT3UhT8k+LWeDC54fwY0ZOD4Lc1JSX&quot;,    &quot;components&quot;:[    1,        2,        3    ]}]```</td><td> </td></tr></table>\n\n* 如果用户填写了留资信息会在端上展示，并通过私信 webhook 回调给开发者\n* 创建好留资卡片后，可通过发送私信消息、发送群消息接口进行留资卡片发送，content 示例如下\n\n```js\r\n[\"content\": {\n    \"msg_type\": 8,\n    \"retain_consult_card\": {\n      \"card_id\": \"@9VwNxuKKBZ03MXG7M8ooWM771FjUAMW/BqhMlDebEmyyzJD7cZENrR868oDbX9xx\"\n    }\n }\n]\n```\n",
        "requestBody": {
          "description": "* 样式示例\n\n<table><tr><th>卡片配置</th><th>样式</th></tr><tr><td>```Plain Text\r[{    &quot;title&quot;:&quot;同类型&quot;,    &quot;media_id&quot;:&quot;@9VwNxuKKBZ03MXG7M8ooWM6+iib0bqafYog16knsa1AUPKajyCTkLAhFvjLE1QtoXGXEjzkBJNYG2NHSHyblWX2M2bZ5mT1hatJT3UhT8k+LWeDC54fwY0ZOD4Lc1JSX&quot;,    &quot;components&quot;:[    1,        2,        3    ]}]```</td><td> </td></tr></table>\n\n* 如果用户填写了留资信息会在端上展示，并通过私信 webhook 回调给开发者\n* 创建好留资卡片后，可通过发送私信消息、发送群消息接口进行留资卡片发送，content 示例如下\n\n```js\r\n[\"content\": {\n    \"msg_type\": 8,\n    \"retain_consult_card\": {\n      \"card_id\": \"@9VwNxuKKBZ03MXG7M8ooWM771FjUAMW/BqhMlDebEmyyzJD7cZENrR868oDbX9xx\"\n    }\n }\n]\n```\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "创建/更新留资卡片",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetainConsultCardResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "[{\n  \"card_id\": \"@72MqHzC5kqIEgB56A10R9n1psdsNe8gPbkeqQAHKbHp1G4Vlci1qTF5dPUOM0K8i\",\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1660109415,\n    \"logid\": \"202208101330140102250990080401DB11\"\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\"\n  }\n}\n]\n"
                  },
                  "failed": {
                    "value": "[{\n  \"extra\": {\n    \"sub_description\": \"\",\n    \"sub_error_code\": 0,\n    \"description\": \"参数不合法\",\n    \"error_code\": 2100005,\n    \"logid\": \"202203271807199888808121990491456D\",\n    \"now\": 1648375639\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/room/data/audience/get/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "description": "* 接口只返回直播间状态为完全公开的指标数据\n* 接口默认返回最近一个时间分区的指标数据，每个时间分区内指标的有效期是30天\n* 指标的产出时效是t+1，每天上午8点才能产出昨日完整数据\n\n",
        "responses": {
          "default": {
            "description": "获取直播间看播数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "[{ \n  \"data\": {\n    \"data_ready_status\": [\n      {\n        \"is_ready\": true,\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"live_fans_watch_duration_td\",\n        \"time_slot\": \"2023-06-15\"\n      },\n      {\n        \"is_ready\": true,\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"live_fans_watch_ucnt_td\",\n        \"time_slot\": \"2023-06-15\"\n      },\n      {\n        \"live_id\": 1,\n        \"name\": \"live_watch_cnt_td\",\n        \"time_slot\": \"2023-06-15\",\n        \"is_ready\": true,\n        \"item_type\": 3\n      },\n      {\n        \"time_slot\": \"2023-06-15\",\n        \"is_ready\": true,\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"live_watch_duration_td\"\n      },\n      {\n        \"is_ready\": true,\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"live_watch_ucnt_td\",\n        \"time_slot\": \"2023-06-15\"\n      },\n      {\n        \"time_slot\": \"2023-06-15\",\n        \"is_ready\": true,\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"per_minute_watch_ucnt_td_max\"\n      }\n    ],\n    \"stats\": [\n      {\n        \"value\": 30,\n        \"value_float\": 30,\n        \"item\": \"7244433****50903080\",\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"live_fans_watch_duration_td\",\n        \"timeslot\": \"2023-06-15\"\n      },\n      {\n        \"item\": \"7244433****50903080\",\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"live_fans_watch_ucnt_td\",\n        \"timeslot\": \"2023-06-15\",\n        \"value\": 1,\n        \"value_float\": 1\n      },\n      {\n        \"value_float\": 1,\n        \"item\": \"7244433****50903080\",\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"live_watch_cnt_td\",\n        \"timeslot\": \"2023-06-15\",\n        \"value\": 1\n      },\n      {\n        \"item\": \"7244433****50903080\",\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"live_watch_duration_td\",\n        \"timeslot\": \"2023-06-15\",\n        \"value\": 30,\n        \"value_float\": 30\n      },\n      {\n        \"timeslot\": \"2023-06-15\",\n        \"value\": 1,\n        \"value_float\": 1,\n        \"item\": \"7244433****50903080\",\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"live_watch_ucnt_td\"\n      },\n      {\n        \"item\": \"7244433****50903080\",\n        \"item_type\": 3,\n        \"live_id\": 1,\n        \"name\": \"per_minute_watch_ucnt_td_max\",\n        \"timeslot\": \"2023-06-15\",\n        \"value\": 1,\n        \"value_float\": 1\n      }\n    ]\n  },\n  \"err_msg\": \"\",\n  \"err_no\": 0,\n  \"log_id\": \"02168688376944000000000000000000000ffff0a1360947d72c5\"\n}\n]\n"
                  },
                  "failed": {
                    "value": "[{ \n  \"err_no\": 28001007,\n  \"err_msg\": \"room_id must have a value\",\n  \"log_id\": \"02168605686441700000000000000000000ffff0a709e27d4a49e\"\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/discovery/ent/rank/item/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "榜单类型：\n  * 1 - 电影 \n  * 2 - 电视剧 \n  * 3 - 综艺\n",
            "required": true,
            "example": "<nil>"
          },
          {
            "name": "version",
            "in": "query",
            "description": "榜单版本：空值默认为本周榜单",
            "required": false,
            "example": "<nil>"
          }
        ],
        "responses": {
          "default": {
            "description": "获取抖音电影榜、抖音电视剧榜、抖音综艺榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/platform/oauth/connect/": {
      "get": {
        "tags": [
          "account-permission"
        ],
        "description": "### 前提条件\n* 需要去官网为应用申请 scope 的使用权限。\n* 需要在本接口的 scope 传参中填上需要用户授权的 scope，多个 scope 以逗号分割。\n* 用户授权通过后，应用有权限通过 access_token 调用相应接口。\n\n### 注意事项\n* 抖音的 OAuth API 以 https://open.douyin.com 开头\n* 打开该 URL 后，页面会出现一个二维码，用户扫描该二维码即可授权。在抖音 App 支持端内唤醒的版本内打开的话会弹出客户端原生授权页面。\n* 获取的 code 可以用来调用 https://open.douyin.com/oauth/access_token/ 换取用户 acccess_token。\n\n",
        "parameters": [
          {
            "name": "client_key",
            "in": "query",
            "description": "应用唯一标识",
            "required": true,
            "example": "<nil>"
          },
          {
            "name": "response_type",
            "in": "query",
            "description": "写死为 code 即可",
            "required": true,
            "example": "<nil>"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "应用授权作用域，多个授权作用域以英文逗号（,）分隔",
            "required": true,
            "example": "<nil>"
          },
          {
            "name": "optionalScope",
            "in": "query",
            "description": "应用授权可选作用域，多个授权作用域以英文逗号（,）分隔，每一个授权作用域后需要加上一个是否默认勾选的参数。* 1：勾选* 0：不勾选",
            "required": false,
            "example": "optionalScope=friend_relation,1,message,0"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "授权成功后的回调地址，必须以 http/https 开头，存在（#）等特殊符号时请对回调地址做 urlEncode 处理。地址必须对应申请应用时填写的重定向 URL，仅校验（#）前的内容。如不清楚请联系应用申请人。 例：配置的重定向 uri 为 https://aa.bb.cc/dd/，授权时传的 redirect_uri 为 https://aa.bb.cc/dd/#xxxx 则授权时会截取 redirect_uri 中 # 号前的 https://aa.bb.cc/dd/ 进行校验，判断是否存在配置中。",
            "required": true,
            "example": "<nil>"
          },
          {
            "name": "state",
            "in": "query",
            "description": "用于保持请求和回调的状态",
            "required": false,
            "example": "<nil>"
          }
        ],
        "responses": {
          "default": {
            "description": "抖音获取授权码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/api/match/v1/taskbox/query_app_task_id/": {
      "post": {
        "tags": [
          "taskbox"
        ],
        "description": "* 撮合中介开通后，对应小程序在小程序推广计划中创建推广任务后，可查询相应小程序的投稿任务数据\n\n",
        "requestBody": {
          "description": "* 撮合中介开通后，对应小程序在小程序推广计划中创建推广任务后，可查询相应小程序的投稿任务数据\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appid": {
                    "type": "string",
                    "description": "查询的小程序 appid",
                    "example": "abcdefgh123456"
                  },
                  "create_start_time": {
                    "type": "number",
                    "description": "任务创建起始时间，秒级时间戳",
                    "example": "秒级时间戳，例如 1657728000 表示 2022-07-14 00:00:00"
                  },
                  "create_end_time": {
                    "type": "number",
                    "description": "任务创建终止时间，秒级时间戳时间参数限制：create_end_time > create_start_time 且 (create_end_time - create_start_time) <= 7 天",
                    "example": "秒级时间戳，例如 1658073600 表示2022-07-18 00:00:00"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "查询小程序任务台任务ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryAppTaskIdResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"log_id\": \"202008121419360101980821035705926A\",\n  \"data\": {\n      \"task_ids\": [1130941336206704680, 1130954062622638121, 1130965975075143722]\n  }\n}\n]\n"
                  },
                  "failed": {
                    "value": "[\n{\n  \"err_no\": 28001007,\n  \"err_msg\": \"参数不合法\",\n  \"log_id\": \"202008121419360101980821035705926A\",\n  \"data\": {\n      \"task_ids\": []\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/data/extern/billboard/cospa/brain_cavity/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "脑洞",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrainCavityResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/video/comment/list/": {
      "get": {
        "tags": [
          "enterprise-open-ability"
        ],
        "description": "<a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(28, 31, 35); margin-right: 10px;\">Scope: video.comment</a> <a target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(82, 196, 26); margin-right: 10px;\">需要申请权限</a> <a href=\"https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/sdk/mobile-app/permission/overall-permission\" target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(245, 34, 45); margin-right: 10px;\">需要用户授权</a> 该接口用于查看指定视频的实时评论列表。",
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。",
            "required": false,
            "example": "0"
          },
          {
            "name": "count",
            "in": "query",
            "description": "每页的数量，最大不超过50，最小不低于1",
            "required": true,
            "example": "10"
          },
          {
            "name": "item_id",
            "in": "query",
            "description": "视频id",
            "required": true,
            "example": "@8hxdhauTCMppanGnM4ltGM780mDqPP+KPpR0qQOmLVAXb/T060zdRmYqig357zEBq6CZRp4NVe6qLIJW/V/x1w=="
          }
        ],
        "responses": {
          "default": {
            "description": "评论列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/market/service/user/delete/purchase/info/": {
      "post": {
        "tags": [
          "service-market"
        ],
        "description": "<ul><li><span style=\"color: #24292E;\">注意事项：抖音的 OAuth API 以 </span><span style=\"color: #0366D6;\"><span style=\"background-color: #00000000;\"><a href=\"https://open.douyin.com/\" target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(3, 102, 214); margin-right: 0px;\">https://open.douyin.com</a></span></span> 开头</li></ul>\n\n",
        "requestBody": {
          "description": "<ul><li><span style=\"color: #24292E;\">注意事项：抖音的 OAuth API 以 </span><span style=\"color: #0366D6;\"><span style=\"background-color: #00000000;\"><a href=\"https://open.douyin.com/\" target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(3, 102, 214); margin-right: 0px;\">https://open.douyin.com</a></span></span> 开头</li></ul>\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "open_id": {
                    "type": "string",
                    "description": "通过/oauth/access_token/获取，用户的唯一标志",
                    "example": "ba253642-0590-40bc-9bdf-9a1334******"
                  },
                  "service_id": {
                    "type": "string",
                    "description": "用户订购的服务id，由服务市场生成的服务唯一标识，可在发布“平台应用类”功能中【应用配置页】和【服务详情页】获取",
                    "example": "7021602203591******"
                  },
                  "service_mode_id": {
                    "type": "string",
                    "description": "用户订购的服务规格id，由服务商在创建服务时设置，可在发布“平台应用类”功能中【应用配置页】和【服务详情页】获取",
                    "example": "free"
                  },
                  "out_trade_no": {
                    "type": "string",
                    "description": "外部开发者单号id，用于唯一标识同一服务同一规格下要删除的订购数据和保证当前撤销操作的幂等性",
                    "example": null
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "删除导入的外部订购数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393\n  }\n}\n"
                  },
                  "failed": {
                    "value": "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"log_id\": \"2020070614111601022506808001045D59\",\n    \"now\": 1594015876138\n  }\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/room/data/base/get/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "description": "* 接口只返回直播间状态为完全公开的指标数据\n* 接口默认返回最近一个时间分区的指标数据，每个时间分区内指标的有效期是30天\n* 指标的产出时效是t+1，每天上午8点才能产出昨日完整数据\n\n",
        "responses": {
          "default": {
            "description": "获取直播间基础数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/data/extern/billboard/cospa/new/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "二次元新势力榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/video/search/": {
      "get": {
        "tags": [
          "search-management"
        ],
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。",
            "required": false,
            "example": "0"
          },
          {
            "name": "count",
            "in": "query",
            "description": "每页数量",
            "required": true,
            "example": "10"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "关键词",
            "required": true,
            "example": ""
          }
        ],
        "responses": {
          "default": {
            "description": "关键词视频搜索",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/task/posting/user/": {
      "post": {
        "tags": [
          null
        ],
        "description": "无\n\n",
        "requestBody": {
          "description": "无\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "核销投稿任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "{\n  \"data\": {\n    \"result\": true,\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"2023050516592764C2924BA9979009D249\",\n    \"now\": 1683277168\n  }\n}\n"
                  },
                  "failed": {
                    "value": "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  },\n  \"extra\": {\n    \"description\": \"参数不合法\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202305051653529635CB4F09989324124\",\n    \"now\": 1648731843045,\n    \"error_code\": 2100005\n  }\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/data/extern/billboard/music/hot/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "热歌榜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/item/comment/reply/": {
      "post": {
        "tags": [
          null
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "回复视频评论",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplyResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/api/match/v1/taskbox/query_agency_video_daily_data/": {
      "post": {
        "tags": [
          "taskbox"
        ],
        "description": "* 中介可查询其下所有合作期间的视频，通过传入达人抖音号，团长ID，小程序appid进行筛选，按中介自身平台所需筛选查询。\n\n",
        "requestBody": {
          "description": "* 中介可查询其下所有合作期间的视频，通过传入达人抖音号，团长ID，小程序appid进行筛选，按中介自身平台所需筛选查询。\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_publish_start_time": {
                    "type": "integer",
                    "description": "视频发布的起始时间戳",
                    "format": "int32",
                    "example": "1683689418距离当前日期不能超过90天"
                  },
                  "video_publish_end_time": {
                    "type": "integer",
                    "description": "最大的视频发布时间戳",
                    "format": "int32",
                    "example": "1683689419"
                  },
                  "douyin_id": {
                    "type": "string",
                    "description": "达人抖音号",
                    "example": "7932234"
                  },
                  "app_id": {
                    "type": "string",
                    "description": "撮合中介合作的小程序appid",
                    "example": "ttec789ac573xxxxxx01"
                  },
                  "agent_id": {
                    "type": "integer",
                    "description": "抖音侧团长ID，通过创建团长接口获取",
                    "format": "int32",
                    "example": "135436486735424"
                  },
                  "billing_date": {
                    "type": "string",
                    "description": "计费日期",
                    "example": "2023-08-28"
                  },
                  "page_no": {
                    "type": "integer",
                    "description": "页号",
                    "format": "int32",
                    "example": "1"
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "页大小",
                    "format": "int32",
                    "example": "10，最大不能超过10000"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "查询视频每日明细数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryAgencyVideoDailyDataResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n  \"data\":{\n      \"results\":[\n         {\n            \"VideoId\": 0,\n            \"TaskId\": 0,\n            \"TaskName\": \"\",\n            \"PublishTime\": 0,\n            \"Author\": \"\",\n            \"DouyinID\": \"\",\n            \"VideoTitle\": \"\",\n            \"MicroAppTitle\": \"\",\n            \"VideoLink\": \"\",\n            \"AgentID\": \"\",\n            \"TalentProfit1d\": 0,\n            \"GMV1d\": 0,\n            \"RefundGMV1d\": 0,\n            \"AdShareCost1d\": 0,\n            \"FeedAdShareCost1d\": 0,\n            \"BillingRefundGMV1d\": 0,\n            \"BillingGMV1d\": 0,\n            \"date\": \"2022-10-10\"\n        }]\n   }\n}\n]\n"
                  },
                  "failed": {
                    "value": "[\n{\n  \"err_no\": 29005005,\n  \"err_msg\": \"系统内部错误，请重试\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/data/extern/billboard/cospa/painting/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "绘画",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaintingResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/market/service/user/purchase/list/": {
      "get": {
        "tags": [
          "service-market"
        ],
        "description": "<ul><li><span style=\"color: #24292E;\">业务场景</span></li><ul><li><span style=\"color: #24292E;\">对于未设置体验版、定制版、标准版的服务，不返回服务规格类型 specification_type</span></li><li><span style=\"color: #24292E;\">响应参数中的 remain_service_times、effective_time 和 expire_time，根据服务周期的不同返回不同的结果：</span></li><ul><li><span style=\"color: #24292E;\">对于服务周期为“按次服务”和“按条服务”的服务，返回 remain_service_times</span></li><li><span style=\"color: #24292E;\">对于服务周期为“时间类型”的服务，返回 effective_time 和 expire_time</span></li></ul><li><span style=\"color: #24292E;\">对于服务周期为“时间类型”且时间设置为“永久”的服务，expire_time 固定返回-1</span></li><li><span style=\"color: #24292E;\">为了方便服务商对创建的服务进行测试，允许服务商在服务创建/修改界面中配置测试用户白名单。对于测试环境和 open_id 为白名单中的用户，使用下面的逻辑进行返回：</span></li></ul></ul>\n<table style=\"width: 928px;\"><colgroup><col style=\"width: 254px;\"><col style=\"width: 107px;\"><col style=\"width: 567px;\"></colgroup><tbody><tr><th colspan=\"1\" rowspan=\"1\" data-colwidth=\"254\"><p><span style=\"color: #373C43;\"><span style=\"background-color: #F6F7F9;\">环境</span></span></p></th><th colspan=\"1\" rowspan=\"1\" data-colwidth=\"107\"><p><span style=\"color: #373C43;\"><span style=\"background-color: #F6F7F9;\">是否为白名单用户</span></span></p></th><th colspan=\"1\" rowspan=\"1\" data-colwidth=\"567\"><p><span style=\"color: #373C43;\"><span style=\"background-color: #F6F7F9;\">处理逻辑</span></span></p></th></tr><tr><td colspan=\"1\" rowspan=\"2\" data-colwidth=\"254\"><p><span style=\"color: #373C43;\">测试环境</span></p><p><span style=\"color: #373C43;\">（请求参数：is_test_env = true）</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"107\"><p><span style=\"color: #373C43;\">是</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"567\"><ul><li><span style=\"color: #373C43;\">服务周期为“按次服务”或“按条服务”的服务，remain_service_times固定返回1</span></li><li><span style=\"color: #373C43;\">服务周期为“时间类型”的服务，effective_time和expire_time固定返回-1</span></li></ul></td></tr><tr><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"254\"><p><span style=\"color: #373C43;\">否</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"107\"><p><span style=\"color: #373C43;\">返回空数据</span></p></td></tr><tr><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"254\"><p><span style=\"color: #373C43;\">正式环境</span></p><p><span style=\"color: #373C43;\">（请求参数：is_test_env = false）</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"107\"><p><span style=\"color: #373C43;\">是/否</span></p></td><td colspan=\"1\" rowspan=\"1\" data-colwidth=\"567\"><p><span style=\"color: #373C43;\">根据用户实际购买情况返回</span></p></td></tr></tbody></table> \n<ul><li><span style=\"color: #24292E;\">注意事项：抖音的 OAuth API 以 </span><span style=\"color: #0366D6;\"><span style=\"background-color: #00000000;\"><a href=\"https://open.douyin.com/\" target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(3, 102, 214); margin-right: 0px;\">https://open.douyin.com</a></span></span> 开头</li></ul>\n\n",
        "responses": {
          "default": {
            "description": "查询用户的服务购买信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"purchase_info_list\": [\n      {\n        \"service_id\": \"7021602203591******\",\n        \"service_name\": \"服务名称\",\n        \"service_status\": 1,\n        \"specification_type\": 1,\n        \"specification_title\": \"体验版\",\n        \"service_mode_id\": \"free\",\n        \"remain_service_times\": 10\n      },\n      {\n        \"service_id\": \"7021602203591******\",\n        \"service_name\": \"服务名称\",\n        \"service_status\": 1,\n        \"specification_type\": 3,\n        \"specification_title\": \"标准版\",\n        \"service_mode_id\": \"standard_1\",\n        \"effective_time\": 1651409686000,\n        \"expire_time\": 1651841686602\n      }\n    ]\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393\n  }\n}\n"
                  },
                  "failed": {
                    "value": "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"log_id\": \"2020070614111601022506808001045D59\",\n    \"now\": 1594015876138\n  }\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/data/external/item/like/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          {
            "name": "item_id",
            "in": "query",
            "description": "item_id，仅能查询access_token对应用户上传的视频",
            "required": true,
            "example": ""
          },
          {
            "name": "date_type",
            "in": "query",
            "description": "数据范围，只支持近7/15/30天",
            "required": true,
            "example": "7"
          }
        ],
        "responses": {
          "default": {
            "description": "获取视频点赞数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/tool/imagex/client_upload/": {
      "post": {
        "tags": [
          null
        ],
        "description": "* 返回的 image_id，可用于 创建/更新留资卡片, 创建更新小程序引导卡片模板 等接口的图片参数\n\n",
        "requestBody": {
          "description": "* 返回的 image_id，可用于 创建/更新留资卡片, 创建更新小程序引导卡片模板 等接口的图片参数\n\n",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "图片",
                    "format": "binary",
                    "example": "image"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "图片上传",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientUploadResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "[{\n  \"extra\": {\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1648797449,\n    \"logid\": \"021648797449846fd1b1111000700600000000000000086dfb920\",\n    \"error_code\": 0\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"image_id\":\"@baihq==\",\n  \"width\":111\n  \"height\":111\n  \"md5\":\"\"\n}\n]\n"
                  },
                  "failed": {
                    "value": "[{\n  \"extra\": {\n    \"sub_description\": \"\",\n    \"sub_error_code\": 0,\n    \"description\": \"参数不合法\",\n    \"error_code\": 2100005,\n    \"logid\": \"202203271807199888808121990491456D\",\n    \"now\": 1648375639\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/im/del/retain_consult_card/": {
      "get": {
        "tags": [
          null
        ],
        "description": "无\n\n",
        "parameters": [
          {
            "name": "card_id",
            "in": "query",
            "description": "卡片 ID",
            "required": true,
            "example": "@72MqHzC5kqIEgB56A10R9n1psNsNe8gPbkeqQAHKbHqoQ5jL3za3OAGvMtWtnszA"
          },
          {
            "name": "open_id",
            "in": "query",
            "description": "调用 /oauth/access_token/ 获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          }
        ],
        "responses": {
          "default": {
            "description": "删除留资卡片",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetainConsultCardResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "{\n  \"extra\": {\n    \"logid\": \"2022081013405301017425518105798161\",\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1660110053\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\"\n  }\n}\n"
                  },
                  "failed": {
                    "value": "{\n  \"extra\": {\n    \"sub_description\": \"\",\n    \"sub_error_code\": 0,\n    \"description\": \"参数不合法\",\n    \"error_code\": 2100005,\n    \"logid\": \"202203271807199888808121990491456D\",\n    \"now\": 1648375639\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/api/douyin/v1/schema/get_chat/": {
      "post": {
        "tags": [
          null
        ],
        "description": "<ul><li>接口返回的schema字段可以直接扫码拉起抖音</li><li>入参中的过期时间为生产短链的过期时间，实际跳转同样会受用户账号状态的影响。</li><li>open_id与account字段至少要传入一个用于指定用户，同时传入时会选用open_id。请注意open_id与client token的对应关系</li></ul>\n\n",
        "requestBody": {
          "description": "<ul><li>接口返回的schema字段可以直接扫码拉起抖音</li><li>入参中的过期时间为生产短链的过期时间，实际跳转同样会受用户账号状态的影响。</li><li>open_id与account字段至少要传入一个用于指定用户，同时传入时会选用open_id。请注意open_id与client token的对应关系</li></ul>\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "description": "个人会话页跳转链接获取",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChatResponse"
                },
                "examples": {
                  "succeed": {
                    "value": "{\n  \"data\": {\n    \"schema\": \"snssdk1128://webview?url=https%3A%2F%2Fopen.douyin.com%2Fplatform%2Foauth%2Fslink%2F%3Ftoken%3D3f88af29866b5e15e0cd70390181d2d9d2a7%26client_key%3Dawr8bfr64vxgk036\"\n  },\n  \"err_msg\": \"\",\n  \"err_no\": 0,\n  \"log_id\": \"2023030419213553F1D75DDEBBF96B037B\"\n}\n"
                  },
                  "failed": {
                    "value": "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\",\n  \"log_id\": \"20220919151647010174244209010DE6B6\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": [
        {
          "url": "https:open.douyin.com"
        }
      ]
    },
    "/data/extern/billboard/cospa/out_shot/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "responses": {
          "default": {
            "description": "出境拍摄",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutShotResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/data/external/item/comment/": {
      "get": {
        "tags": [
          "data-open-service"
        ],
        "parameters": [
          {
            "name": "date_type",
            "in": "query",
            "description": "近7/15天；输入7代表7天、15代表15天",
            "required": true,
            "example": ""
          },
          {
            "name": "open_id",
            "in": "query",
            "description": "通过/oauth/access_token/获取，用户唯一标志",
            "required": true,
            "example": "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          {
            "name": "item_id",
            "in": "query",
            "description": "item_id，仅能查询access_token对应用户上传的视频",
            "required": true,
            "example": ""
          }
        ],
        "responses": {
          "default": {
            "description": "获取视频评论数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                },
                "examples": {
                  "succeed": {
                    "value": null
                  },
                  "failed": {
                    "value": null
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://open.douyin.com/"
          }
        ]
      },
      "servers": []
    },
    "/api/match/v1/taskbox/query_agency_video_sum_data/": {
      "post": {
        "tags": [
          "taskbox"
        ],
        "description": "* 支持撮合中介通过传入达人抖音号，团长ID，合作小程序appid，查询旗下团长绑定的达人在合作期间发布的小程序推广计划投稿视频的汇总数据。\n* 不同类型任务平台结算数据产出时间不确定，建议开发者T+1日来查询T日数据。\n\n",
        "requestBody": {
          "description": "* 支持撮合中介通过传入达人抖音号，团长ID，合作小程序appid，查询旗下团长绑定的达人在合作期间发布的小程序推广计划投稿视频的汇总数据。\n* 不同类型任务平台结算数据产出时间不确定，建议开发者T+1日来查询T日数据。\n\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_publish_start_time": {
                    "type": "integer",
                    "description": "视频发布的起始时间，秒级时间戳",
                    "format": "int32",
                    "example": "1683689418距离当前日期不能超过90天"
                  },
                  "video_publish_end_time": {
                    "type": "integer",
                    "description": "视频发布的结束时间，秒级时间戳",
                    "format": "int32",
                    "example": "1683689419"
                  },
                  "douyin_id": {
[...]
