{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "门店管理",
    "version" : "0.0.1"
  },
  "externalDocs" : {
    "description" : "门店管理",
    "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.shop"
  },
  "servers" : [ {
    "url" : "https://open.douyin.com/"
  } ],
  "tags" : [ {
    "name" : "life.capacity.fulfilment",
    "description" : "团购核销",
    "externalDocs" : {
      "description" : "团购核销",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.fulfilment"
    }
  }, {
    "name" : "life.capacity.billing",
    "description" : "团购对账",
    "externalDocs" : {
      "description" : "团购对账",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.billing"
    }
  }, {
    "name" : "member",
    "description" : "会员接入",
    "externalDocs" : {
      "description" : "会员接入",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/member"
    }
  }, {
    "name" : "order.query",
    "description" : "订单查询",
    "externalDocs" : {
      "description" : "订单查询",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/order.query"
    }
  }, {
    "name" : "tripartite.code",
    "description" : "三方码",
    "externalDocs" : {
      "description" : "三方码",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/tripartite.code"
    }
  }, {
    "name" : "goods",
    "description" : "商品发布及查询",
    "externalDocs" : {
      "description" : "商品发布及查询",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods"
    }
  }, {
    "name" : "reservecode",
    "description" : "预置码",
    "externalDocs" : {
      "description" : "预置码",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/reservecode"
    }
  }, {
    "name" : "info",
    "description" : "客资查询",
    "externalDocs" : {
      "description" : "客资查询",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/info"
    }
  }, {
    "name" : "akte_saas",
    "description" : "餐饮团购",
    "externalDocs" : {
      "description" : "餐饮团购",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/akte_saas"
    }
  } ],
  "paths" : {
    "takeout/refundapply" : {
      "post" : {
        "tags" : [ "takeout" ],
        "description" : "<ol start=\"1\"><li>当用户发起退款申请，且需要商家审核时，需要通过此接口发消息给第三方系统。</li><li>收到用户申请退款消息后，可立即返回处理结果：同意、拒绝、处理中；也可先返回“处理中”，然后再异步处理。建议先返回“处理中”，待商家处理后再异步通过「商家同意/拒绝退款接口」同步处理结果。</li></ol>\n\n",
        "requestBody" : {
          "description" : "<ol start=\"1\"><li>当用户发起退款申请，且需要商家审核时，需要通过此接口发消息给第三方系统。</li><li>收到用户申请退款消息后，可立即返回处理结果：同意、拒绝、处理中；也可先返回“处理中”，然后再异步处理。建议先返回“处理中”，待商家处理后再异步通过「商家同意/拒绝退款接口」同步处理结果。</li></ol>\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "用户申请退款消息",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefundapplyResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"result\": 3,\n    \"reject_reason\": {\n      \"reason_code\": [123, 234],\n      \"desc\": \"不想要了\",\n      \"show_reason\": [\n        {\n          \"reason_code\": \"123\",\n          \"msg\": \"货品不足\"\n        },\n        {\n          \"reason_code\": \"234\",\n          \"msg\": \"已经打烊\"\n        }\n      ]\n    },\n    \"error_code\": 0\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/goodlife/v1/goods/stock/sync/" : {
      "post" : {
        "tags" : [ "goods" ],
        "description" : "无\n\n",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "product_id" : {
                    "type" : "string",
                    "description" : "商品id(若有第三方id可不传）",
                    "example" : null
                  },
                  "out_id" : {
                    "type" : "string",
                    "description" : "商品第三方id",
                    "example" : null
                  },
                  "stock" : {
                    "type" : "object",
                    "properties" : {
                      "limit_type" : {
                        "type" : "integer",
                        "description" : "库存上限类型，为2时stock_qty和avail_qty字段无意义 1-有限库存 2-无限库存",
                        "format" : "int32",
                        "example" : null
                      },
                      "stock_qty" : {
                        "type" : "integer",
                        "description" : "总库存，limit_type=2时无意义",
                        "format" : "int32",
                        "example" : null
                      }
                    },
                    "description" : "库存信息",
                    "example" : null
                  },
                  "account_id" : {
                    "type" : "string",
                    "description" : "商家ID，传入时服务商须与该商家满足授权关系",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "同步库存",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SyncResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"xxx\",\n    \"now\": 1651113600\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "presale/createorder" : {
      "post" : {
        "tags" : [ "JiuLv" ],
        "description" : "1、创单请求成功：务必确保状态码为 0；\n\n2、创单请求失败：不可下单情况需要服务商返回原因，如果不在列举的原因内，服务商返回 error_code=20 并附加失败原因；\n\n",
        "requestBody" : {
          "description" : "1、创单请求成功：务必确保状态码为 0；\n\n2、创单请求失败：不可下单情况需要服务商返回原因，如果不在列举的原因内，服务商返回 error_code=20 并附加失败原因；\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "order_id" : {
                    "type" : "string",
                    "description" : "抖音订单ID",
                    "example" : null
                  },
                  "sku_id" : {
                    "type" : "string",
                    "description" : "抖音的商品ID",
                    "example" : null
                  },
                  "count" : {
                    "type" : "integer",
                    "description" : "该笔订单包含的券数量",
                    "format" : "int32",
                    "example" : null
                  },
                  "order_item_id" : {
                    "type" : "array",
                    "description" : "券维度的订单id",
                    "items" : {
                      "type" : "object",
                      "properties" : { }
                    },
                    "example" : null
                  },
                  "third_sku_id" : {
                    "type" : "string",
                    "description" : "三方服务商侧的商品ID",
                    "example" : null
                  },
                  "order_type" : {
                    "type" : "integer",
                    "description" : "订单类型，21-团购 31-预售 41-配送",
                    "format" : "int32",
                    "example" : null
                  },
                  "original_amount" : {
                    "type" : "integer",
                    "description" : "原始金额,单位分（含税）",
                    "format" : "int32",
                    "example" : null
                  },
                  "currency_code" : {
                    "type" : "string",
                    "description" : "货币类型(默认人民币CNY)",
                    "example" : null
                  },
                  "create_order_time" : {
                    "type" : "integer",
                    "description" : "订单创建时间 时间戳（秒）",
                    "format" : "int32",
                    "example" : null
                  },
                  "contact" : {
                    "type" : "object",
                    "properties" : {
                      "phone" : {
                        "type" : "string",
                        "description" : "联系电话（脱敏）",
                        "example" : null
                      },
                      "name" : {
                        "type" : "string",
                        "description" : "姓名",
                        "example" : null
                      }
                    },
                    "description" : "联系人信息",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "下单",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateorderResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/goodlife/v1/partner/order/create/" : {
      "post" : {
        "tags" : [ "paterner" ],
        "description" : "无\n\n",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "string",
                    "description" : "商家id（注意：并不是PoiID/门店id，请看右边截图-右上角为account_id）",
                    "example" : "7063315566466975788"
                  },
                  "cooperation_content" : {
                    "type" : "integer",
                    "description" : "合作类型。 5 表示代运营，当前只有 5",
                    "format" : "int32",
                    "example" : null
                  },
                  "start_time" : {
                    "type" : "integer",
                    "description" : "合作开始时间，精确到秒，不能选择过去的时间",
                    "format" : "int32",
                    "example" : "1671955800"
                  },
                  "end_time" : {
                    "type" : "integer",
                    "description" : "合作结束时间，精确到秒，合作时间不得小于 3 个月",
                    "format" : "int32",
                    "example" : "1698221400"
                  },
                  "charge_type" : {
                    "type" : "integer",
                    "description" : "收费类型： 1：整体抽佣 2：商品单独抽佣",
                    "format" : "int32",
                    "example" : "1"
                  },
                  "commission_ratio" : {
                    "type" : "string",
                    "description" : "商品分佣比例，万分位（\"1234\"表示服务商分佣比例 12.34%）。 注意：仅当整体抽佣需要传入该字段",
                    "example" : "1234"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "创建合作关系",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "goods/goods.audit" : {
      "post" : {
        "tags" : [ "goods" ],
        "description" : "1、消息可能重复推送，请使用 Msg_Id 进行去重处理！\n\n2、信息推送使用说明参考：<a href=\"https://partner.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/life-service-open-ability/life.capacity/beforeinsert/massages.push\" target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(60, 137, 255); margin-right: 0px;\">生活服务消息推送</a>\n\n",
        "requestBody" : {
          "description" : "1、消息可能重复推送，请使用 Msg_Id 进行去重处理！\n\n2、信息推送使用说明参考：<a href=\"https://partner.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/life-service-open-ability/life.capacity/beforeinsert/massages.push\" target=\"_blank\" rel=\"nofollow noreferrer\" style=\"color: rgb(60, 137, 255); margin-right: 0px;\">生活服务消息推送</a>\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "商品审核结果同步",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "Goods.auditResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/goodlife/v1/settle/bill/query_leger_url/" : {
      "get" : {
        "tags" : [ "life.capacity.billing" ],
        "description" : "<ol start=\"1\"><li>查询离分账单下载的url</li></ol>\n\n",
        "responses" : {
          "default" : {
            "description" : "离线分账单下载url",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryLegerUrlResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"extra\": {\n    \"description\": \"success\",\n    \"error_code\": 0,\n    \"logid\": \"20230322164012FB09AEAF23D9A802F75C\",\n    \"now\": 1679474413,\n    \"sub_description\": \"\",\n    \"sub_error_code\": 0\n  },\n  \"urls\": [\n    \"https://sf6-sign.douyinstatic.com/aweme-namek-secret/download_record_hive/bill_record/bill_ledger/7212930162071963708.xlsx?x-expires=1682152813&x-signature=EgzI%2BdKQxYZWgSMLypD5xIl17zA%3D\"\n  ],\n  \"data\": {\n    \"description\": \"success\",\n    \"error_code\": 0\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/goodlife/v1/settle/ledger/query_by_order/" : {
      "get" : {
        "tags" : [ null ],
        "description" : "<ol start=\"1\"><li>根据订单id查询订单分账明细，支持批量查询</li><li>此接口适用于技术服务商，不支持查询达人佣金、平台服务费等敏感数据</li><li>订单完成后才会生成分账信息，请勿提前查询</li><li>计算公式：全推（平台配送）：实际订单扣完配送费商家赚的钱=商家货款-商家出配送费 -商家出小费（支付给平台）-商家对用户补贴（全推才减） =merchant_amount-merchant_freight-merchant_tip-user_delivery_merchant_subsidy自配送：实际订单扣完配送费商家赚的钱=商家货款+用户支付配送费=merchant_amount+pay_amount</li></ol>\n\n",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "分账商家id",
          "required" : true
        }, {
          "name" : "order_ids",
          "in" : "query",
          "description" : "订单ids",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "根据订单id查询分账明细",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryByOrderResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"ledger_records\": {\n      \"11224112312\": {\n        \"cursor\": \"7064492324109305863\",\n        \"ledger_id\": \"7064492324109305863\",\n        \"verify_id\": \"7064491846000592903\",\n        \"certificate_id\": \"7064423012048865293\",\n        \"order_id\": \"7062268392329758757\",\n        \"verify_time\": 1644830204,\n        \"status\": 2,\n        \"code\": \"100566718260\",\n        \"amount\": {\n          \"amount\": {\n            \"original\": 50,\n            \"pay\": 45,\n            \"merchant_ticket\": 0\n            \"goods\": 50,\n            \"pay_handling\": 0,\n            \"talent_commission\": 0\n          }\n        },\n        \"goods\": {\n          \"sku_id\": \"1721554180176909\",\n          \"title\": \"测试结算中台分店\",\n          \"market_price\": 500,\n          \"sold_start_time\": 1641801900\n        }\n      }\n  },\n  \"ledger_second_records\": {\n      \"11224112312\": {\n        \"cursor\": \"7064492324109305863\",\n        \"ledger_id\": \"7064492324109305863\",\n        \"verify_id\": \"7064491846000592903\",\n        \"order_id\": \"7062268392329758757\",\n        \"verify_time\": 1644830204,\n        \"status\": 2,\n        \"amount\": {\n          \"amount\": {\n            \"merchant_freight\": 50,\n            \"merchant_tip\": 45,\n            \"merchant_cancel_freight\": 0\n            \"platform_duty_freight\": 50,\n            \"platform_duty_tip\": 0\n          }\n        },\n        \"goods\": {\n          \"sku_id\": \"1721554180176909\",\n          \"title\": \"测试结算中台分店\",\n          \"market_price\": 500,\n          \"sold_start_time\": 1641801900\n        }\n      }\n  }\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"logid\": \"xxxxxxxxxxxxxx\",\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/goodlife/v1/trip/ticket/save" : {
      "post" : {
        "tags" : [ null ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "string",
                    "description" : "商家ID；传入时服务商须与该商家满足授权关系，在开平应用详情的授权管理界面可以查看",
                    "example" : null
                  },
                  "ticket" : {
                    "type" : "object",
                    "properties" : {
                      "other_note" : {
                        "type" : "string",
                        "description" : "其他说明信息",
                        "example" : null
                      },
                      "fee_not_include" : {
                        "type" : "string",
                        "description" : "费用不包含说明，纯文本",
                        "example" : null
                      },
                      "refund_rule" : {
                        "type" : "object",
                        "properties" : {
                          "refund_type" : {
                            "type" : "integer",
                            "description" : "退改规则类型",
                            "format" : "int32",
                            "example" : "1 ： 未使用随时退 2 ： 不可退 3： 有条件退"
                          },
                          "refund_details" : {
                            "type" : "array",
                            "description" : "当退改规则类型为有条件退时，此字段必填，可以多个时段阶梯组合",
                            "example" : "注1. 除有条件退外，其他类型不要传此字段 注2. 当退款时间为负，对应时间未使用后，自动核销",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "refund_time" : {
                                  "type" : "integer",
                                  "description" : "当退改规则类型为有条件退时，此字段必填，单位秒 有条件退支持配置使用日期后的配置",
                                  "format" : "int32",
                                  "example" : "正整数为入园日24点前 负整数为入园日24点后计算"
                                },
                                "refund_fee" : {
                                  "type" : "integer",
                                  "description" : "当退改规则类型为有条件退时，此字段必填 金额：fee=1000等价于10rmb，单位分 比例：fee=100等价于 1%， 万分位 注意：退款金额应小于成交金额（比例应小于100%），否则订单将不可退",
                                  "format" : "int32",
                                  "example" : null
                                },
                                "refund_fee_type" : {
                                  "type" : "integer",
                                  "description" : "当退改规则类型为有条件退时，此字段必填",
                                  "format" : "int32",
                                  "example" : "1.金额 2.比例 （按卖价金额的比例计算）"
                                }
                              }
                            }
                          },
                          "auto_refund_time" : {
                            "type" : "integer",
                            "description" : "自动退款时间，单位秒； 从离园日24点往后计算，到达时间点后系统执行自动退款，退款节点按小时执行； 若选择未使用随时退，此字段生效，表示系统自动退款（如果只填写auto_refund_time，refund_type不是1，则该字段不生效）； 若选择未用随时退，未填写该字段，则表示离园日24点自动退款",
                            "format" : "int32",
                            "example" : null
                          }
                        },
                        "description" : "退改规则",
                        "example" : "\"refund_rule\": {\n    \"refund_type\": 3, // 有条件退\n    \"refund_details\":[{\n        \"refund_time\": 86400, // 提前一天\n        \"refund_fee_type\": 2, // 百分比\n        \"refund_fee\": 5000 // 50%\n    }]\n}\n// 该示例表示在游玩前1天24:00之前，可以退款50%，在之后不可退\n// eg. 用户预约5.3日的门票，5.2晚24点前退收50%手续费，5.3日0点后不可退"
                      },
                      "ticket_rule" : {
                        "type" : "object",
                        "properties" : {
                          "code_note" : {
                            "type" : "string",
                            "description" : "凭证文案说明",
                            "example" : null
                          },
                          "code_sending_info" : {
                            "type" : "array",
                            "description" : "凭证发放方式，多选 （建议全部写入list，凭证回调时，如果有额外类型的凭证会报错）",
                            "example" : "1 身份证 2 券号 3 券码",
                            "items" : {
                              "type" : "integer",
                              "format" : "int32"
                            }
                          },
                          "code_type" : {
                            "type" : "integer",
                            "description" : "券码类型，当凭证方式为券码时，此字段必填 日历票必填code_type = 2",
                            "format" : "int32",
                            "example" : "2 第三方券"
                          }
                        },
                        "description" : "票务规则，包含凭证方式、券码类型、券码服务商",
                        "example" : null
                      },
                      "opening_time" : {
                        "type" : "object",
                        "properties" : {
                          "earliest_time" : {
                            "type" : "integer",
                            "description" : "当前景区门票最早入园时间 单位秒 如果传0 为0点钟 必须小于86400（24小时）",
                            "format" : "int32",
                            "example" : "3600 最早凌晨1点入园"
                          },
                          "latest_time" : {
                            "type" : "integer",
                            "description" : "当前景区门票最晚入园时间 单位秒 必须小于等于86400（24小时）",
                            "format" : "int32",
                            "example" : null
                          }
                        },
                        "description" : "当前景区门票，在游玩当天，可以在园内的游览时间",
                        "example" : "Null 默认取POI入园时间"
                      },
                      "test_uid" : {
                        "type" : "object",
                        "properties" : { },
                        "description" : "传入上述测试商品的uid",
                        "example" : null
                      },
                      "crowds" : {
                        "type" : "array",
                        "description" : "商品适用人群，可上传多个",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "crowd_type" : {
                              "type" : "integer",
                              "description" : "人群类型，只能传入已定义的人群枚举，人群的定义通过创建适用人群获取，crowd_type = -1 为无限制",
                              "format" : "int32",
                              "example" : null
                            },
                            "crowd_num" : {
                              "type" : "integer",
                              "description" : "人群数量，此人群的适用人数，当 crowd_type = -1 时为出行总人数",
                              "format" : "int32",
                              "example" : null
                            }
                          }
                        },
                        "example" : null
                      },
                      "product_name" : {
                        "type" : "string",
                        "description" : "商品名称，指这个票种下的商品罗列，可以根据人群罗列，也可以填写实际商品。例如：成人票、手摇船票、缆车往返票等",
                        "example" : null
                      },
                      "ticket_period" : {
                        "type" : "integer",
                        "description" : "有效期规则天数",
                        "format" : "int32",
                        "example" : "1 游玩当天有效 2 游玩2天内有效 以此类推"
                      },
                      "ticket_type_out_id" : {
                        "type" : "string",
                        "description" : "商家票种id",
                        "example" : null
                      },
                      "buy_limit" : {
                        "type" : "integer",
                        "description" : "限购规则 每笔订单最大限制购买X份 最多5份 （固定传0，抖音端默认一单最多5份）",
                        "format" : "int32",
                        "example" : "0 不限制 1 限制1份 X 限制X份"
                      },
                      "pre_order_time" : {
                        "type" : "object",
                        "properties" : {
                          "enter_time" : {
                            "type" : "integer",
                            "description" : "预定后最早入园时间 从预定时间向后计算 单位秒 （本期默认为0 购买后可以立刻生效）",
                            "format" : "int32",
                            "example" : null
                          },
                          "pre_time" : {
                            "type" : "integer",
                            "description" : "最晚预定时间 以日历票入园当天24点向前计算 单位秒 目前支持传值[0,86400] 86400 -> 需提前1天下单购买",
                            "format" : "int32",
                            "example" : "需提前一天预约的商品，请固定传86400"
                          }
                        },
                        "description" : "预定时间限制规则，必须提前X天拍下，且在XX时间前支付成功，订单才生效；预定后XX时间后才能入园",
                        "example" : null
                      },
                      "product_out_id" : {
                        "type" : "string",
                        "description" : "商家商品id，更新商品时，product_out_id&product_id二选一传入",
                        "example" : null
                      },
                      "ticket_type_id" : {
                        "type" : "string",
                        "description" : "票种id，对应M-Spu，抖音侧下发id，创建时不传 同一个票种(ticket_type_id或ticket_type_out_id相同认为是同一个票种)最多被15个product绑定 C端票种展示顺序，按照创建的先后顺序展示",
                        "example" : null
                      },
                      "category_id" : {
                        "type" : "string",
                        "description" : "商品类目",
                        "example" : null
                      },
                      "ticket_specifications" : {
                        "type" : "array",
                        "description" : "日历票规格，单个商品多规格",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "ticket_session" : {
                              "type" : "object",
                              "properties" : {
                                "ticket_session_time" : {
                                  "type" : "string",
                                  "description" : "场次时间，当有场次时选填该字段",
                                  "example" : "8:00- -9:00 8:00-9:00"
                                },
                                "ticket_session_name" : {
                                  "type" : "string",
                                  "description" : "场次名字",
                                  "example" : "上午场、下午场、夜场票、8:00-9:00、自定义"
                                }
                              },
                              "description" : "规格-场次（时间相关）例如上午场、下午场、夜场票、8:00-9:00、自定义",
                              "example" : null
                            },
                            "settle_type" : {
                              "type" : "integer",
                              "description" : "收款方式（只支持总店结算）",
                              "format" : "int32",
                              "example" : "1 总店结算"
                            },
                            "ticket_area" : {
                              "type" : "string",
                              "description" : "规格-方向",
                              "example" : "上行、下行、单程、往返、自定义"
                            },
                            "ticket_seat" : {
                              "type" : "string",
                              "description" : "规格-坐席",
                              "example" : "普通座、一等座、VIP座、自定义"
                            },
                            "sku_name" : {
                              "type" : "string",
                              "description" : "日历票规格，SKU名称 （推荐填写：POI名称+票种名称+人群+规格枚举名称）",
                              "example" : null
                            },
                            "sku_out_id" : {
                              "type" : "string",
                              "description" : "商家日历票规格id",
                              "example" : null
                            }
                          }
                        },
                        "example" : null
                      },
                      "img_urls" : {
                        "type" : "object",
                        "properties" : { },
                        "description" : "商品图片URL列表，可多张传入，默认第一张首图，至多五张",
                        "example" : null
                      },
                      "product_id" : {
                        "type" : "string",
                        "description" : "商品id，更新商品时，product_out_id&product_id二选一传入",
                        "example" : null
                      },
                      "ticket_type_name" : {
                        "type" : "string",
                        "description" : "票种名称 票种名称为一类票的聚合，请根据商家经营情况设定。可以为大门票、交通票、项目票等 需要注意的是如果传ticket_type_out_id或ticket_type_id二者其一，更新的时候会影响其他所有用到相同id的日历票",
                        "example" : null
                      },
                      "is_test_data" : {
                        "type" : "boolean",
                        "description" : "是否为测试商品 增加该标签后可以进入测试审核队列 指定uid可以在线上看到该商品",
                        "default" : false,
                        "example" : null
                      },
                      "need_ticket" : {
                        "type" : "boolean",
                        "description" : "是否需要换票",
                        "default" : false,
                        "example" : null
                      },
                      "poi_ids" : {
                        "type" : "object",
                        "properties" : { },
                        "description" : "抖音POI_ID（即门店id，可以多个） 注：本期只支持一个POI 同一个poi下票种的名称不能重复 同一个poi下最多绑定10个日历票的票种",
                        "example" : null
                      },
                      "use_times" : {
                        "type" : "integer",
                        "description" : "入园次数",
                        "format" : "int32",
                        "example" : "1 入园一次 2 入园2次 0 无限制"
                      },
                      "fee_include" : {
                        "type" : "string",
                        "description" : "费用包含说明，纯文本",
                        "example" : null
                      },
                      "customer_reserved_info" : {
                        "type" : "object",
                        "properties" : {
                          "reserved_type" : {
                            "type" : "integer",
                            "description" : "游玩人留资信息类型",
                            "format" : "int32",
                            "example" : "1 无需填写 2 一单一人 3 全部游玩人"
                          },
                          "reserved_rules" : {
                            "type" : "array",
                            "description" : "游玩人留资信息要求，可多选",
                            "example" : "1 姓名 2 手机号 3 身份证",
                            "items" : {
                              "type" : "integer",
                              "format" : "int32"
                            }
                          }
                        },
                        "description" : "游玩人留资",
                        "example" : null
                      }
                    },
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "日历票创建/保存商品",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaveResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "presale/trycreateorder" : {
      "post" : {
        "tags" : [ null ],
        "description" : "无\n\n",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "start_date" : {
                    "type" : "string",
                    "description" : "到店日期 yyyy-MM-dd",
                    "example" : null
                  },
                  "end_date" : {
                    "type" : "string",
                    "description" : "离店日期 yyyy-MM-dd",
                    "example" : null
                  },
                  "hotel" : {
                    "type" : "object",
                    "properties" : {
                      "total_number_of_guests" : {
                        "type" : "integer",
                        "description" : "入住总人数量",
                        "format" : "int32",
                        "example" : null
                      },
                      "number_of_rooms" : {
                        "type" : "integer",
                        "description" : "房间数量",
                        "format" : "int32",
                        "example" : null
                      }
                    },
                    "description" : "酒店(订单类型为预约住宿，该结构体必有值）",
                    "example" : null
                  },
                  "third_book_sku_id" : {
                    "type" : "string",
                    "description" : "三方码服务商侧的指定预定商品ID",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "试单",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrycreateorderResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "presale/refundnotice" : {
      "post" : {
        "tags" : [ null ],
        "description" : "无\n\n",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "type" : {
                    "type" : "string",
                    "description" : "refund-退款",
                    "example" : null
                  },
                  "msg" : {
                    "type" : "object",
                    "properties" : {
                      "amount" : {
                        "type" : "integer",
                        "description" : "退款金额，单位为分",
                        "format" : "int32",
                        "example" : null
                      },
                      "ext_order_id" : {
                        "type" : "string",
                        "description" : "第三方订单号",
                        "example" : null
                      },
                      "refund_type" : {
                        "type" : "string",
                        "description" : "退款类型",
                        "example" : null
                      },
                      "apply_reason" : {
                        "type" : "string",
                        "description" : "申请退款原因",
                        "example" : null
                      },
                      "after_sale_id" : {
                        "type" : "string",
                        "description" : "抖音售后单ID",
                        "example" : null
                      },
                      "refund_money_path" : {
                        "type" : "string",
                        "description" : "退还渠道，SAME_WITH_PAY",
                        "example" : null
                      },
                      "apply_time" : {
                        "type" : "integer",
                        "description" : "申请退款时间，10位时间戳，秒",
                        "format" : "int32",
                        "example" : null
                      },
                      "refund_id" : {
                        "type" : "integer",
                        "description" : "抖音退款单ID",
                        "format" : "int32",
                        "example" : null
                      },
                      "order_id" : {
                        "type" : "string",
                        "description" : "抖音订单ID",
                        "example" : null
                      },
                      "refund_detail" : {
                        "type" : "object",
                        "properties" : {
                          "order_item_detail" : {
                            "type" : "array",
                            "description" : "退款的券信息",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "order_item_id" : {
                                  "type" : "string",
                                  "description" : "券维度订单ID",
                                  "example" : null
                                },
                                "item_amount" : {
                                  "type" : "integer",
                                  "description" : "每张券对应的退款金额",
                                  "format" : "int32",
                                  "example" : null
                                },
                                "refund_id" : {
                                  "type" : "string",
                                  "description" : "退款单id",
                                  "example" : null
                                }
                              }
                            },
                            "example" : null
                          },
                          "order_item_quantity" : {
                            "type" : "integer",
                            "description" : "退款的券数量",
                            "format" : "int32",
                            "example" : null
                          }
                        },
                        "description" : "退款详情",
                        "example" : null
                      },
                      "event_time" : {
                        "type" : "integer",
                        "description" : "事件发生时间，10位时间戳，秒",
                        "format" : "int32",
                        "example" : null
                      },
                      "status" : {
                        "type" : "string",
                        "description" : "退款状态，枚举：SUCCESS-成功，FAIL-失败",
                        "example" : null
                      }
                    },
                    "description" : "退款通知相关信息",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "退款成功状态通知",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefundnoticeResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/goodlife/v1/settle/ledger/detailed_query_by_order/" : {
      "get" : {
        "tags" : [ null ],
        "description" : "根据订单 id 查询订单分账明细，支持批量查询\n\n<ul><li>此接口适用于 KA，能查询到达人佣金、平台服务费等敏感数据</li><li>订单完成后才会生成分账信息</li><li>计算公式：全推（平台配送）：实际订单扣完配送费商家赚的钱=商家货款-商家出配送费 -商家出小费（支付给平台）-商家对用户补贴（全推才减） =merchant_amount-merchant_freight-merchant_tip-user_delivery_merchant_subsidy 自配送：实际订单扣完配送费商家赚的钱=商家货款+用户支付配送费=merchant_amount+pay_amount</li></ul>\n\n",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "分账商家id",
          "required" : true
        }, {
          "name" : "order_ids",
          "in" : "query",
          "description" : "订单ids",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "根据订单id查询分账明细（KA）",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DetailedQueryByOrderResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"ledger_records\": {\n      \"11224112312\": {\n        \"cursor\": \"7064492324109305863\",\n        \"ledger_id\": \"7064492324109305863\",\n        \"verify_id\": \"7064491846000592903\",\n        \"certificate_id\": \"7064423012048865293\",\n        \"order_id\": \"7062268392329758757\",\n        \"verify_time\": 1644830204,\n        \"status\": 2,\n        \"code\": \"100566718260\",\n        \"amount\": {\n          \"amount\": {\n            \"original\": 50,\n            \"pay\": 45,\n            \"merchant_ticket\": 0\n            \"goods\": 50,\n            \"pay_handling\": 0,\n            \"talent_commission\": 0\n          }\n        },\n        \"goods\": {\n          \"sku_id\": \"1721554180176909\",\n          \"title\": \"测试结算中台分店\",\n          \"market_price\": 500,\n          \"sold_start_time\": 1641801900\n        }\n      }\n  },\n  \"ledger_second_records\": {\n      \"11224112312\": {\n        \"cursor\": \"7064492324109305863\",\n        \"ledger_id\": \"7064492324109305863\",\n        \"verify_id\": \"7064491846000592903\",\n        \"order_id\": \"7062268392329758757\",\n        \"verify_time\": 1644830204,\n        \"status\": 2,\n        \"amount\": {\n          \"amount\": {\n            \"merchant_freight\": 50,\n            \"merchant_tip\": 45,\n            \"merchant_cancel_freight\": 0\n            \"platform_duty_freight\": 50,\n            \"platform_duty_tip\": 0\n          }\n        },\n        \"goods\": {\n          \"sku_id\": \"1721554180176909\",\n          \"title\": \"测试结算中台分店\",\n          \"market_price\": 500,\n          \"sold_start_time\": 1641801900\n        }\n      }\n  }\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"logid\": \"xxxxxxxxxxxxxx\",\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/goodlife/v1/settle/bill/query_rebate_url/" : {
      "get" : {
        "tags" : [ "life.capacity.billing" ],
        "description" : "<ol start=\"1\"><li>查询离线返佣账单下载的url</li></ol>\n\n",
        "responses" : {
          "default" : {
            "description" : "离线返佣账单文件下载url",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryRebateUrlResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"extra\": {\n    \"description\": \"success\",\n    \"error_code\": 0,\n    \"logid\": \"2023032215205100FD5F2B5C363502A40F\",\n    \"now\": 1679469652,\n    \"sub_description\": \"\",\n    \"sub_error_code\": 0\n  },\n  \"urls\": [\n    \"https://sf9-sign.douyinstatic.com/aweme-namek-secret/download_record_hive/bill_record/bill_rebate/7212930161757390905.xlsx?x-expires=1682148052&x-signature=eEpqWdtx9HJFkUUnQplRspP1u4s%3D\"\n  ],\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\"\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/goodlife/v1/after_sale/audit/notify/" : {
      "post" : {
        "tags" : [ null ],
        "description" : "<ol start=\"1\"><li>收到用户申请退款的消息后，可在第三方系统中调用此接口进行异步处理，若拒绝退款，需要传拒绝原因。</li></ol>\n\n",
        "requestBody" : {
          "description" : "<ol start=\"1\"><li>收到用户申请退款的消息后，可在第三方系统中调用此接口进行异步处理，若拒绝退款，需要传拒绝原因。</li></ol>\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "after_sale_id" : {
                    "type" : "string",
                    "description" : "售后单ID",
                    "example" : null
                  },
                  "is_approved" : {
                    "type" : "boolean",
                    "description" : "是否审核通过",
                    "default" : false,
                    "example" : null
                  },
                  "out_after_sale_id" : {
                    "type" : "string",
                    "description" : "外部售后单ID",
                    "example" : null
                  },
                  "reject_reason" : {
                    "type" : "object",
                    "properties" : {
                      "reason_code" : {
                        "type" : "array",
                        "description" : "拒绝退款错误码",
                        "items" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "example" : null
                      },
                      "desc" : {
                        "type" : "string",
                        "description" : "商家可填写的备注信息",
                        "example" : null
                      }
                    },
                    "description" : "拒绝退款原因",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "商家同意/拒绝退款接口",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotifyResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"extra\": {\n    \"description\": \"success\",\n    \"error_code\": 0,\n    \"logid\": \"20220825160718010225082199060C966B\"\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/goodlife/v1/poi/crowd/save/" : {
      "post" : {
        "tags" : [ "goods" ],
        "description" : "<ul><li>配置适用人群后，才能创建商品关联适用人群</li><li>只能新增和修改人群，不能删除已有人群</li><li>对于相同的 poi_id 重复创建会被覆盖</li></ul>\n\n",
        "requestBody" : {
          "description" : "<ul><li>配置适用人群后，才能创建商品关联适用人群</li><li>只能新增和修改人群，不能删除已有人群</li><li>对于相同的 poi_id 重复创建会被覆盖</li></ul>\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "string",
                    "description" : "商家ID；传入时服务商须与该商家满足授权关系，在开平应用详情的授权管理界面可以查看",
                    "example" : null
                  },
                  "poi_id" : {
                    "type" : "string",
                    "description" : "抖音POI_ID（即门店id）",
                    "example" : null
                  },
                  "crowds" : {
                    "type" : "object",
                    "properties" : {
                      "note" : {
                        "type" : "string",
                        "description" : "特殊说明",
                        "example" : null
                      },
                      "crowd_type" : {
                        "type" : "integer",
                        "description" : "人群类型 Child=1 儿童 Adult=2 成人 Old=3 老人",
                        "format" : "int32",
                        "example" : null
                      },
                      "age_condition" : {
                        "type" : "object",
                        "properties" : {
                          "lower_bound" : {
                            "type" : "integer",
                            "description" : "年龄下界",
                            "format" : "int32",
                            "example" : null
                          },
                          "upper_bound_type" : {
                            "type" : "integer",
                            "description" : "年龄上界包含与否 Contain=1 包含 NotContain=2 不包含",
                            "format" : "int32",
                            "example" : null
                          },
                          "upper_bound" : {
                            "type" : "integer",
                            "description" : "年龄上界",
                            "format" : "int32",
                            "example" : null
                          },
                          "lower_bound_type" : {
                            "type" : "integer",
                            "description" : "年龄下界包含与否 Contain=1 包含 NotContain=2 不包含",
                            "format" : "int32",
                            "example" : null
                          }
                        },
                        "description" : "年龄条件（身高条件两者至少有一个）",
                        "example" : null
                      },
                      "op_type" : {
                        "type" : "integer",
                        "description" : "年龄身高与或关系 And=1 且 Or=2 或",
                        "format" : "int32",
                        "example" : null
                      },
                      "height_condition" : {
                        "type" : "object",
                        "properties" : {
                          "lower_bound" : {
                            "type" : "integer",
                            "description" : "最低身高，单位cm",
                            "format" : "int32",
                            "example" : null
                          },
                          "upper_bound_type" : {
                            "type" : "integer",
                            "description" : "最高身高边界包含与否 Contain=1 包含 NotContain=2 不包含",
                            "format" : "int32",
                            "example" : null
                          },
                          "upper_bound" : {
                            "type" : "integer",
                            "description" : "最高身高，单位cm",
                            "format" : "int32",
                            "example" : null
                          },
                          "lower_bound_type" : {
                            "type" : "integer",
                            "description" : "最低身高边界包含与否 Contain=1 包含 NotContain=2 不包含",
                            "format" : "int32",
                            "example" : null
                          }
                        },
                        "description" : "身高条件（年龄条件两者至少有一个）",
                        "example" : null
                      }
                    },
                    "description" : "人群列表",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "创建适用人群",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaveResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "<semitab data=\"{&quot;cURL&quot;:{&quot;code_example&quot;:&quot;```bash\\n{\\n  \\&quot;BaseResp\\&quot;: {\\n    \\&quot;StatusCode\\&quot;: 0,\\n    \\&quot;StatusMessage\\&quot;: \\&quot;\\&quot;\\n  },\\n  \\&quot;data\\&quot;: {\\n    \\&quot;error_code\\&quot;: 0,\\n    \\&quot;description\\&quot;: \\&quot;\\&quot;\\n  },\\n  \\&quot;extra\\&quot;: {\\n    \\&quot;error_code\\&quot;: 0,\\n    \\&quot;description\\&quot;: \\&quot;\\&quot;,\\n    \\&quot;sub_error_code\\&quot;: 0,\\n    \\&quot;sub_description\\&quot;: \\&quot;\\&quot;,\\n    \\&quot;now\\&quot;: 1654529240,\\n    \\&quot;logid\\&quot;: \\&quot;xxxxxx\\&quot;\\n  }\\n}\\n```&quot;}}\"></semitab>"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/goodlife/v1/goods/spu/save/" : {
      "post" : {
        "tags" : [ null ],
        "description" : "1、创建或更新 SPU。\n\n2、对于同一服务商，相同的 out_id 会被认为是同一 SPU，重复创建会被覆盖。\n\n3、SPU 属性，需要通过**查询商品模板**获取。\n\n",
        "requestBody" : {
          "description" : "1、创建或更新 SPU。\n\n2、对于同一服务商，相同的 out_id 会被认为是同一 SPU，重复创建会被覆盖。\n\n3、SPU 属性，需要通过**查询商品模板**获取。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "account_id" : {
                    "type" : "string",
                    "description" : "商家ID；传入时服务商须与该商家满足授权关系，在开平应用详情的授权管理界面可以查看",
                    "example" : null
                  },
                  "spu" : {
                    "type" : "object",
                    "properties" : {
                      "product_type" : {
                        "type" : "integer",
                        "description" : "商品类型 1:团购套餐 4:日历房 5:门票 7: 旅行跟拍 8:一日游 11:代金券 12:新预售 13:预定",
                        "format" : "int32",
                        "example" : null
                      },
                      "category_id" : {
                        "type" : "integer",
                        "description" : "商品类目，参考 商品类目表",
                        "format" : "int32",
                        "example" : null
                      },
                      "spu_name" : {
                        "type" : "string",
                        "description" : "标品名",
                        "example" : null
                      },
                      "out_spu_id" : {
                        "type" : "string",
                        "description" : "外部标品id",
                        "example" : null
                      },
                      "spu_status" : {
                        "type" : "integer",
                        "description" : "状态： 1：使用 -1：禁用",
                        "format" : "int32",
                        "example" : null
                      },
                      "spu_id" : {
                        "type" : "string",
                        "description" : "标品Id，创建时不必填写，更新时如有out_spu_id可不填写",
                        "example" : null
                      },
                      "pois" : {
                        "type" : "object",
                        "properties" : {
                          "supplier_ext_id" : {
                            "type" : "string",
                            "description" : "接入方店铺id",
                            "example" : null
                          },
                          "poi_id" : {
                            "type" : "string",
                            "description" : "抖音POI_ID（即门店id）",
                            "example" : null
                          }
                        },
                        "description" : "店铺列表，目前酒旅只允许绑定一家 poi_id与supplier_ext_id二选一即可",
                        "example" : null
                      },
                      "biz_line" : {
                        "type" : "integer",
                        "description" : "业务线： 1：闭环自研开发者 3：直连服务商 5：小程序",
                        "format" : "int32",
                        "example" : null
                      },
                      "attr_key_value_map" : {
                        "type" : "object",
                        "properties" : { },
                        "description" : "商品属性KV，，详情见下面的字段或查询商品模板接口返回的字段",
                        "example" : null
                      },
                      "desc" : {
                        "type" : "string",
                        "description" : "描述",
                        "example" : null
                      }
                    },
                    "description" : "标品",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "保存SPU",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaveResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/goodlife/v1/fulfilment/certificate/query/" : {
      "get" : {
        "tags" : [ "life.capacity.fulfilment" ],
        "responses" : {
          "default" : {
            "description" : "券状态批量查询",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"certificates\": [\n      {\n        \"encrypted_code\": \"CgwIARDhJxjLLyABKAESLgoscGiCSmZoMBlvG3WxOIxOGTfZHKvwwQD+DInGZEAi/SJsemJO/r+88+w3Th4aAA==\",\n        \"status\": 2,\n        \"amount\": {\n          \"original_amount\": 10,\n          \"pay_amount\": 10,\n          \"merchant_ticket_amount\": 0\n        },\n        \"sku\": {\n          \"sku_id\": \"1730440745530376\",\n          \"title\": \"测试\",\n          \"third_sku_id\": \"1111\",\n          \"account_id\": \"7113893944009705516\",\n          \"groupon_type\": 1,\n          \"market_price\": 19900,\n          \"sold_start_time\": 165027804\n        },\n        \"expire_time\": 1682265599,\n        \"code\": \"104930181552\",\n        \"verify\": {\n          \"can_cancel\": false,\n          \"certificate_id\": \"7091293506194655239\",\n          \"verifier_unique_id\": \"开放平台API\",\n          \"verify_id\": \"7091644694387591181\",\n          \"verify_time\": 1651152314,\n          \"verify_type\": 4\n        }\n      },\n      {\n        \"encrypted_code\": \"CgwIARDaHhjLJiAEKAESLgosamiADCVpoqfCZLCSDIVaguqR2QiEtm29VbT5Dg6BVMkNybI91gpm821/bzAaAA==\",\n        \"status\": 1,\n        \"amount\": {\n          \"original_amount\": 10,\n          \"pay_amount\": 10,\n          \"merchant_ticket_amount\": 0\n        },\n        \"sku\": {\n          \"sku_id\": \"1730440745530376\",\n          \"title\": \"测试\",\n          \"third_sku_id\": \"1111\",\n          \"account_id\": \"7113893944009705516\",\n          \"groupon_type\": 1,\n          \"market_price\": 19900,\n          \"sold_start_time\": 165027804\n        },\n        \"expire_time\": 1682265599,\n        \"code\": \"104930181553\"\n      }\n    ]\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"xxx\",\n    \"now\": 1651194819\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/goodlife/v1/poi/poi/decorate/" : {
      "post" : {
        "tags" : [ "life.capacity.shop" ],
        "description" : "* 注意事项：\n  * 此接口为异步接口，请通过“任务结果查询”接口获取任务结果\n\n",
        "requestBody" : {
          "description" : "* 注意事项：\n  * 此接口为异步接口，请通过“任务结果查询”接口获取任务结果\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "datas" : {
                    "type" : "array",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "third_id" : {
                          "type" : "string",
                          "description" : "三方门店 id",
                          "example" : "\"12344\""
                        },
                        "poi_id" : {
                          "type" : "string",
                          "description" : "抖音门店 id",
                          "example" : "\"7147976656156624904\""
                        },
                        "decoration" : {
                          "type" : "object",
                          "properties" : {
                            "cover_images" : {
                              "type" : "array",
                              "description" : "外显小图",
                              "items" : {
                                "type" : "object",
                                "properties" : {
                                  "sort_value" : {
                                    "type" : "integer",
                                    "description" : "图片排序",
                                    "format" : "int32",
                                    "example" : "1"
                                  },
                                  "url" : {
                                    "type" : "string",
                                    "description" : "图片链接",
                                    "example" : "\"https://www.a.com/3.jpg\""
                                  }
                                }
                              },
                              "example" : null
                            },
                            "head_images" : {
                              "type" : "array",
                              "description" : "店铺入口图列表",
                              "items" : {
                                "type" : "object",
                                "properties" : {
                                  "sort_value" : {
                                    "type" : "integer",
                                    "description" : "图片排序",
                                    "format" : "int32",
                                    "example" : "1"
                                  },
                                  "url" : {
                                    "type" : "string",
                                    "description" : "图片链接",
                                    "example" : "\"https://www.a.com/1.jpg\""
                                  }
                                }
                              },
                              "example" : null
                            },
                            "recommends" : {
                              "type" : "array",
                              "description" : "官方相册",
                              "items" : {
                                "type" : "object",
                                "properties" : {
                                  "title" : {
                                    "type" : "string",
                                    "description" : "相册名称\"推荐菜\"、\"官方推荐\"、\"环境\"、\"热门推荐\"",
                                    "example" : "\"推荐菜\""
                                  },
                                  "items" : {
                                    "type" : "array",
                                    "items" : {
                                      "type" : "object",
                                      "properties" : {
                                        "image_name" : {
                                          "type" : "string",
                                          "description" : "图片名称",
                                          "example" : "\"宫保鸡丁\""
                                        },
                                        "image_url" : {
                                          "type" : "string",
                                          "description" : "图片链接",
                                          "example" : "\"https://www.a.com/2.jpg\""
                                        },
                                        "sort_value" : {
                                          "type" : "integer",
                                          "description" : "图片排序",
                                          "format" : "int32",
                                          "example" : "1"
                                        }
                                      }
                                    },
                                    "example" : null
                                  }
                                }
                              },
                              "example" : null
                            },
                            "announcement" : {
                              "type" : "object",
                              "properties" : {
                                "enable" : {
                                  "type" : "boolean",
                                  "description" : "是否展示true - 展示false - 不展示",
                                  "example" : true,
                                  "default" : false
                                },
                                "description" : {
                                  "type" : "string",
                                  "description" : "公告详情",
                                  "example" : "\"本店饮品买一送一\""
                                },
                                "title" : {
                                  "type" : "string",
                                  "description" : "公告标题",
                                  "example" : "\"优惠通知\""
                                },
                                "url" : {
                                  "type" : "string",
                                  "description" : "公告图片链接",
                                  "example" : "\"https://www.a.com/discount\""
                                }
                              },
                              "description" : "公告内容",
                              "example" : null
                            },
                            "tags" : {
                              "type" : "array",
                              "description" : "服务设施标签，参看文档：",
                              "items" : {
                                "type" : "object",
                                "properties" : { }
                              },
                              "example" : null
                            }
                          },
                          "description" : "门店装修信息",
                          "example" : null
                        }
                      }
                    },
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "提交门店装修任务",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DecorateResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"data\": {\n        \"tasks\": [\n            {\n                \"third_id\": \"12344\",\n                \"account_id\": \"0\",\n                \"poi_id\": \"7147976656156624904\",\n                \"task_id\": 7252326736015198240\n            }\n        ],\n        \"error_code\": 0,\n        \"description\": \"success\"\n    },\n    \"extra\": {\n        \"error_code\": 0,\n        \"description\": \"success\",\n        \"sub_error_code\": 0,\n        \"sub_description\": \"\",\n        \"logid\": \"20230705214111DD9EB4696DB879376DCD\",\n        \"now\": 1688564471\n    }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n    \"extra\": {\n        \"error_code\": 5000001,\n        \"description\": \"服务器打瞌睡了，请稍后再试。\",\n        \"sub_error_code\": 0,\n        \"sub_description\": \"\",\n        \"logid\": \"20230705214151A33CF1971B33B522AD70\",\n        \"now\": 1688564511\n    },\n    \"data\": {\n        \"error_code\": 5000001,\n        \"description\": \"服务器打瞌睡了，请稍后再试。\"\n    }\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/goodlife/v1/goods/calendar_amount_group/save/" : {
      "post" : {
        "tags" : [ null ],
        "description" : "1、创建或更新商品日历价格",
        "requestBody" : {
          "description" : "1、创建或更新商品日历价格",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "calendar_amount_group" : {
                    "type" : "object",
                    "properties" : {
                      "product_out_id" : {
                        "type" : "string",
                        "description" : "关联的外部商品id，与product_id至少有一项必填",
                        "example" : null
                      },
                      "product_id" : {
                        "type" : "integer",
                        "description" : "关联的商品Id，与product_out_id至少有一项必填",
                        "format" : "int32",
                        "example" : null
                      },
                      "sku_id" : {
                        "type" : "string",
                        "description" : "可通过查询商品接口获得",
                        "example" : null
                      },
                      "calendar_amounts" : {
                        "type" : "object",
                        "properties" : {
                          "origin_amount" : {
                            "type" : "integer",
                            "description" : "原价（单位：分）",
                            "format" : "int32",
                            "example" : null
                          },
                          "actual_amount" : {
                            "type" : "integer",
                            "description" : "实际价格（单位：分）",
                            "format" : "int32",
                            "example" : null
                          },
                          "type" : {
                            "type" : "string",
                            "description" : "DATE_RANGE = 1 // 日历范围类型WEEK_RANGE = 2 // 周范围类型DATE_VALUE = 3 // 具体的某几个日期类型WEEK_VALUE = 4 // 具体的周一到周日中某几天类型",
                            "example" : null
                          },
                          "value" : {
                            "type" : "object",
                            "properties" : {
                              "exclude_dates" : {
                                "type" : "object",
                                "properties" : {
                                  "data" : {
                                    "type" : "object",
                                    "properties" : {
                                      "description" : {
                                        "type" : "string",
                                        "description" : "错误信息",
                                        "example" : null
                                      },
                                      "error_code" : {
                                        "type" : "integer",
                                        "description" : "错误码",
                                        "format" : "int32",
                                        "example" : null
                                      }
                                    },
                                    "description" : "返回数据",
                                    "example" : null
                                  },
                                  "extra" : {
                                    "type" : "object",
                                    "properties" : {
                                      "log_id" : {
                                        "type" : "string",
                                        "description" : "请求日志ID",
                                        "example" : null
                                      },
                                      "sub_error_code" : {
                                        "type" : "integer",
                                        "description" : "（弃用）业务状态码",
                                        "format" : "int32",
                                        "example" : null
                                      },
                                      "sub_description" : {
                                        "type" : "string",
                                        "description" : "（弃用）业务状态信息",
                                        "example" : null
                                      },
                                      "now" : {
                                        "type" : "integer",
                                        "description" : "（弃用）当前时间",
                                        "format" : "int32",
                                        "example" : null
                                      },
                                      "description" : {
                                        "type" : "string",
                                        "description" : "错误信息",
                                        "example" : null
                                      },
                                      "error_code" : {
                                        "type" : "integer",
                                        "description" : "错误码",
                                        "format" : "int32",
                                        "example" : null
                                      }
                                    },
                                    "description" : "公共参数",
                                    "example" : null
                                  }
                                },
                                "description" : "日历中排除某些天,如[\"2022-04-01\",\"2022-03-05\",,\"2022-03-07\"]",
                                "example" : null
                              },
                              "values" : {
                                "type" : "array",
                                "description" : "CalendarType为周范围或具体周几（calendar_type=2或4)时，值为周一到周日中的范围或者某些天，如[\"1\",\"5\"]；CalendarType为日期的情况为日期范围或具体日期（calendar_type=1或3)时，值为日期范围或者具体的某些日期，如[\"2022-03-01\",\"2022-04-01\"]",
                                "items" : {
                                  "type" : "object",
                                  "properties" : {
                                    "data" : {
                                      "type" : "object",
                                      "properties" : {
                                        "description" : {
                                          "type" : "string",
                                          "description" : "错误信息",
                                          "example" : null
                                        },
                                        "error_code" : {
                                          "type" : "integer",
                                          "description" : "错误码",
                                          "format" : "int32",
                                          "example" : null
                                        }
                                      },
                                      "description" : "返回数据",
                                      "example" : null
                                    },
                                    "extra" : {
                                      "type" : "object",
                                      "properties" : {
                                        "log_id" : {
                                          "type" : "string",
                                          "description" : "请求日志ID",
                                          "example" : null
                                        },
                                        "sub_error_code" : {
                                          "type" : "integer",
                                          "description" : "（弃用）业务状态码",
                                          "format" : "int32",
                                          "example" : null
                                        },
                                        "sub_description" : {
                                          "type" : "string",
                                          "description" : "（弃用）业务状态信息",
                                          "example" : null
                                        },
                                        "now" : {
                                          "type" : "integer",
                                          "description" : "（弃用）当前时间",
                                          "format" : "int32",
                                          "example" : null
                                        },
                                        "description" : {
                                          "type" : "string",
                                          "description" : "错误信息",
                                          "example" : null
                                        },
                                        "error_code" : {
                                          "type" : "integer",
                                          "description" : "错误码",
                                          "format" : "int32",
                                          "example" : null
                                        }
                                      },
                                      "description" : "公共参数",
                                      "example" : null
                                    }
                                  }
                                },
                                "example" : null
                              }
                            },
                            "description" : "日历值",
                            "example" : null
                          },
                          "status" : {
                            "type" : "integer",
                            "description" : "ONLINE = 1 // 在线DELETE = -1 // 删除",
                            "format" : "int32",
                            "example" : null
                          }
                        },
                        "description" : "库存日历项",
                        "example" : null
                      }
                    },
                    "description" : "商品库存日历",
                    "example" : null
                  },
                  "account_id" : {
                    "type" : "string",
                    "description" : "商家ID；传入时服务商须与该商家满足授权关系，在开平应用详情的授权管理界面可以查看",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "保存日历价格",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaveResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/goodlife/v1/partner/product_commission/query/" : {
      "get" : {
        "tags" : [ "paterner" ],
        "description" : "无\n\n",
        "responses" : {
          "default" : {
            "description" : "商品佣金详情",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/goodlife/v1/hermes/trade/order/query/" : {
      "get" : {
        "tags" : [ null ],
        "description" : "* 服务商通过接口查询订单详情，支持三种查询方式：\n（1）根据订单 id 或第三方订单号，查询对应订单详情，入参：订单 id/第三方订单号、商户 id；\n（2）根据订单状态和商户 id，查询指定时间内该商户下的订单列表，入参：商户 id、订单状态、创单起止时间/修改起止时间；\n（3）根据用户 id 和商户 id，查询某用户在该商户下的所有订单，入参：商户 id、用户 id、创单起止时间/修改起止时间；\n* 支付后未发码/发码失败订单查询方式：限定订单状态为“已支付”，如用户下单后超过 10 分钟未发码会发起退款；\n* 退款申请待审核订单查询方式：限定券状态为“退款中”，如退款状态未响应超过 72 小时会自动退款。\n\n",
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "页大小，取值范围1～100",
          "required" : true
        }, {
          "name" : "page_num",
          "in" : "query",
          "description" : "第几页（首页传1）",
          "required" : true
        }, {
          "name" : "order_id",
          "in" : "query",
          "description" : "抖音订单id",
          "required" : false
        }, {
          "name" : "ext_order_id",
          "in" : "query",
          "description" : "第三方订单号",
          "required" : false
        }, {
          "name" : "open_id",
          "in" : "query",
          "description" : "抖音用户id",
          "required" : false
        }, {
          "name" : "account_id",
          "in" : "query",
          "description" : "商户id",
          "required" : true
        }, {
          "name" : "order_status",
          "in" : "query",
          "description" : "订单状态",
          "required" : false
        }, {
          "name" : "create_order_start_time",
          "in" : "query",
          "description" : "创单起始时间 （秒时间戳，创单起止时间必须同时传入）",
          "required" : false
        }, {
          "name" : "create_order_end_time",
          "in" : "query",
          "description" : "创单结束时间（秒时间戳，创单起止时间必须同时传入）",
          "required" : false
        }, {
          "name" : "update_order_start_time",
          "in" : "query",
          "description" : "修改起始时间 （秒时间戳，修改起止时间必须同时传入）",
          "required" : false
        }, {
          "name" : "update_order_end_time",
          "in" : "query",
          "description" : "修改起始时间（秒时间戳，修改起止时间必须同时传入）",
          "required" : false
        }, {
          "name" : "get_secret_number",
          "in" : "query",
          "description" : "是否查询用户隐私号",
          "required" : false
        } ],
        "responses" : {
          "default" : {
            "description" : "订单查询接口",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"orders\": [\n      {\n        \"count\": 1,\n        \"order_id\": \"7000277894522046508\",\n        \"order_status\": 101,\n        \"order_type\": 21,\n        \"original_amount\": 20,\n        \"pay_amount\": 20,\n        \"sku_id\": \"1708941687677982\",\n        \"update_order_time\": 1629879472,\n        \"certificate\": [\n          {\n            \"certificate_id\": \"\",\n            \"item_status\": 401,\n            \"item_update_time\": 1654348496,\n            \"order_item_id\": \"710525525737414864913240082\",\n            \"refund_amount\": 0,\n            \"refund_time\": 0\n          }\n        ],\n        \"contacts\": [\n          {\n            \"name\": \"\",\n            \"phone\": \"\"\n          }\n        ],\n        \"create_order_time\": 1629879472,\n        \"pay_time\": 0,\n        \"sku_name\": \"在线修改test1的副本\"\n      },\n      {\n        \"order_id\": \"7000278755910502444\",\n        \"original_amount\": 20,\n        \"pay_amount\": 20,\n        \"pay_time\": 0,\n        \"sku_name\": \"在线修改test1的副本\",\n        \"count\": 1,\n        \"create_order_time\": 1629880093,\n        \"order_type\": 21,\n        \"sku_id\": \"1708941687677982\",\n        \"update_order_time\": 1629880093,\n        \"certificate\": [\n          {\n            \"certificate_id\": \"\",\n            \"item_status\": 401,\n            \"item_update_time\": 1654348496,\n            \"order_item_id\": \"710525525737414864913240082\",\n            \"refund_amount\": 0,\n            \"refund_time\": 0\n          }\n        ],\n        \"contacts\": [\n          {\n            \"name\": \"\",\n            \"phone\": \"\"\n          }\n        ],\n        \"order_status\": 200\n      }\n    ],\n    \"page\": {\n      \"page_num\": 1,\n      \"page_size\": 2,\n      \"total\": 104292\n    },\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"20220701162636010225145152030360A6\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "presale/createbookingorder" : {
      "post" : {
        "tags" : [ null ],
        "description" : "无\n\n",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "book_id" : {
                    "type" : "string",
                    "description" : "预约单ID",
                    "example" : null
                  },
                  "order_id" : {
                    "type" : "string",
                    "description" : "抖音订单ID",
                    "example" : null
                  },
                  "ext_order_id" : {
                    "type" : "string",
                    "description" : "第三方订单号",
                    "example" : null
                  },
                  "third_book_sku_id" : {
                    "type" : "string",
                    "description" : "第三方服务商侧的预定商品ID",
                    "example" : null
                  },
                  "book_origin_price" : {
                    "type" : "integer",
                    "description" : "原价（单位分）",
                    "format" : "int32",
                    "example" : null
                  },
                  "currency_code" : {
                    "type" : "string",
                    "description" : "货币类型(默认人民币CNY)",
                    "example" : null
                  },
                  "book_start_day" : {
                    "type" : "string",
                    "description" : "预定开始日期 yyyy-MM-dd",
                    "example" : null
                  },
                  "book_end_day" : {
                    "type" : "string",
                    "description" : "预定结束日期 yyyy-MM-dd",
                    "example" : null
                  },
                  "effective_dates" : {
                    "type" : "array",
                    "description" : "价格日历",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "date" : {
                          "type" : "string",
                          "description" : "价格日期 yyyy-MM-dd",
                          "example" : null
                        },
                        "base" : {
                          "type" : "integer",
                          "description" : "商品单价（含税含服务费）单位分",
                          "format" : "int32",
                          "example" : null
                        }
                      }
                    },
                    "example" : null
                  },
                  "tourists" : {
                    "type" : "array",
                    "description" : "出行人信息",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "phone" : {
                          "type" : "string",
                          "description" : "联系电话（脱敏）",
                          "example" : null
                        },
                        "license_type" : {
                          "type" : "integer",
                          "description" : "证件类型：默认是“1-身份证”",
                          "format" : "int32",
                          "example" : null
                        },
                        "name" : {
                          "type" : "string",
                          "description" : "姓名",
                          "example" : null
                        },
                        "id_card" : {
                          "type" : "string",
                          "description" : "身份证号码（加密）",
                          "example" : null
                        }
                      }
                    },
                    "example" : null
                  },
                  "text" : {
                    "type" : "string",
                    "description" : "备注要求",
                    "example" : null
                  },
                  "hotel" : {
                    "type" : "object",
                    "properties" : {
                      "check_in_time" : {
                        "type" : "string",
                        "description" : "入住时间 hh:mm",
                        "example" : null
                      },
                      "check_out_time" : {
                        "type" : "string",
                        "description" : "退房时间 hh:mm",
                        "example" : null
                      },
                      "guarantee_type" : {
                        "type" : "string",
                        "description" : "担保类型：预付-PREPAID",
                        "example" : null
                      },
                      "number_of_rooms" : {
                        "type" : "integer",
                        "description" : "房间数量",
                        "format" : "int32",
                        "example" : null
                      }
                    },
                    "description" : "酒店(订单类型为预约住宿，该结构体必有值）",
                    "example" : null
                  },
                  "scenic" : {
                    "type" : "object",
                    "properties" : {
                      "specification" : {
                        "type" : "object",
                        "properties" : { },
                        "description" : "规格",
                        "example" : null
                      }
                    },
                    "description" : "景区(交易类型为景区预约，该结构体必有值）",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "创预约单",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreatebookingorderResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/goodlife/v1/poi/match/task/submit/" : {
      "post" : {
        "tags" : [ "life.capacity.shop" ],
        "description" : "* 注意事项：\n  * 此接口为异步接口，匹配结果需通过“查询门店匹配结果”获取。\n  * 门店坐标经纬度信息需使用 GCJ-02 坐标系坐标，否则门店定位会有较大偏差，无法正确匹配。\n  * 当门店已经完成匹配或者正在匹配中时，请不要重复提交匹配；匹配失败后，可再次发起匹配。\n  * 匹配成功并不意味着匹配正确，需要自行核对匹配结果中的抖音门店是否为期望门店。\n  * 咨询问题时，请提供请求响应返回的taskID。\n  * 如需解绑已成功建立的匹配关系请提咨询问题做解绑处理。\n\n",
        "requestBody" : {
          "description" : "* 注意事项：\n  * 此接口为异步接口，匹配结果需通过“查询门店匹配结果”获取。\n  * 门店坐标经纬度信息需使用 GCJ-02 坐标系坐标，否则门店定位会有较大偏差，无法正确匹配。\n  * 当门店已经完成匹配或者正在匹配中时，请不要重复提交匹配；匹配失败后，可再次发起匹配。\n  * 匹配成功并不意味着匹配正确，需要自行核对匹配结果中的抖音门店是否为期望门店。\n  * 咨询问题时，请提供请求响应返回的taskID。\n  * 如需解绑已成功建立的匹配关系请提咨询问题做解绑处理。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "datas" : {
                    "type" : "array",
                    "description" : "支持批量提交，单次请求数量<=200",
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "poi_name" : {
                          "type" : "string",
                          "description" : "抖音门店名称",
                          "example" : "\"我的店铺名称\""
                        },
                        "address" : {
                          "type" : "string",
                          "description" : "门店地址",
                          "example" : "\"庐山路华晨大拇指商业广场5楼\""
                        },
                        "ext_id" : {
                          "type" : "string",
                          "description" : "三方门店 id",
[...]
