{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OpenAPI 简介",
    "version" : "0.0.1"
  },
  "externalDocs" : {
    "description" : "OpenAPI 简介",
    "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/server-api-introduction"
  },
  "servers" : [ {
    "url" : "https://open.douyin.com/"
  } ],
  "tags" : [ {
    "name" : "interface-request-credential",
    "description" : "接口调用凭证",
    "externalDocs" : {
      "description" : "接口调用凭证",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/interface-request-credential"
    }
  }, {
    "name" : "log-in",
    "description" : "登录",
    "externalDocs" : {
      "description" : "登录",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/log-in"
    }
  }, {
    "name" : "clue-component-info",
    "description" : "留资分发配置",
    "externalDocs" : {
      "description" : "留资分发配置",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/clue-component-info"
    }
  }, {
    "name" : "e-commerce",
    "description" : "电商",
    "externalDocs" : {
      "description" : "电商",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/e-commerce"
    }
  }, {
    "name" : "locallife",
    "description" : "生活服务",
    "externalDocs" : {
      "description" : "生活服务",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/locallife"
    }
  }, {
    "name" : "content-security",
    "description" : "内容安全",
    "externalDocs" : {
      "description" : "内容安全",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/content-security"
    }
  }, {
    "name" : "evolution",
    "description" : "评价",
    "externalDocs" : {
      "description" : "评价",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/evolution"
    }
  }, {
    "name" : "subscribe-notification",
    "description" : "订阅消息",
    "externalDocs" : {
      "description" : "订阅消息",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/subscribe-notification"
    }
  }, {
    "name" : "follow-aweme",
    "description" : "引导关注抖音号",
    "externalDocs" : {
      "description" : "引导关注抖音号",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/follow-aweme"
    }
  }, {
    "name" : "data-analysis",
    "description" : "数据分析",
    "externalDocs" : {
      "description" : "数据分析",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/data-analysis"
    }
  }, {
    "name" : "category",
    "description" : "服务类目",
    "externalDocs" : {
      "description" : "服务类目",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/category"
    }
  }, {
    "name" : "live-capcity",
    "description" : "直播间能力",
    "externalDocs" : {
      "description" : "直播间能力",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/live-capcity"
    }
  }, {
    "name" : "aweme-capacity",
    "description" : "抖音开放能力",
    "externalDocs" : {
      "description" : "抖音开放能力",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/aweme-capacity"
    }
  }, {
    "name" : "page-layout-custom",
    "description" : "页面结构自定义",
    "externalDocs" : {
      "description" : "页面结构自定义",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/page-layout-custom"
    }
  }, {
    "name" : "simple-qr-code",
    "description" : "普通二维码绑定",
    "externalDocs" : {
      "description" : "普通二维码绑定",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/simple-qr-code"
    }
  }, {
    "name" : "aweme-bind",
    "description" : "抖音号绑定",
    "externalDocs" : {
      "description" : "抖音号绑定",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/aweme-bind"
    }
  }, {
    "name" : "traffic-permission",
    "description" : "流量主",
    "externalDocs" : {
      "description" : "流量主",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/traffic-permission"
    }
  }, {
    "name" : "doudian-bind",
    "description" : "抖店绑定",
    "externalDocs" : {
      "description" : "抖店绑定",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/doudian-bind"
    }
  }, {
    "name" : "data-open",
    "description" : "用户信息",
    "externalDocs" : {
      "description" : "用户信息",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/data-open"
    }
  }, {
    "name" : "url-and-qrcode",
    "description" : "小程序码与小程序链接",
    "externalDocs" : {
      "description" : "小程序码与小程序链接",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/url-and-qrcode"
    }
  } ],
  "paths" : {
    "/api/apps/v2/token" : {
      "post" : {
        "tags" : [ "interface-request-credential" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "appid" : {
                    "type" : "string",
                    "description" : "小程序 ID",
                    "example" : null
                  },
                  "secret" : {
                    "type" : "string",
                    "description" : "小程序的 APP Secret，可以在开发者后台获取",
                    "example" : null
                  },
                  "grant_type" : {
                    "type" : "string",
                    "description" : "获取 access_token 时值为 client_credential",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "getAccessToken",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "线上地址"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒地址"
      } ]
    },
    "/api/apps/censor/image" : {
      "post" : {
        "tags" : [ "content-security" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "app_id" : {
                    "type" : "string",
                    "description" : "小程序 ID",
                    "example" : null
                  },
                  "access_token" : {
                    "type" : "string",
                    "description" : "小程序 access_token，参考登录凭证检验",
                    "example" : null
                  },
                  "image" : {
                    "type" : "string",
                    "description" : "检测的图片链接",
                    "example" : null
                  },
                  "image_data" : {
                    "type" : "string",
                    "description" : "图片数据的 base64 格式，有 image 字段时，此字段无效",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "图片检测V2",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "线上地址"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒地址"
      } ]
    },
    "/api/apps/v2/jscode2session" : {
      "post" : {
        "tags" : [ "log-in" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "appid" : {
                    "type" : "string",
                    "description" : "小程序 ID",
                    "example" : null
                  },
                  "secret" : {
                    "type" : "string",
                    "description" : "小程序的 APP Secret，可以在开发者后台获取",
                    "example" : null
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "login 接口返回的登录凭证",
                    "example" : null
                  },
                  "anonymous_code" : {
                    "type" : "string",
                    "description" : "login 接口返回的匿名登录凭证",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "code2Session",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Jscode2sessionResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "线上地址"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒地址"
      } ]
    },
    "/api/apps/v1/capacity/query_traffic_permission_status" : {
      "get" : {
        "tags" : [ "traffic-permission" ],
        "description" : "",
        "responses" : {
          "default" : {
            "description" : "查询流量主开通状态",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryTrafficPermissionStatusResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_msg\": \"success\",\n  \"err_no\": 0,\n  \"data\": {\n    \"status\": 1,\n    \"can_open\": 1\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/capacity/open_traffic_permission" : {
      "post" : {
        "tags" : [ "traffic-permission" ],
        "description" : "",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "tax_nature" : {
                    "type" : "number",
                    "description" : "纳税人性质 1：一般纳税人 2：小规模纳税人",
                    "example" : null
                  },
                  "bank_account_number" : {
                    "type" : "string",
                    "description" : "银行账号",
                    "example" : null
                  },
                  "bank_name" : {
                    "type" : "string",
                    "description" : "开户银行名称",
                    "example" : null
                  },
                  "bank_branch" : {
                    "type" : "string",
                    "description" : "开户支行名称",
                    "example" : null
                  },
                  "phone_number" : {
                    "type" : "string",
                    "description" : "手机号码",
                    "example" : null
                  },
                  "province" : {
                    "type" : "string",
                    "description" : "省份名称，如“广东”、“广西”等",
                    "example" : null
                  },
                  "city" : {
                    "type" : "string",
                    "description" : "城市名称，如“广州”、“深圳”等",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "开通流量主",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpenTrafficPermissionResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/capacity/add_ad_placement" : {
      "post" : {
        "tags" : [ "traffic-permission" ],
        "description" : "",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "ad_placement_name" : {
                    "type" : "string",
                    "description" : "广告位名称",
                    "example" : null
                  },
                  "ad_placement_type" : {
                    "type" : "number",
                    "description" : "广告位类型 1：Banner广告 2：激励视频广告 3：信息流广告 4：插屏广告 5：视频前贴片广告 6：视频后贴片广告",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "新增广告位",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddAdPlacementResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/taskbox/update_task/" : {
      "post" : {
        "tags" : [ null ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "access_token" : {
                    "type" : "string",
                    "description" : "权限 token，获取接口（代开发服务商获取token的方式 获取接口2）",
                    "example" : null
                  },
                  "task_id" : {
                    "type" : "number",
                    "description" : "任务ID，创建接口返回",
                    "example" : null
                  },
                  "task_name" : {
                    "type" : "string",
                    "description" : "任务名称请勿包含公司名称！任务标题相同，任务时间重叠。即为重复上传任务，不支持上传同一个小程序，上传相似标题、相同页面地址的任务，会审核不通过",
                    "example" : null
                  },
                  "appid" : {
                    "type" : "string",
                    "description" : "小程序的appid，需要app的类型为小程序",
                    "example" : null
                  },
                  "third_appid" : {
                    "type" : "string",
                    "description" : "abcdefgh1234562",
                    "example" : null
                  },
                  "page_type" : {
                    "type" : "number",
                    "description" : "1",
                    "example" : null
                  },
                  "start_page" : {
                    "type" : "string",
                    "description" : "page/detail/detail?id=1",
                    "example" : null
                  },
                  "anchor_title" : {
                    "type" : "string",
                    "description" : "上传的锚点标题，最多14个字。任务页面类型为达人自选页面时无需填写。",
                    "example" : null
                  },
                  "task_icon" : {
                    "type" : "string",
                    "description" : "尺寸为512*512的当前任务图标，大小不超过200KB，支持PNG,JPG格式不允许出现留边的情况，图片必须铺满",
                    "example" : null
                  },
                  "task_start_time" : {
                    "type" : "number",
                    "description" : "任务开始时间，秒级时间戳",
                    "example" : null
                  },
                  "task_end_time" : {
                    "type" : "number",
                    "description" : "任务结束时间，秒级时间戳。开始时间与结束时间相差要求大于30天",
                    "example" : null
                  },
                  "task_desc" : {
                    "type" : "string",
                    "description" : "举例1.产品介绍：该产品是一个XX类型的小程序，可以XXX。2.达人视频内需添加与小程序页面相关的内容，杜绝生硬植入。3.达人视频内容表现积极向上，禁止出现恶俗、违背公序良俗类内容或品牌负面4.视频原创，拒绝拼接，搬运，虚假骗互动内容。注意：任务台的方案 只能计算小程序内收入，如果是iOS虚拟支付的，走了小店的那部分无法计费，需要开发者在产品说明中明确写出来如：请注意：该小程序内iOS端的订单收入不计入分成收入，仅计算安卓端订单收入。",
                    "example" : null
                  },
                  "refer_videos" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "从移动端复制视频链接，正确格式为：https//v.Douyin.com /xxxxx视频需包含任务对应的小程序锚点！",
                    "example" : null
                  },
                  "task_tags" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "参考任务创建接口的任务标签字段说明必须按表里的填，不要自己命名！",
                    "example" : null
                  },
                  "refer_ma_captures" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "小程序落地页截图。单个图片大小上限为2M，可上传0-3张，尺寸为312*444，支持PNG和JPG格式",
                    "example" : null
                  },
                  "refer_gids" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "视频的gid数组",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "重新提交任务基础信息",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateTaskResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "请求地址"
      } ]
    },
    "/api/v2/tags/text/antidirt" : {
      "post" : {
        "tags" : [ "content-security" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "X-Token" : {
                    "type" : "string",
                    "description" : "小程序 access_token，参考登录凭证检验",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "内容安全检测",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AntidirtResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "线上地址"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒地址"
      } ]
    },
    "/api/apps/v1/capacity/apply_capacity" : {
      "post" : {
        "tags" : [ "live-capcity" ],
        "description" : "",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "capacity_key" : {
                    "type" : "string",
                    "description" : "固定值“ma.jsapi.live_room_status”",
                    "default" : "“ma.jsapi.live_room_status”",
                    "example" : null
                  },
                  "apply_reason" : {
                    "type" : "string",
                    "description" : "申请能力的原因",
                    "example" : null
                  },
                  "apply_info" : {
                    "type" : "object",
                    "properties" : {
                      "img_uri_list" : {
                        "type" : "object",
                        "properties" : { },
                        "description" : "场景",
                        "example" : null
                      }
                    },
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "申请直播间状态组件能力",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplyCapacityResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/capacity/update_clue_component_info" : {
      "post" : {
        "tags" : [ "clue-component-info" ],
        "description" : "* 业务场景：开发者可通过此 OpenAPI 修改对应的留资分发配置，注意此次修改会清空之前的激活状态，后续可前往「抖音开放平台-控制台-小程序-运营-流量配置-留资分发配置」页面中重新进行联调和测试，并验证留资数据上报的准确性。\n* 注意事项：目前能力处于内测阶段，只定向邀请部分开发者，后续将开放给指定有留资诉求的行业使用。\n* 地区编号：地区编号（链接可能失效，以国家公示的六位地区编码为准即可）。\n\n",
        "requestBody" : {
          "description" : "* 业务场景：开发者可通过此 OpenAPI 修改对应的留资分发配置，注意此次修改会清空之前的激活状态，后续可前往「抖音开放平台-控制台-小程序-运营-流量配置-留资分发配置」页面中重新进行联调和测试，并验证留资数据上报的准确性。\n* 注意事项：目前能力处于内测阶段，只定向邀请部分开发者，后续将开放给指定有留资诉求的行业使用。\n* 地区编号：地区编号（链接可能失效，以国家公示的六位地区编码为准即可）。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "config_id" : {
                    "type" : "string",
                    "description" : "要更新的留资分发配置的id",
                    "default" : "无默认值，开发者自行填写",
                    "example" : null
                  },
                  "config_name" : {
                    "type" : "string",
                    "description" : "要创建的留资分发配置的名称（配置名称长度不能大于20）",
                    "default" : "无默认值，开发者自行填写",
                    "example" : null
                  },
                  "region" : {
                    "type" : "string",
                    "description" : "地区编号，必须精确到区/县，地区编号为国家政务公示网上所显示的编号region和region_list必填一个",
                    "default" : "无默认值，开发者自行填写",
                    "example" : null
                  },
                  "region_list" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "地区编号列表，必须精确到区/县，地区编号为国家政务公示网上所显示的编号region和region_list必填一个",
                    "default" : "无默认值，开发者自行填写",
                    "example" : null
                  },
                  "category_id" : {
                    "type" : "string",
                    "description" : "小程序的服务类目id，格式为\"xxx,xxx,xxx\"，需要传小程序已审核通过的服务类目id，获取小程序已设置的服务类目见获取服务类目",
                    "default" : "无默认值，开发者自行填写",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "更新留资分发配置",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateClueComponentInfoResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"err_no\": 0,\n    \"err_msg\": \"success\",\n    \"log_id\": \"xxxx\",\n    \"data\": {\n    }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n    \"err_no\": -1,\n    \"err_msg\": \"系统错误\",\n    \"log_id\": \"xxxx\",\n    \"data\": {\n    }\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/trade_basic/v1/developer/order_query" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "无\n\n",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "order_id" : {
                    "type" : "string",
                    "description" : "交易订单号，order_id 与 out_order_no 二选一",
                    "example" : "\"motb52726742593307630520652\""
                  },
                  "out_order_no" : {
                    "type" : "string",
                    "description" : "开发者的单号，order_id 与 out_order_no 二选一",
                    "example" : "\"ext_order_123\""
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询订单信息",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderQueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"data\":\n    {\n        \"order_id\": \"motb52726742593307630520952\",\n        \"out_order_no\": \"ext_order_123\",\n        \"app_id\": \"tt123123123\",\n        \"pay_status\": \"PROCESS\",\n        \"pay_time\": 1692775192000,\n        \"pay_channel\": 1,\n        \"channel_pay_id\": \"2iu2082897r9hflquf\",\n        \"trade_time\": 1692775192000,\n        \"total_amount\": 1000,\n        \"discount_amount\": 0,\n        \"merchant_uid\": \"287484783\",\n        \"cp_extra\": \"data\",\n        \"item_order_list\":\n        [\n            {\n                \"item_order_id\": \"motb52726742593307630520952\",\n                \"sku_id\": \"1234123\",\n                \"item_order_amount\": 100\n            }\n        ]\n    },\n    \"err_no\": 0,\n    \"err_msg\": \"success\",\n    \"log_id\": \"2022092115392201020812109511046\"\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n    \"err_no\": 10000,\n    \"err_msg\": \"参数不合法\",\n    \"log_id\": \"2022092115392201020812109511046\"\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/apps/qrcode" : {
      "post" : {
        "tags" : [ "url-and-qrcode" ],
        "description" : "生成二维码（小程序能力展示）示例：",
        "requestBody" : {
          "description" : "生成二维码（小程序能力展示）示例：",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "access_token" : {
                    "type" : "string",
                    "description" : "服务端 API 调用标识，获取方法",
                    "example" : null
                  },
                  "appname" : {
                    "type" : "string",
                    "description" : "是打开二维码的字节系 app 名称，默认为今日头条，取值如下表所示",
                    "default" : "toutiao",
                    "example" : null
                  },
                  "path" : {
                    "type" : "string",
                    "description" : "小程序/小游戏启动参数，小程序则格式为 encode({path}?{query})，小游戏则格式为 JSON 字符串，默认为空",
                    "example" : null
                  },
                  "width" : {
                    "type" : "integer",
                    "description" : "二维码宽度，单位 px，最小 280px，最大 1280px，默认为 430px",
                    "format" : "int32",
                    "default" : "430",
                    "example" : null
                  },
                  "line_color" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "二维码线条颜色，默认为黑色",
                    "default" : "{\"r\":0,\"g\":0,\"b\":0}",
                    "example" : null
                  },
                  "background" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "二维码背景颜色，默认为白色",
                    "example" : null
                  },
                  "set_icon" : {
                    "type" : "boolean",
                    "description" : "是否展示小程序/小游戏 icon，默认不展示",
                    "default" : false,
                    "example" : null
                  },
                  "is_circle_code" : {
                    "type" : "boolean",
                    "description" : "是否生成抖音码，默认不生成（抖音码不支持自定义颜色）",
                    "default" : false,
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "生成QRCode",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QrcodeResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "线上地址"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒地址"
      } ]
    },
    "/api/trade_basic/v1/developer/refund_create/" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "发起退款",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefundCreateResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/apps/trade/v2/extension_settings" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "无\n\n",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "query_marketing_callback" : {
                    "type" : "string",
                    "description" : "HTTPS，营销信息查询扩展点地址，长度限制 <= 512 字节，具体说明见对应接口",
                    "example" : "\"https://a/b/c\""
                  },
                  "calculation_callback" : {
                    "type" : "string",
                    "description" : "HTTPS，算价扩展点地址，长度限制 <= 512 字节，具体说明见对应接口",
                    "example" : "\"https://a/b/c\""
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "设置扩展点",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtensionSettingsResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/trade/v2/toolkit/update_merchant_path" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "开接口用于设置c端详情页中用户点击按钮后跳转的页面\n\n",
        "requestBody" : {
          "description" : "开接口用于设置c端详情页中用户点击按钮后跳转的页面\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "设置小程序跳转path",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateMerchantPathResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "* 混合双开设置到家和到点按钮跳转地址\n"
                  },
                  "failed" : {
                    "value" : "错误码"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/apps/v1/capacity/update_ad_placement_status" : {
      "post" : {
        "tags" : [ "traffic-permission" ],
        "description" : "",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "ad_placement_id" : {
                    "type" : "string",
                    "description" : "广告位id",
                    "example" : null
                  },
                  "status" : {
                    "type" : "number",
                    "description" : "广告位状态 0：关闭 1：开启",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "更新广告位状态",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateAdPlacementStatusResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/poi/supplier/query_all/" : {
      "get" : {
        "tags" : [ "locallife" ],
        "responses" : {
          "default" : {
            "description" : "查询全部店铺信息接口(天级别请求5次)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryAllResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"description\": \"\",\n    \"error_code\": \"0\",\n    \"task_id\": \"7096402606318323725\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"data\": {\n    \"description\": \"Parameter error\",\n    \"error_code\": 2100005\n  },\n  \"extra\": {\n    \"logid\": \"2020070614111601022506808001045D59\",\n    \"now\": 1594015876138\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/api/apps/v1/capacity/query_doudian_shop_info" : {
      "get" : {
        "tags" : [ "doudian-bind" ],
        "description" : "",
        "responses" : {
          "default" : {
            "description" : "获取绑定抖店账号信息",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryDoudianShopInfoResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"data\": {\n    \"ShopIdList\": [\n      {\n        \"MaAppId\": \"tt36b44009a99e9b32\",\n        \"ShopId\": 123456,\n        \"ShopName\": \"店铺\",\n        \"ToutiaoId\": 1234567890,\n        \"DoudianAppId\": 23333\n      }\n    ]\n  },\n  \"log_id\": \"20230702174602467E6D65A8F43145964D\"\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n    \"data\": null,\n    \"err_msg\": \"系统内部错误，请重试\",\n    \"err_no\": 28001005,\n    \"log_id\": \"202307102009190AB54435FCAF9CE6DF24\"\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/auth/entity/get_audit_detail" : {
      "post" : {
        "tags" : [ null ],
        "description" : "该接口用于根据审核任务类型和任务 ID 获取审核任务详情接口\n创建沙盒环境小程序时请选择“正式小程序能力映射”，详情请关注行业角色系统能力文档。\n前提条件\n\n* 审核任务ID存在\n\n### 注意事项\n* 若未做额外备注，string 类型的默认字段默认支持字符集 utf-8\n* access_token获取的方式 获取access_token\n\n",
        "requestBody" : {
          "description" : "该接口用于根据审核任务类型和任务 ID 获取审核任务详情接口\n创建沙盒环境小程序时请选择“正式小程序能力映射”，详情请关注行业角色系统能力文档。\n前提条件\n\n* 审核任务ID存在\n\n### 注意事项\n* 若未做额外备注，string 类型的默认字段默认支持字符集 utf-8\n* access_token获取的方式 获取access_token\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "获取审核任务详情",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetAuditDetailResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/oauth/renew_refresh_token/" : {
      "post" : {
        "tags" : [ "interface-request-credential" ],
        "description" : "### 注意事项\n* 抖音的 OAuth API 以https://open.douyin.com/ 开头。\n* 刷新操作需要在 refresh_token 过期前进行。\n* 通过旧的 refresh_token 获取新的 refresh_token，调用后旧 refresh_token 会失效，新 refresh_token 有 30 天有效期。最多只能获取 5 次新的 refresh_token，5 次过后需要用户重新授权。\n\n",
        "requestBody" : {
          "description" : "### 注意事项\n* 抖音的 OAuth API 以https://open.douyin.com/ 开头。\n* 刷新操作需要在 refresh_token 过期前进行。\n* 通过旧的 refresh_token 获取新的 refresh_token，调用后旧 refresh_token 会失效，新 refresh_token 有 30 天有效期。最多只能获取 5 次新的 refresh_token，5 次过后需要用户重新授权。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "client_key" : {
                    "type" : "string",
                    "description" : "应用唯一标识",
                    "example" : "tt10abc******"
                  },
                  "refresh_token" : {
                    "type" : "string",
                    "description" : "填写通过/oauth/access_token/ 获取到的 refresh_token 参数",
                    "example" : "rft.a736b70544519999a6******"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "刷新授权调用凭证",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RenewRefreshTokenResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{ \n  \"data\": {\n    \"description\": \"\",\n    \"error_code\": 0,\n    \"expires_in\": \"86400\",\n    \"refresh_token\": \"refresh_token\"\n  },\n  \"message\": \"success\"\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"data\": {\n    \"description\": \"Parameter error\",\n    \"error_code\": 2100005\n  },\n  \"extra\": {\n    \"logid\": \"2020070614111601022506808001045D59\",\n    \"now\": 1594015876138\n  }\n} \n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/api/apps/v1/capacity/delete_clue_component_info" : {
      "delete" : {
        "tags" : [ "clue-component-info" ],
        "description" : "无\n\n",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "config_id" : {
                    "type" : "string",
                    "description" : "要删除的留资分发配置的id",
                    "default" : "[\"album\"]",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "删除留资分发配置",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteClueComponentInfoResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"err_no\": 0,\n    \"err_msg\": \"success\",\n    \"log_id\": \"xxxx\",\n    \"data\": {\n    }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n    \"err_no\": -1,\n    \"err_msg\": \"系统错误\",\n    \"log_id\": \"xxxx\",\n    \"data\": {\n    }\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/auth/entity/update_basic_auth" : {
      "post" : {
        "tags" : [ null ],
        "description" : "enterprise 说明",
        "requestBody" : {
          "description" : "enterprise 说明",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "更新基础认证资质",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateBasicAuthResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/item/comment/top/" : {
      "post" : {
        "tags" : [ "video-id-convert" ],
        "description" : "",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "open_id" : {
                    "type" : "string",
                    "description" : "调用/oauth/access_token/ 生成的 open_id，53dba859-3b1a-4a82-9249-3baf97fcada8",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "置顶评论",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TopResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{ \n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1676271340,\n    \"logid\": \"20230213145539533F4A2D0E17051975FD\",\n    \"error_code\": 0,\n    \"description\": \"\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{ \n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"open_id must have a value\",\n    \"logid\": \"202305231159183AC133A218C9B996D66E\",\n    \"now\": 1684814358891\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/microapp/$" : {
      "post" : {
        "tags" : [ null ],
        "description" : "<ul><li>由于网络波动等原因，可能会产生重复的通知消息，接入方需要做好幂等，正确处理。</li><li>回调可能存在延时，开发者可以通过主动请求<a href=\"/docs/resource/zh-CN/mini-app/develop/server/trade-system/trading/pre-order/query-order\" target=\"_blank\" rel=\"nofollow noreferrer\">查询订单信息</a>，确认支付结果。</li><li>在开发者服务端收到回调且处理成功后，需要按以下<strong>正常返回示例</strong>返回并且 HTTP 响应状态码设为 200，否则会认为通知失败进行重试。</li><li>结果通知失败的重试的时间间隔为 2s、4s、8s、16s、32s、64s、128s、256s、512s、1024s、 2048s、4096s、8192s、5h、5h、5h、5h、5h、5h、 5h，总共重试 20 次。</li></ul>\n\n",
        "requestBody" : {
          "description" : "<ul><li>由于网络波动等原因，可能会产生重复的通知消息，接入方需要做好幂等，正确处理。</li><li>回调可能存在延时，开发者可以通过主动请求<a href=\"/docs/resource/zh-CN/mini-app/develop/server/trade-system/trading/pre-order/query-order\" target=\"_blank\" rel=\"nofollow noreferrer\">查询订单信息</a>，确认支付结果。</li><li>在开发者服务端收到回调且处理成功后，需要按以下<strong>正常返回示例</strong>返回并且 HTTP 响应状态码设为 200，否则会认为通知失败进行重试。</li><li>结果通知失败的重试的时间间隔为 2s、4s、8s、16s、32s、64s、128s、256s、512s、1024s、 2048s、4096s、8192s、5h、5h、5h、5h、5h、5h、 5h，总共重试 20 次。</li></ul>\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "msg" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "订单相关信息的 json 字符串",
                    "example" : "见请求示例"
                  },
                  "type" : {
                    "type" : "string",
                    "description" : "枚举值（支付结果回调为 payment）： payment（支付成功/支付取消） refund （退款成功/退款失败） settle （分账成功/分账失败）",
                    "example" : "payment"
                  },
                  "version" : {
                    "type" : "string",
                    "description" : "固定值：\"2.0\"。 回调版本，用于开发者识别回调参数的变更",
                    "example" : "2.0",
                    "default" : "2.0。 回调版本，用于开发者识别回调参数的变更"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "通知支付结果",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/$Response"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.open-douyin.com"
      } ]
    },
    "/api/apps/v1/capacity/update_simple_qr_bind_status" : {
      "post" : {
        "tags" : [ "im" ],
        "description" : "",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "qr_url" : {
                    "type" : "string",
                    "description" : "需要更新状态的链接地址",
                    "example" : null
                  },
                  "status" : {
                    "type" : "number",
                    "description" : "需要更新的状态 1：发布 2：下线",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "更新绑定二维码状态",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateSimpleQrBindStatusResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "book/book-accept-timeout-callback" : {
      "post" : {
        "tags" : [ "im" ],
        "description" : "使用该接口前开发者需完成预约回调扩展点配置。\n\n预售券是 24 小时未接单就回调开发者，如果请求开发者失败，会重试 1 天。如果重试 1 天没有获取到接单结果，状态会停留在预约中，抖音侧不会更改预约单状态。\n\n门票是 1 小时未接单就回调开发者，如果请求开发者失败，会重试 1 小时。如果重试 1 小时没有获取到接单结果就会将预约单改为失败状态，并发起退款。\n\n",
        "requestBody" : {
          "description" : "使用该接口前开发者需完成预约回调扩展点配置。\n\n预售券是 24 小时未接单就回调开发者，如果请求开发者失败，会重试 1 天。如果重试 1 天没有获取到接单结果，状态会停留在预约中，抖音侧不会更改预约单状态。\n\n门票是 1 小时未接单就回调开发者，如果请求开发者失败，会重试 1 小时。如果重试 1 小时没有获取到接单结果就会将预约单改为失败状态，并发起退款。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "app_id" : {
                    "type" : "string",
                    "description" : "小程序appid",
                    "example" : null
                  },
                  "order_id" : {
                    "type" : "string",
                    "description" : "抖音侧订单号，len <= 64 byte",
                    "example" : null
                  },
                  "book_id" : {
                    "type" : "string",
                    "description" : "预约单id，len <= 64 byte",
                    "example" : null
                  },
                  "out_book_no" : {
                    "type" : "string",
                    "description" : "开发者预约单id，len <= 64 byte",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "预约接单超时回调",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Book-accept-timeout-callbackResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n    \"err_no\" : 0,\n    \"err_tips\" : \"success\",\n     \"data\": {\n         \"result\" : 1，\n         \"msg\" : \"xxxxxx\",\n         \"accept_type\" : 2,\n    }\n\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/api/apps/v1/capacity/update_simple_qr_bind" : {
      "post" : {
        "tags" : [ "im" ],
        "description" : "",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "before_qr_url" : {
                    "type" : "string",
                    "description" : "更新前的链接地址",
                    "example" : null
                  },
                  "qr_url" : {
                    "type" : "string",
                    "description" : "绑定的链接地址",
                    "example" : null
                  },
                  "load_path" : {
                    "type" : "string",
                    "description" : "跳转的小程序路径",
                    "example" : null
                  },
                  "stage" : {
                    "type" : "string",
                    "description" : "测试范围，latest-测试 online-线上",
                    "example" : null
                  },
                  "exclusive_qr_url_prefix" : {
                    "type" : "number",
                    "description" : "是否独占该链接作为前缀 0：不独占 1：独占",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "更新绑定二维码链接",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateSimpleQrBindResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/capacity/get_aweme_bind_template_list" : {
      "post" : {
        "tags" : [ "aweme-bind" ],
        "description" : "该接口用于查询进行抖音号绑定时所需要的资质模版列表。\n\n* 在进行抖音号绑定前必须先调用该接口查询绑定的能力是否需要上传资质。\n* 当一个能力存在多个资质模版，只需要选择其中一个资质模版进行上传。\n\n",
        "requestBody" : {
          "description" : "该接口用于查询进行抖音号绑定时所需要的资质模版列表。\n\n* 在进行抖音号绑定前必须先调用该接口查询绑定的能力是否需要上传资质。\n* 当一个能力存在多个资质模版，只需要选择其中一个资质模版进行上传。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "type" : {
                    "type" : "string",
                    "description" : "绑定类型brand：品牌号绑定cooperation：合作号绑定employee：员工号绑定",
                    "example" : null
                  },
                  "aweme_id" : {
                    "type" : "string",
                    "description" : "抖音号",
                    "example" : null
                  },
                  "capacity_list" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "绑定能力列表video_self_mount：短视频自主挂载 live_self_mount：直播自主挂载ma.im.life_im: 本地生活imma.component.instant_messaging：私信组件ma.jsapi.authorizePrivateMessage：主动授权私信组件",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "获取抖音号绑定所需的资质模版列表",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetAwemeBindTemplateListResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"data\": {\n        \"template_map\": {\n            \"live_self_mount\": [\n                {\n                    \"template_id\": 1,\n                    \"title\": \"xxx\",\n                    \"can_apply\": true,\n                    \"category_id\": \"xxx,xxx,xxx\",\n                    \"category_name\": \"xxx-xxx-xxx\"\n                },\n                {\n                    \"template_id\": 2,\n                    \"title\": \"xxxx\",\n                    \"can_apply\": true,\n                    \"category_id\": \"xxx,xxx,xxx\",\n                    \"category_name\": \"xxx-xxx-xxx\"\n                }\n            ]\n        }\n    },\n    \"err_msg\": \"success\",\n    \"err_no\": 0,\n    \"log_id\": \"xxxxxxx\"\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n} \n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/capacity/query_ad_placement_list" : {
      "get" : {
        "tags" : [ "traffic-permission" ],
        "description" : "",
        "responses" : {
          "default" : {
            "description" : "查询广告位列表",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryAdPlacementListResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_msg\": \"success\",\n  \"err_no\": 0,\n  \"data\": {\n    \"ad_placement_list\": [\n      {\n        \"ad_placement_id\": \"bqsc0s8pdcnsru9n6x\",\n        \"ad_placement_name\": \"测试广告位\",\n        \"ad_placement_type\": 1,\n        \"status\": 0\n      }\n    ]\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/douyin/v1/video/video_data/" : {
      "post" : {
        "tags" : [ "video-id-convert" ],
        "description" : "### 注意事项\n* 抖音的 OAuth API 以https://open.douyin.com/ 开头。\n* 可以通过videoid转换itemid，获取 item_id（抖音视频 id）。\n* 只返回用户公开的视频数据，未公开的视频数据不会返回。\n* 如果视频设置为了隐私，则返回创建时间为 0 的记录。\n\n",
        "requestBody" : {
          "description" : "### 注意事项\n* 抖音的 OAuth API 以https://open.douyin.com/ 开头。\n* 可以通过videoid转换itemid，获取 item_id（抖音视频 id）。\n* 只返回用户公开的视频数据，未公开的视频数据不会返回。\n* 如果视频设置为了隐私，则返回创建时间为 0 的记录。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "查询特定视频的视频数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoDataResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"extra\": {\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393,\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\"\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"list\": [\n      {\n        \"title\": \"测试视频 #测试话题 @抖音小助手\",\n        \"create_time\": 1571075129,\n        \"video_status\": 5,\n        \"share_url\": \"https://www.iesdouyin.com/share/video/QDlWd0EzdWVMU2Q0aU5tKzVaOElvVU03ODBtRHFQUCtLUHBSMHFRT21MVkFYYi9UMDYwemRSbVlxaWczNTd6RUJRc3MrM2hvRGlqK2EwNnhBc1lGUkpRPT0=/?region=CN&mid=6753173704399670023&u_code=12h9je425&titleType=title\",\n        \"cover\": \"https://p3-dy.byteimg.com/img/tos-cn-p-0015/cfa0d6421bdc4580876cb16974539ff6~c5_300x400.jpeg\",\n        \"is_top\": false,\n        \"statistics\": {\n          \"digg_count\": 200,\n          \"download_count\": 10,\n          \"play_count\": 300,\n          \"share_count\": 10,\n          \"forward_count\": 10,\n          \"comment_count\": 100\n        },\n        \"item_id\": \"@8hxdhauTCMppanGnM4ltGM780mDqPP+KPpR0qQOmLVAXb/T060zdRmYqig357zEBq6CZRp4NVe6qLIJW/V/x1w==\",\n        \"is_reviewed\": true,\n        \"media_type\": 2\n      }\n    ]\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1594015876138,\n    \"log_id\": \"2020070614111601022506808001045D59\"\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/trade_basic/v1/developer/fulfill_push_status" : {
      "post" : {
        "tags" : [ null ],
        "description" : "to_status信息",
        "requestBody" : {
          "description" : "to_status信息",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "order_id" : {
                    "type" : "string",
                    "description" : "通用交易系统侧订单号，长度 <= 64 byte",
                    "example" : "motb123123131"
                  },
                  "item_order_id_list" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "通用交易系统item单号，每个单号的长度 <= 64 byte",
                    "example" : "[\"motb123123132\"]"
                  },
                  "to_status" : {
                    "type" : "string",
                    "description" : "目标状态，详细枚举值见下文描述",
                    "example" : "fulfilling"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "推送履约状态",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FulfillPushStatusResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"success\",\n  \"log_id\": \"2022092115392201020812109511046\"\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": 10000,\n  \"err_tips\": \"参数错误\",\n  \"log_id\": \"2022092115392201020812109511046\"\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/auth/entity/unbind_role" : {
      "post" : {
        "tags" : [ null ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "小程序解除绑定角色",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnbindRoleResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/api/apps/v1/convert_video_id/video_id_to_open_item_id/" : {
      "post" : {
        "tags" : [ "video-id-convert" ],
        "description" : "提供将在抖音及今日头条宿主小程序拍摄抖音能力获取的 videoId 转换为抖音开放平台可用的 item_id，从而提供获取更多数据的能力。需要注意的是：开放平台端获取数据也需要经过抖音开放平台的获取 access_token 流程，这部分请参阅抖音开放平台的文档。\n\n",
        "requestBody" : {
          "description" : "提供将在抖音及今日头条宿主小程序拍摄抖音能力获取的 videoId 转换为抖音开放平台可用的 item_id，从而提供获取更多数据的能力。需要注意的是：开放平台端获取数据也需要经过抖音开放平台的获取 access_token 流程，这部分请参阅抖音开放平台的文档。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "access_key" : {
                    "type" : "string",
                    "example" : null
                  },
                  "app_id" : {
                    "type" : "string",
                    "example" : null
                  },
                  "video_ids" : {
                    "type" : "object",
                    "properties" : { },
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "videoid转换itemid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoIdToOpenItemIdResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"data\": {\n    \"convert_result\": {\n      \"video1\": \"result1\",\n      \"video2\": \"result2\"\n    }\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": 28005001,\n  \"err_msg\": \"参数解析失败\"\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/auth/entity/update_authletter" : {
      "post" : {
        "tags" : [ null ],
        "description" : "该接口用于更新授权小程序授权函\n创建沙盒环境小程序时请选择“正式小程序能力映射”，详情请关注行业角色系统能力文档。\n前提条件\n\n* 实体ID 已经存在\n* 开发者需要在开发者运营平台完成主体认证(入驻开发者平台)\n\n### 注意事项\n* 基础认证中的营业执照/个人身份证号唯一标识一个实体，相同实体不可重复入驻。\n* 若未做额外备注，string 类型的默认字段默认支持字符集 utf-8\n* access_token获取的方式 获取access_token\n\n",
        "requestBody" : {
          "description" : "该接口用于更新授权小程序授权函\n创建沙盒环境小程序时请选择“正式小程序能力映射”，详情请关注行业角色系统能力文档。\n前提条件\n\n* 实体ID 已经存在\n* 开发者需要在开发者运营平台完成主体认证(入驻开发者平台)\n\n### 注意事项\n* 基础认证中的营业执照/个人身份证号唯一标识一个实体，相同实体不可重复入驻。\n* 若未做额外备注，string 类型的默认字段默认支持字符集 utf-8\n* access_token获取的方式 获取access_token\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "更新授权小程序授权信息",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateAuthletterResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/api/apps/v1/capacity/query_aweme_relation_list" : {
      "get" : {
        "tags" : [ "aweme-bind" ],
        "description" : "",
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "绑定类型brand：品牌号绑定cooperation：合作号绑定employee：员工号绑定",
          "required" : true
        }, {
          "name" : "page_num",
          "in" : "query",
          "description" : "分页编号，从 1 开始",
          "required" : true
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "分页大小，小于等于 50",
          "required" : true
        } ],
        "responses" : {
          "default" : {
            "description" : "查询抖音号绑定列表及状态",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryAwemeRelationListResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"success\",\n  \"data\": {\n    \"total_count\": 10,\n    \"list\": [\n      {\n        \"aweme_id\": \"2012xxxx\",\n        \"user_name\": \"xxx\",\n        \"account_type\": 1,\n        \"bind_status\": 1,\n        \"reason\": \"\"\n      }\n    ]\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "order/notify-payment-result" : {
      "post" : {
        "tags" : [ null ],
        "description" : "* 由于网络波动等原因，可能会产生重复的通知消息，接入方需要做好幂等，正确处理。\n* 回调可能存在延时，开发者可以通过主动请求查询订单信息，确认支付结果。\n* 在开发者服务端收到回调且处理成功后，需要按以下正常返回示例返回并且 HTTP 响应状态码设为 200，否则会认为通知失败进行重试。\n* 支付结果回调地址的配置参考解决方案配置文档。\n* JS API 下单 有 payNotifyUrl 字段，如果在下单传了该字段，则会优先使用下单的 payNotifyUrl 回调地址，否则使用解决方案配置的回调地址。\n  * 注意: 无论是否使用 payNotifyUrl 都需要配置解决方案的支付回调地址，否则即使下单传入 payNotifyUrl 也不会生效。\n\n",
        "requestBody" : {
          "description" : "* 由于网络波动等原因，可能会产生重复的通知消息，接入方需要做好幂等，正确处理。\n* 回调可能存在延时，开发者可以通过主动请求查询订单信息，确认支付结果。\n* 在开发者服务端收到回调且处理成功后，需要按以下正常返回示例返回并且 HTTP 响应状态码设为 200，否则会认为通知失败进行重试。\n* 支付结果回调地址的配置参考解决方案配置文档。\n* JS API 下单 有 payNotifyUrl 字段，如果在下单传了该字段，则会优先使用下单的 payNotifyUrl 回调地址，否则使用解决方案配置的回调地址。\n  * 注意: 无论是否使用 payNotifyUrl 都需要配置解决方案的支付回调地址，否则即使下单传入 payNotifyUrl 也不会生效。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "msg" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "订单相关信息的 json 字符串",
                    "example" : "见请求示例"
                  },
                  "type" : {
                    "type" : "string",
                    "description" : "回调类型（支付结果回调为 payment）：payment（支付成功/支付取消）",
                    "example" : "payment"
                  },
                  "version" : {
                    "type" : "string",
                    "description" : "固定值：\"3.0\"。回调版本，用于开发者识别回调参数的变更",
                    "example" : "\"3.0\"",
                    "default" : "3.0。回调版本，用于开发者识别回调参数的变更"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "支付结果回调",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Notify-payment-resultResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/aweme/v1/video/self/mount_cancel/" : {
      "post" : {
        "tags" : [ null ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "自主挂载存量视频解绑锚点",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MountCancelResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\"\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": 29003019,\n  \"err_msg\": \"视频锚点已被解绑，不可重复解绑\",\n  \"log_id\": \"02169260247533900000000000000000000ffff0a70631ef0727f\"\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/trade_basic/v1/developer/query_cps" : {
      "post" : {
        "tags" : [ null ],
        "description" : "无\n\n",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "order_id" : {
                    "type" : "string",
                    "description" : "交易订单号，order_id 与 out_order_no 二选一",
                    "example" : "\"motb52726742593307630520652\""
                  },
                  "out_order_no" : {
                    "type" : "string",
                    "description" : "开发者的单号，order_id 与 out_order_no 二选一",
                    "example" : "\"ext_order_123\""
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询CPS信息",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryCpsResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"data\":\n    {\n        \"order_id\": \"motb52726742593307630520652\",\n        \"out_order_no\": \"ext_order_123\",\n        \"total_commission_amount\": 1,\n        \"cps_item_list\":\n        [\n            {\n                \"commission_rate\": 10,\n                \"commission_amount\": 1,\n                \"source_type\": 1,\n                \"item_id\": 12323123,\n                \"sell_amount\": 1000,\n                \"status\": 1,\n                \"item_order_id\": \"motb52726742593307630520952\",\n                \"commission_user_nickname\": \"小毛驴\",\n                \"commission_user_douyinid\": \"ax81nd873\",\n                \"task_id\": \"41235132\"\n            }\n        ]\n    },\n    \"err_no\": 0,\n    \"err_msg\": \"success\",\n    \"log_id\": \"2022092115392201020812109511046\"\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n    \"err_no\": 10000,\n    \"err_msg\": \"参数不合法\",\n    \"log_id\": \"2022092115392201020812109511046\"\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/card/delete" : {
      "post" : {
        "tags" : [ null ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "X-Token" : {
                    "type" : "string",
                    "description" : "通过接口获取的access_token。详情可参考：getAccessToken",
                    "example" : null
                  },
                  "Content-Type" : {
                    "type" : "string",
                    "description" : "必须为：application/json",
                    "default" : "application/json",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "删除指定页面配置",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:webcast.bytedance.com",
        "description" : "请求地址"
      } ]
    },
    "/api/apps/trade/v2/toolkit/button_white_setting" : {
      "post" : {
        "tags" : [ null ],
        "description" : "该接口主要控制抖音c端订单详情页跳转“核销工具”小程序去使用按钮可见性。\n\n",
        "requestBody" : {
          "description" : "该接口主要控制抖音c端订单详情页跳转“核销工具”小程序去使用按钮可见性。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "button_type" : {
                    "type" : "integer",
                    "description" : "设置的按钮类型1-核销工具,2-外卖到家,3-外卖到店",
                    "format" : "int32",
                    "example" : "0，1，3* 核销工具小程序传入1* 混合双开可传入2或3"
                  },
                  "uid_list" : {
                    "type" : "array",
                    "description" : "uid维度白名单，每次传入都是全量覆盖。* uid_list&open_all 至少传入一个* uid_list数量不能超过100* 每次传入uid_list均为全量覆盖 * 比如第一次传入[11,22] * 第二次传入[33,44] * 则最后只有[33,44]在白名单列表中",
                    "example" : "[11111,22222,3333]",
                    "items" : {
                      "type" : "integer",
                      "format" : "int32"
                    }
                  },
                  "open_all" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "全量用户可见字段* true:代表所有用户都可以看到c端去使用按钮，从而跳转核销工具小程序* False: 关闭",
                    "example" : "True or False"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "设置订单详情页按钮白名单接口",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ButtonWhiteSettingResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "* 设置核销工具按钮白名单\n"
                  },
                  "failed" : {
                    "value" : "错误码"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/apps/trade/v2/merchant_audit_callback" : {
      "post" : {
        "tags" : [ null ],
        "description" : "无\n\n",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "out_refund_no" : {
                    "type" : "string",
                    "description" : "开发者侧退款单号，长度 <= 64 byte",
                    "example" : "1123"
                  },
                  "refund_audit_status" : {
                    "type" : "integer",
                    "description" : "审核状态 1：同意退款 2：不同意退款",
                    "format" : "int32",
                    "example" : "2"
                  },
                  "deny_message" : {
                    "type" : "string",
                    "description" : "不同意退款信息(不同意退款时必填)，长度 <= 512 byte",
                    "example" : "不同意退款"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "同步退款审核结果",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MerchantAuditCallbackResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_tips\": \"success\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": 13000,\n  \"err_tips\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/auth/entity/upload_material" : {
      "post" : {
        "tags" : [ null ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "上传材料",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UploadMaterialResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : "商家实体 OpenAPI 错误码"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/api/apps/v1/capacity/add_aweme_video_keyword" : {
      "post" : {
        "tags" : [ "aweme-capacity" ],
        "description" : "",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "keyword" : {
                    "type" : "string",
                    "description" : "关键词",
                    "example" : null
                  },
                  "reason" : {
                    "type" : "string",
                    "description" : "添加原因",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "新增视频关键词",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddAwemeVideoKeywordResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/ecpay/saas/app_add_sub_merchant" : {
      "post" : {
        "tags" : [ null ],
        "description" : "资金到账时间取决于银行或渠道的系统处理时效，一般情况下从发起提现到实际到账时间约 1-3 天，请您耐心等待。\n\n",
        "requestBody" : {
          "description" : "资金到账时间取决于银行或渠道的系统处理时效，一般情况下从发起提现到实际到账时间约 1-3 天，请您耐心等待。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "sub_merchant_id" : {
                    "type" : "string",
                    "description" : "商户 id，用于接入方自行标识并管理进件方。由开发者自行分配管理",
                    "example" : "71013634663445509434"
                  },
                  "app_id" : {
                    "type" : "string",
                    "description" : "小程序的 app_id",
                    "example" : "tt226854d5bd56e9ec01"
                  },
                  "url_type" : {
                    "type" : "number",
                    "description" : "链接类型枚举值：2: 账户余额页（可以发起提现）3: 提现记录页",
                    "example" : "2"
                  },
                  "sign" : {
                    "type" : "string",
                    "description" : "签名，详见签名DEMO",
                    "example" : "1aa1a8100523b3872351956594176a0a0"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "开发者获取小程序收款商户/合作方提现页面",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppAddSubMerchantResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_tips\": \"\",\n  \"url\": \"https://pay-merchant.bytedance.com/embed-merchant/v2/status?app_id=800078773621&mainbody_customize=&merchant_id=1200007877&sign=3JAOS-KXjFwYybEIYXvdC53bHjix9O_LDCuTGsIdlYBXrjP7SYh6kGi6LoaTRieLBFhykj2lqfAl2QYfe30HWqPoHFas2SEn6YTS-jEEDVrXaW8N2pp2HKr41zIglNYw5tot2r6BN7zDQhkt2vL7AUewZG0JYOIKMd-tVeY1zvgYuoLpECyPmB3JrMqMru__mlZ24J2l9rp81tLPw97YZQ&uid=71034289144707668623&uid_type=1002\",\n  \"merchant_id\": \"71034289132712668623\" \n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": 2008,\n  \"err_tips\": \"签名校验异常，请使用正确的签名和 json 传参\", \n  \"merchant_id\": \"\",\n  \"url\": \"\"\n}\n]\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/ecpay/saas/image_upload" : {
      "post" : {
        "tags" : [ "im" ],
        "description" : "* 请求参数必须使用 form 表单格式。\n\n",
        "requestBody" : {
          "description" : "* 请求参数必须使用 form 表单格式。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "app_id" : {
                    "type" : "string",
                    "description" : "小程序的 app_id在开发者身份下必填",
                    "example" : "ttdb96ad2b44aeff3301"
                  },
                  "access_token" : {
                    "type" : "string",
                    "description" : "小程序token在开发者身份下必填获取链接",
                    "example" : "567234784"
                  },
                  "thirdparty_id" : {
                    "type" : "string",
                    "description" : "小程序第三方平台应用 id在服务商身份下必填",
                    "example" : "ttc4a8b2155b82682f"
                  },
                  "component_access_token" : {
                    "type" : "string",
                    "description" : "服务商绑定的token在服务商身份下必填获取链接",
                    "example" : "\"8431201934ab\""
                  },
                  "image_type" : {
                    "type" : "string",
                    "description" : "图片格式，支持格式：jpg、jpeg、png",
                    "example" : "jpg"
                  },
                  "image_content" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "图片二进制字节流，最大为2M",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "图片上传接口",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageUploadResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/ecpay/saas/query_merchant_status" : {
      "post" : {
        "tags" : [ null ],
        "description" : "服务商查询小程序收款商户及合作方，参数需传入 app_id、sign、merchant_id 以及 thirdparty_id，具体实例如下：",
        "requestBody" : {
          "description" : "服务商查询小程序收款商户及合作方，参数需传入 app_id、sign、merchant_id 以及 thirdparty_id，具体实例如下：",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "app_id" : {
                    "type" : "string",
                    "description" : "小程序 AppID在开发者模式下必填",
                    "example" : "ttdb96ad2b44aeff3301"
                  },
                  "thirdparty_id" : {
                    "type" : "string",
                    "description" : "服务商第三方小程序应用id在服务商模式下必填",
                    "example" : "ttc4a8b2155b82682f"
                  },
                  "merchant_id" : {
                    "type" : "string",
                    "description" : "抖音开放平台分配的商户号由发起进件请求接口返回",
                    "example" : "M69824283230789983130"
                  },
                  "sub_merchant_id" : {
                    "type" : "string",
                    "description" : "商户 id，用于接入方自行标识并管理进件方。对应发起进件请求接口送入的sub_merchant_id",
                    "example" : "69560302266147330860"
                  },
                  "sign" : {
                    "type" : "string",
                    "description" : "签名，详见签名DEMO",
                    "example" : "14784648abca76344b87135fe810247b"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "进件状态查询",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryMerchantStatusResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/auth/entity/bind_role" : {
      "post" : {
        "tags" : [ null ],
        "description" : "该接口用于角色绑定小程序，是认领小程序的过程。只有拥有小程序的角色才可以调用绑定接口认领小程序。\n仅代运营服务商和自营模式机构需要调用该接口\n创建沙盒环境小程序时请选择“正式小程序能力映射”，详情请关注行业角色系统能力文档。\n前提条件\n\n* 实体ID 已经存在\n* 该实体对应的角色已存在\n* 开发者需要在开发者运营平台完成主体认证(入驻开发者平台)\n\n### 注意事项\n* 若未做额外备注，string 类型的默认字段默认支持字符集 utf-8请求\n* access_token获取的方式 获取access_token\n\n",
        "requestBody" : {
          "description" : "该接口用于角色绑定小程序，是认领小程序的过程。只有拥有小程序的角色才可以调用绑定接口认领小程序。\n仅代运营服务商和自营模式机构需要调用该接口\n创建沙盒环境小程序时请选择“正式小程序能力映射”，详情请关注行业角色系统能力文档。\n前提条件\n\n* 实体ID 已经存在\n* 该实体对应的角色已存在\n* 开发者需要在开发者运营平台完成主体认证(入驻开发者平台)\n\n### 注意事项\n* 若未做额外备注，string 类型的默认字段默认支持字符集 utf-8请求\n* access_token获取的方式 获取access_token\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "default" : {
            "description" : "小程序绑定角色",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BindRoleResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/poi/v2/supplier/query/supplier/" : {
      "get" : {
        "tags" : [ "locallife" ],
        "parameters" : [ {
          "name" : "supplier_ext_id",
          "in" : "query",
          "description" : "第三方店铺id列表，多个商铺id用 , 分割，单次查询最多50个店铺。",
          "required" : true,
          "example" : "4123413,1243"
        } ],
        "responses" : {
          "default" : {
            "description" : "店铺匹配状态查询",
            "content" : {
              "application/json" : {
                "schema" : {
[...]
