{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OpenAPI 简介",
    "version" : "0.0.1"
  },
  "externalDocs" : {
    "description" : "OpenAPI 简介",
    "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/server-api-introduction"
  },
  "servers" : [ {
    "url" : "https://open.douyin.com/"
  } ],
  "tags" : [ {
    "name" : "interface-request-credential",
    "description" : "接口调用凭证",
    "externalDocs" : {
      "description" : "接口调用凭证",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/interface-request-credential"
    }
  }, {
    "name" : "log-in",
    "description" : "登录",
    "externalDocs" : {
      "description" : "登录",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/log-in"
    }
  }, {
    "name" : "clue-component-info",
    "description" : "留资分发配置",
    "externalDocs" : {
      "description" : "留资分发配置",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/clue-component-info"
    }
  }, {
    "name" : "video-id-convert",
    "description" : "视频能力",
    "externalDocs" : {
      "description" : "视频能力",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/video-id-convert"
    }
  }, {
    "name" : "search",
    "description" : "搜索能力",
    "externalDocs" : {
      "description" : "搜索能力",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/search"
    }
  }, {
    "name" : "e-commerce",
    "description" : "电商",
    "externalDocs" : {
      "description" : "电商",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/e-commerce"
    }
  }, {
    "name" : "locallife",
    "description" : "生活服务",
    "externalDocs" : {
      "description" : "生活服务",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/locallife"
    }
  }, {
    "name" : "share",
    "description" : "分享",
    "externalDocs" : {
      "description" : "分享",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/share"
    }
  }, {
    "name" : "im",
    "description" : "客服",
    "externalDocs" : {
      "description" : "客服",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/im"
    }
  }, {
    "name" : "merchant-coupon",
    "description" : "小程序劵",
    "externalDocs" : {
      "description" : "小程序劵",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/merchant-coupon"
    }
  }, {
    "name" : "trade-system",
    "description" : "交易系统",
    "externalDocs" : {
      "description" : "交易系统",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system"
    }
  }, {
    "name" : "content-security",
    "description" : "内容安全",
    "externalDocs" : {
      "description" : "内容安全",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/content-security"
    }
  }, {
    "name" : "pan-knowledge",
    "description" : "泛知识",
    "externalDocs" : {
      "description" : "泛知识",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/pan-knowledge"
    }
  }, {
    "name" : "ecpay",
    "description" : "担保支付",
    "externalDocs" : {
      "description" : "担保支付",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/ecpay"
    }
  }, {
    "name" : "evolution",
    "description" : "评价",
    "externalDocs" : {
      "description" : "评价",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/evolution"
    }
  }, {
    "name" : "other",
    "description" : "其它",
    "externalDocs" : {
      "description" : "其它",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/other"
    }
  }, {
    "name" : "subscribe-notification",
    "description" : "订阅消息",
    "externalDocs" : {
      "description" : "订阅消息",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/subscribe-notification"
    }
  }, {
    "name" : "promote",
    "description" : "小程序推广计划",
    "externalDocs" : {
      "description" : "小程序推广计划",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/promote"
    }
  }, {
    "name" : "mount",
    "description" : "挂载",
    "externalDocs" : {
      "description" : "挂载",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/mount"
    }
  }, {
    "name" : "delivery",
    "description" : "分发",
    "externalDocs" : {
      "description" : "分发",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/delivery"
    }
  }, {
    "name" : "follow-aweme",
    "description" : "引导关注抖音号",
    "externalDocs" : {
      "description" : "引导关注抖音号",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/follow-aweme"
    }
  }, {
    "name" : "data-analysis",
    "description" : "数据分析",
    "externalDocs" : {
      "description" : "数据分析",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/data-analysis"
    }
  }, {
    "name" : "category",
    "description" : "服务类目",
    "externalDocs" : {
      "description" : "服务类目",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/category"
    }
  }, {
    "name" : "live-capcity",
    "description" : "直播间能力",
    "externalDocs" : {
      "description" : "直播间能力",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/live-capcity"
    }
  }, {
    "name" : "aweme-capacity",
    "description" : "抖音开放能力",
    "externalDocs" : {
      "description" : "抖音开放能力",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/aweme-capacity"
    }
  }, {
    "name" : "page-layout-custom",
    "description" : "页面结构自定义",
    "externalDocs" : {
      "description" : "页面结构自定义",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/page-layout-custom"
    }
  }, {
    "name" : "simple-qr-code",
    "description" : "普通二维码绑定",
    "externalDocs" : {
      "description" : "普通二维码绑定",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/simple-qr-code"
    }
  }, {
    "name" : "aweme-bind",
    "description" : "抖音号绑定",
    "externalDocs" : {
      "description" : "抖音号绑定",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/aweme-bind"
    }
  }, {
    "name" : "traffic-permission",
    "description" : "流量主",
    "externalDocs" : {
      "description" : "流量主",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/traffic-permission"
    }
  }, {
    "name" : "doudian-bind",
    "description" : "抖店绑定",
    "externalDocs" : {
      "description" : "抖店绑定",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/doudian-bind"
    }
  }, {
    "name" : "data-open",
    "description" : "用户信息",
    "externalDocs" : {
      "description" : "用户信息",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/data-open"
    }
  }, {
    "name" : "instant-message",
    "description" : "即时通讯",
    "externalDocs" : {
      "description" : "即时通讯",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/instant-message"
    }
  }, {
    "name" : "url-and-qrcode",
    "description" : "小程序码与小程序链接",
    "externalDocs" : {
      "description" : "小程序码与小程序链接",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/url-and-qrcode"
    }
  } ],
  "paths" : {
    "/api/apps/upload_live_image" : {
      "post" : {
        "tags" : [ "im" ],
        "description" : "[直播间自定义封面](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/other/live-bg-image)",
        "operationId" : "postLiveBgImage",
        "responses" : {
          "default" : {
            "description" : "直播间自定义封面",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppsUploadLiveImageResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "请求地址"
      } ]
    },
    "/api/trade_basic/v1/developer/refund_audit_callback/" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[同步退款审核结果](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/general/refund/refund_audit)",
        "operationId" : "postRefundAudit",
        "responses" : {
          "default" : {
            "description" : "同步退款审核结果",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeveloperRefundAuditCallbackResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/auth/entity/update_authletter" : {
      "post" : {
        "tags" : [ "pan-knowledge" ],
        "description" : "[更新授权小程序授权信息](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/pan-knowledge/role/update-authorization-letter-of-miniapp)",
        "operationId" : "postUpdateAuthorizationLetterOfMiniapp",
        "responses" : {
          "default" : {
            "description" : "更新授权小程序授权信息",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityUpdateAuthletterResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/auth/entity/get_basic_auth" : {
      "post" : {
        "tags" : [ "pan-knowledge" ],
        "description" : "[查询基础认证资质](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/pan-knowledge/role/query-basic-qualification)",
        "operationId" : "postQueryBasicQualification",
        "responses" : {
          "default" : {
            "description" : "查询基础认证资质",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityGetBasicAuthResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/product/api/modify_no_audit" : {
      "post" : {
        "tags" : [ "pan-knowledge" ],
        "description" : "[【泛知识】修改课程免审](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/pan-knowledge/product/product-modify-no-audit)",
        "operationId" : "postProductModifyNoAudit",
        "responses" : {
          "default" : {
            "description" : "【泛知识】修改课程免审",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiModifyNoAuditResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer-product.zijieapi.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/auth/entity/get_class_auth" : {
      "post" : {
        "tags" : [ "pan-knowledge" ],
        "description" : "[查询类目认证资质](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/pan-knowledge/role/query-category-qualification)",
        "operationId" : "postQueryCategoryQualification",
        "responses" : {
          "default" : {
            "description" : "查询类目认证资质",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityGetClassAuthResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/api/trade_basic/v1/developer/refund_query/" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[查询退款](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/general/refund/query_refund)",
        "operationId" : "postQueryRefund",
        "responses" : {
          "default" : {
            "description" : "查询退款",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeveloperRefundQueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/apps/v1/url/generate_schema/" : {
      "post" : {
        "tags" : [ "url-and-qrcode" ],
        "description" : "[生成SchemaV2](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/url-and-qrcode/schema/generate-schema-v2)",
        "operationId" : "postGenerateSchemaV2",
        "responses" : {
          "default" : {
            "description" : "生成SchemaV2",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UrlGenerateSchemaResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/auth/entity/upload_material" : {
      "post" : {
        "tags" : [ "pan-knowledge" ],
        "description" : "[上传材料](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/pan-knowledge/role/upload-qualification-materials)",
        "operationId" : "postUploadQualificationMaterials",
        "responses" : {
          "default" : {
            "description" : "上传材料",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityUploadMaterialResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : "商家实体 OpenAPI 错误码"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/auth/entity/get_audit_detail" : {
      "post" : {
        "tags" : [ "pan-knowledge" ],
        "description" : "[获取审核任务详情](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/pan-knowledge/role/get-audit-task-details)",
        "operationId" : "postAuditTaskDetails",
        "responses" : {
          "default" : {
            "description" : "获取审核任务详情",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityGetAuditDetailResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/data/external/poi/user/" : {
      "get" : {
        "tags" : [ "locallife" ],
        "description" : "[POI用户数据](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/locallife/poi-data/poi-user-data)",
        "operationId" : "getPoiUserData",
        "parameters" : [ {
          "name" : "poi_id",
          "in" : "query",
          "description" : "抖音poi_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "抖音poi_id",
            "example" : "<nil>"
          },
          "example" : "<nil>"
        }, {
          "name" : "date_type",
          "in" : "query",
          "description" : "近7/15/30天",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "近7/15/30天",
            "format" : "int32",
            "example" : "<nil>"
          },
          "example" : "<nil>"
        } ],
        "responses" : {
          "default" : {
            "description" : "POI用户数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PoiUserResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/api/apps/v1/douyin/query_user_task/" : {
      "post" : {
        "tags" : [ "share" ],
        "description" : "[查询用户任务进度](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/share/douyin_task/query_task)",
        "operationId" : "postQueryTask",
        "responses" : {
          "default" : {
            "description" : "查询用户任务进度",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DouyinQueryUserTaskResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/data/external/poi/service_user/" : {
      "get" : {
        "tags" : [ "locallife" ],
        "description" : "[POI服务成交用户数据](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/locallife/poi-data/poi-service-user-data)",
        "operationId" : "getPoiServiceUserData",
        "parameters" : [ {
          "name" : "poi_id",
          "in" : "query",
          "description" : "抖音poi_id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "抖音poi_id",
            "example" : "<nil>"
          },
          "example" : "<nil>"
        }, {
          "name" : "date_type",
          "in" : "query",
          "description" : "近7/15/30天",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "近7/15/30天",
            "format" : "int32",
            "example" : "<nil>"
          },
          "example" : "<nil>"
        }, {
          "name" : "service_type",
          "in" : "query",
          "description" : "服务类型，40:民宿",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "服务类型，40:民宿",
            "format" : "int32",
            "example" : "<nil>"
          },
          "example" : "<nil>"
        } ],
        "responses" : {
          "default" : {
            "description" : "POI服务成交用户数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PoiServiceUserResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/api/apps/url_link/generate" : {
      "post" : {
        "tags" : [ "url-and-qrcode" ],
        "description" : "[生成 Link](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/url-and-qrcode/link/url-link-generate)",
        "operationId" : "postUrlLinkGenerate",
        "responses" : {
          "default" : {
            "description" : "生成 Link",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UrlLinkGenerateResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/capacity/query_apply_status" : {
      "get" : {
        "tags" : [ "live-capcity" ],
        "description" : "[查询跳转抖音直播间能力申请状态](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/live-capcity/query-jump-live-room-status)",
        "operationId" : "getQueryJumpLiveRoomStatus",
        "parameters" : [ {
          "name" : "capacity_key",
          "in" : "query",
          "description" : "固定值“ma.jsapi.jump_live_room”",
          "required" : true,
          "schema" : {
            "type" : "number",
            "description" : "固定值“ma.jsapi.jump_live_room”",
            "default" : "“ma.jsapi.jump_live_room”",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "查询跳转抖音直播间能力申请状态",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapacityQueryApplyStatusResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n  \"data\":{\n        \"status\":1,\n        \"reason\":\"\"\n    }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/capacity/add_app_subscribe_notification_tpl" : {
      "post" : {
        "tags" : [ "subscribe-notification" ],
        "description" : "[添加模板](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/subscribe-notification/add-template)",
        "operationId" : "postAddTemplate",
        "requestBody" : {
          "description" : "无。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "template_id" : {
                    "type" : "number",
                    "description" : "模板 id，通过查询订阅消息模板库获取。",
                    "example" : null
                  },
                  "keyword_list" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "自行组合的模板关键词列表，必须是所添加的模板下的关键词。",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "添加模板",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapacityAddAppSubscribeNotificationTplResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"success\",\n  \"data\": {\n    \"msg_id\": \"xxx\" \n  }\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\" \n}\n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/capacity/delete_clue_component_info" : {
      "delete" : {
        "tags" : [ "clue-component-info" ],
        "description" : "[删除留资分发配置](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/clue-component-info/delete)",
        "operationId" : "delete",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "config_id" : {
                    "type" : "string",
                    "description" : "要删除的留资分发配置的id",
                    "default" : "[\"album\"]",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "删除留资分发配置",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapacityDeleteClueComponentInfoResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"err_no\": 0,\n    \"err_msg\": \"success\",\n    \"log_id\": \"xxxx\",\n    \"data\": {\n    }\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n    \"err_no\": -1,\n    \"err_msg\": \"系统错误\",\n    \"log_id\": \"xxxx\",\n    \"data\": {\n    }\n}\n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/trade/v2/toolkit/update_merchant_path" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[设置小程序跳转path](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/self-operated-trading/write-off/fulfill-tool/update_merchant_path)",
        "operationId" : "postUpdateMerchantPath",
        "parameters" : [ {
          "name" : "bind_biz_type",
          "in" : "query",
          "description" : "商家绑定的小程序类型,0-核销工具，1-混合双开",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "商家绑定的小程序类型,0-核销工具，1-混合双开",
            "format" : "int32",
            "example" : "0,1"
          },
          "example" : "0,1"
        }, {
          "name" : "account_id",
          "in" : "query",
          "description" : "商家Id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "商家Id",
            "example" : null
          }
        }, {
          "name" : "path_data_list",
          "in" : "query",
          "description" : "要设置的跳转链接列表",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : { },
            "description" : "要设置的跳转链接列表",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "设置小程序跳转path",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ToolkitUpdateMerchantPathResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "* 混合双开设置到家和到点按钮跳转地址\n"
                  },
                  "failed" : {
                    "value" : "错误码"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/trade/v2/fulfillment/verify_cancel" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[撤销核销](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/agency-trade-system/fulfillment/douyin-code/verify-cancel)",
        "operationId" : "postApiTradeV2FulfillmentVerifyCancel",
        "requestBody" : {
          "description" : "<ul><li><span style=\"color: #171A1C;\"><span style=\"font-size: 14px;\">针对抖音原生券码误核销之后的撤销操作，订单状态由“已使用”回改为“待使用”，用于验券错误需要撤回验券等场景， 有时间限制，验券超过一个小时就不可再撤销。</span></span></li></ul>\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "verify_id" : {
                    "type" : "string",
                    "description" : "代表券码一次核销的唯一标识（验券时返回）",
                    "example" : "12345"
                  },
                  "certificate_id" : {
                    "type" : "string",
                    "description" : "代表一张券码的标识",
                    "example" : "123"
                  },
                  "order_id" : {
                    "type" : "string",
                    "description" : "需要撤销的certificate_id所属的订单id",
                    "example" : "8000088"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "撤销核销",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FulfillmentVerifyCancelResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\"\n  },\n  \"extra\": {\n    \"sub_error_code\": 0,\n    \"sub_description\": \"success\",\n    \"logid\": \"2022092115392201020812109511046\",\n    \"now\": 1663745962686,\n    \"error_code\": 0,\n    \"description\": \"success\"\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 13000,\n    \"description\": \"系统错误\"\n  },\n  \"extra\": {\n    \"sub_error_code\": 13000,\n    \"sub_description\": \"系统错误\",\n    \"logid\": \"2022092115392201020812109511046\",\n    \"now\": 1663745962686,\n    \"error_code\": 2191000,\n    \"description\": \"\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/file/card_image/delete" : {
      "post" : {
        "tags" : [ "im" ],
        "description" : "[图片删除](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/mount/image-delete)",
        "operationId" : "postImage",
        "requestBody" : {
          "description" : "小程序框架会在小程序页面的上方悬浮 3 种按钮，分别是「将此页添加到直播」、「开始讲解」和「取消讲解」。",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "X-Token" : {
                    "type" : "string",
                    "description" : "通过接口获取的 access_token。详情可参考：getAccessToken",
                    "example" : null
                  },
                  "Content-Type" : {
                    "type" : "string",
                    "description" : "必须为：application/json",
                    "default" : "application/json",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "图片删除",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardImageDeleteResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:webcast.bytedance.com",
        "description" : "请求地址"
      } ]
    },
    "/api/apps/v1/capacity/unbind_aweme_relation" : {
      "post" : {
        "tags" : [ "aweme-bind" ],
        "description" : "[解除抖音号绑定](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/aweme-bind/unbind-aweme-relation)",
        "operationId" : "postUnbindAwemeRelation",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "type" : {
                    "type" : "string",
                    "description" : "绑定类型brand：品牌号绑定cooperation：合作号绑定employee：员工号绑定",
                    "example" : null
                  },
                  "aweme_id" : {
                    "type" : "string",
                    "description" : "抖音号",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "解除抖音号绑定",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapacityUnbindAwemeRelationResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/capacity/delete_aweme_video_keyword" : {
      "post" : {
        "tags" : [ "aweme-capacity" ],
        "description" : "[删除视频关键词](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/aweme-capacity/delete-aweme-video-keyword)",
        "operationId" : "postAwemeVideoKeyword",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "keyword_id" : {
                    "type" : "string",
                    "description" : "需要删除的关键词id，必须是审核通过/拒绝的关键词",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "删除视频关键词",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapacityDeleteAwemeVideoKeywordResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/refund/refund-callback" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[退款申请回调](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/trading/refund/refund-callback)",
        "operationId" : "postRefundRefund-callback",
        "requestBody" : {
          "description" : "* 用户发起/过期自动退/客服退，交易系统都会请求开发者的“退款申请回调”接口\n* 退款单的创建是在退款申请回调之前，退款申请回调请求开发者服务失败，也不会在 C 端展示错误，退款申请回调请求失败后会进行重试。\n* 请务必确保退款申请回调请求能按照正确的格式和参数要求返回。\n* 请求返回的外部退款单号也务必确保在同一小程序内不会重复，否则也会被认为请求失败。\n* 开发者返回的 err_no 不为 0 也会认为请求失败，会进行重试，请确保请求成功，有拒绝退款的场景请在退款审核阶段拒绝退款。\n* 如果一直请求开发者服务失败，退款单将无法被推进到退款审核阶段，请务必确保响应无问题。\n* 退款申请回调务必做好幂等处理，相同的系统退款单号重复请求应当被视为相同的一次退款。\n* 退款结果通知地址优先级：退款发起/退款申请回调指定的notify_url > 抖音开放平台-小程序应用详情-能力-支付页面配置的回调地址\n注意流程图中**红色线条**的部分\n\n**客服退** \n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "msg" : {
                    "type" : "object",
                    "properties" : {
                      "refund_item_detail" : {
                        "type" : "object",
                        "properties" : {
                          "item_order_quantity" : {
                            "type" : "integer",
                            "description" : "用户需要退款多少个商品单",
                            "format" : "int32",
                            "example" : "1"
                          },
                          "item_order_detail" : {
                            "type" : "array",
                            "description" : "本次退款的商品单列表",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "refund_amount" : {
                                  "type" : "integer",
                                  "description" : "该商品单退款金额",
                                  "format" : "int32",
                                  "example" : "100"
                                },
                                "item_order_id" : {
                                  "type" : "string",
                                  "description" : "抖音开平侧商品单号，商品单号在预下单接口同步给了开发者",
                                  "example" : "ot123134"
                                }
                              }
                            },
                            "example" : null
                          }
                        },
                        "description" : "退款商品单信息注意：交易系统订单退款必传",
                        "example" : null
                      },
                      "open_id" : {
                        "type" : "string",
                        "description" : "用户 openid",
                        "example" : "123123"
                      },
                      "out_order_no" : {
                        "type" : "string",
                        "description" : "开发者侧订单号",
                        "example" : "213123"
                      },
                      "need_refund_audit" : {
                        "type" : "integer",
                        "description" : "是否需要退款审核：* 1：需要退款审核* 2：不需要退款审核不需要退款审核，则无需再调用退款审核结果同步接口",
                        "format" : "int32",
                        "example" : "1"
                      },
                      "refund_description" : {
                        "type" : "string",
                        "description" : "退款补充说明",
                        "example" : "想退款"
                      },
                      "cp_extra" : {
                        "type" : "string",
                        "description" : "cp 自定义字段，不支持二进制，长度 <= 2048byte",
                        "example" : "cp_extra"
                      },
                      "refund_total_amount" : {
                        "type" : "integer",
                        "description" : "退款总金额，单位分",
                        "format" : "int32",
                        "example" : "100"
                      },
                      "refund_id" : {
                        "type" : "string",
                        "description" : "抖音开平侧退款单号",
                        "example" : "ot1231313"
                      },
                      "create_refund_time" : {
                        "type" : "integer",
                        "description" : "退款创建时间，13 位时间戳，单位毫秒",
                        "format" : "int32",
                        "example" : "151231321230"
                      },
                      "refund_reason" : {
                        "type" : "array",
                        "description" : "退款原因，退款原因有多个",
                        "example" : "[\"不喜欢\"]",
                        "items" : {
                          "type" : "object",
                          "properties" : { }
                        }
                      },
                      "refund_audit_deadline" : {
                        "type" : "integer",
                        "description" : "退款审核的最后期限，超过该期限无需商家审核，自动退款，13 位时间戳，单位毫秒通常是3天(从退款发起时间开始算)",
                        "format" : "int32",
                        "example" : "151231321231"
                      },
                      "order_id" : {
                        "type" : "string",
                        "description" : "抖音开平侧订单号",
                        "example" : "ot1231312"
                      },
                      "app_id" : {
                        "type" : "string",
                        "description" : "小程序的 appid",
                        "example" : "ttqweqw12312"
                      },
                      "refund_source" : {
                        "type" : "integer",
                        "description" : "退款来源：* 1：用户发起退款* 3：过期自动退* 4：抖音客服退款* 5：预约失败自动退款",
                        "format" : "int32",
                        "example" : "1"
                      }
                    },
                    "description" : "退款单相关信息的 json 字符串",
                    "example" : "ot1231231"
                  },
                  "type" : {
                    "type" : "string",
                    "description" : "枚举值：* pre_create_order 预下单回调* pre_create_refund 退款申请回调",
                    "example" : "pre_create_refund"
                  },
                  "version" : {
                    "type" : "string",
                    "description" : "固定值：\"2.0\"。回调版本，用于开发者识别回调参数的变更",
                    "example" : "2.0",
                    "default" : "2.0。回调版本，用于开发者识别回调参数的变更"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "退款申请回调",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefundRefund-callbackResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_tips\": \"123213\",\n  \"data\": {\n    \"out_refund_no\": \"89876867867087\",\n    \"order_entry_schema\": {\n      \"path\": \"page/refundDetail/xxx\",\n      \"params\": \"{\\\"id\\\": 1}\"\n    },\n    \"notify_url\": \"https://xxx\" \n  }\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": 13000,\n  \"err_tips\": \"系统错误\" \n}\n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/api/apps/v1/data_analysis/query_deal_data_with_conversion" : {
      "post" : {
        "tags" : [ "data-analysis" ],
        "description" : "[流量转化](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/data-analysis/transaction-analysis/deal-conversion-analysis)",
        "operationId" : "postDealConversionAnalysis",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "start_time" : {
                    "type" : "number",
                    "description" : "开始时间，必须是昨天以前的某个时间戳",
                    "example" : null
                  },
                  "end_time" : {
                    "type" : "number",
                    "description" : "结束时间，必须是昨天以前的某个时间戳",
                    "example" : null
                  },
                  "host_name" : {
                    "type" : "string",
                    "description" : "宿主APP，douyin-抖音；douyin_lite-抖音lite；toutiao-今日头条；tt_lite-今日头条lite；huoshan-抖音火山版；",
                    "example" : null
                  },
                  "scenes_list" : {
                    "type" : "array",
                    "description" : "流量来源渠道，选择 '全部' 时不必传，选择 '其它' 来源渠道传递 流量来源 接口的 OtherScenesList 字段",
                    "items" : {
                      "type" : "object",
                      "properties" : { }
                    },
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "流量转化",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataAnalysisQueryDealDataWithConversionResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"Data\": {\n      \"CreateOrderCount\": 0,\n      \"CreateUserCount\": 0,\n      \"MpDrainagePv\": 0,\n      \"MpDrainageUv\": 0,\n      \"MpShowPv\": 0,\n      \"MpShowUv\": 0,\n      \"PayOrderCount\": 0,\n      \"PayPeopleCount\": 0,\n      \"RefundAmount\": 0,\n      \"RefundOrderCount\": 0,\n      \"RefundPeopleCount\": 0\n    }\n  },\n  \"err_msg\": \"success\",\n  \"err_no\": 0\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/capacity/get_aweme_bind_template_list" : {
      "post" : {
        "tags" : [ "aweme-bind" ],
        "description" : "[获取抖音号绑定所需的资质模版列表](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/aweme-bind/get-template-list)",
        "operationId" : "postTemplateList",
        "requestBody" : {
          "description" : "该接口用于查询进行抖音号绑定时所需要的资质模版列表。\n\n* 在进行抖音号绑定前必须先调用该接口查询绑定的能力是否需要上传资质。\n* 当一个能力存在多个资质模版，只需要选择其中一个资质模版进行上传。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "type" : {
                    "type" : "string",
                    "description" : "绑定类型brand：品牌号绑定cooperation：合作号绑定employee：员工号绑定",
                    "example" : null
                  },
                  "aweme_id" : {
                    "type" : "string",
                    "description" : "抖音号",
                    "example" : null
                  },
                  "capacity_list" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "绑定能力列表video_self_mount：短视频自主挂载 live_self_mount：直播自主挂载ma.im.life_im: 本地生活imma.component.instant_messaging：私信组件ma.jsapi.authorizePrivateMessage：主动授权私信组件",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "获取抖音号绑定所需的资质模版列表",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapacityGetAwemeBindTemplateListResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"data\": {\n        \"template_map\": {\n            \"live_self_mount\": [\n                {\n                    \"template_id\": 1,\n                    \"title\": \"xxx\",\n                    \"can_apply\": true,\n                    \"category_id\": \"xxx,xxx,xxx\",\n                    \"category_name\": \"xxx-xxx-xxx\"\n                },\n                {\n                    \"template_id\": 2,\n                    \"title\": \"xxxx\",\n                    \"can_apply\": true,\n                    \"category_id\": \"xxx,xxx,xxx\",\n                    \"category_name\": \"xxx-xxx-xxx\"\n                }\n            ]\n        }\n    },\n    \"err_msg\": \"success\",\n    \"err_no\": 0,\n    \"log_id\": \"xxxxxxx\"\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n} \n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/v1/data_analysis/query_real_time_user_data" : {
      "get" : {
        "tags" : [ "im" ],
        "description" : "[实时分析](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/data-analysis/user-analysis/realtime-analysis)",
        "operationId" : "getRealtimeAnalysis",
        "parameters" : [ {
          "name" : "host_name",
          "in" : "query",
          "description" : "宿主APP，douyin-抖音；douyin_lite-抖音lite；toutiao-今日头条；tt_lite-今日头条lite；huoshan-抖音火山版；",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "宿主APP，douyin-抖音；douyin_lite-抖音lite；toutiao-今日头条；tt_lite-今日头条lite；huoshan-抖音火山版；",
            "example" : null
          }
        }, {
          "name" : "version_type",
          "in" : "query",
          "description" : "版本类型。online-线上版本；gray-灰度版本",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "版本类型。online-线上版本；gray-灰度版本",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "实时分析",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataAnalysisQueryRealTimeUserDataResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\",\n  \"data\": {\n    \"behaviors\": [\n      {\n        \"time\": \"00:00:00\",\n        \"active_user_num\": 15,\n        \"open_time\": 18\n      },\n      {\n        \"time\": \"01:00:00\",\n        \"active_user_num\": 10,\n        \"open_time\": 16\n      },\n      {\n        \"time\": \"02:00:00\",\n        \"active_user_num\": 10,\n        \"open_time\": 16\n      }\n    ]\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/taskbox/update/status/" : {
      "post" : {
        "tags" : [ "promote" ],
        "description" : "[更新任务状态](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/promote/taskbox/updatetaskstatus)",
        "operationId" : "postUpdatetaskstatus",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "access_token" : {
                    "type" : "string",
                    "description" : "权限 token，获取接口（代开发服务商获取token的方式 获取接口2）",
                    "example" : null
                  },
                  "task_id" : {
                    "type" : "number",
                    "description" : "任务ID，创建接口返回",
                    "example" : null
                  },
                  "task_status" : {
                    "type" : "number",
                    "description" : "任务状态，当前仅支持传4",
                    "example" : "4"
                  },
                  "appid" : {
                    "type" : "string",
                    "description" : "小程序appid",
                    "example" : null
                  },
                  "third_appid" : {
                    "type" : "string",
                    "description" : "第三方小程序appid（服务商使用的授权小程序）",
                    "example" : "abcdefgh1234562"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "更新任务状态",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UpdateStatusResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "请求地址"
      } ]
    },
    "/api/douyin/v1/im/set_applet_template/" : {
      "post" : {
        "tags" : [ "instant-message" ],
        "description" : "[创建/更新小程序引导卡片模板](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/instant-message/business-tool/micro-app-card/create-template)",
        "operationId" : "postCreateTemplate",
        "requestBody" : {
          "description" : "* 模板好以后，无法再修改卡片类型 card_type\n* 小程序引导卡片示例\n \n* 创建好卡片后，可通过发送私信消息接口进行小程序引导卡片发送，content 示例如下\n\n```js\r\n[\"content\": {\n    \"msg_type\": 10,\n    \"applet_card\": {\n      \"card_template_id\": \"@9VwNxuKKBZ03MXG7M8ooWM771FjUAMW/BqhMlDebEmyyzJD7cZENrR868oDbX9xx\",\n      \"schema\":\"https://z.douyin.com/ijBoQwF\"\n    }\n }\n]\r\n```\n* schema 获取方式\n  * 通过接口生成 Generate，通过 expire_time 参数控制过期时间，过期后需重新生成。\n  * 在小程序界面点击右上角 ... > 分享 > 复制链接，链接有效期为45天，过期后需重新生成。\n* 接口存在防重复提交机制，应用多次调用接口传入相同的 content, media_id,title 参数创建小程序引导卡片，接口会返回相同的 card_template_id\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "card_template_id" : {
                    "type" : "string",
                    "description" : "模板ID，更新模板时传入",
                    "example" : "@8hxdhauTCMppanGnM4ltGM780mDqPP+KPpR0qQOmLVAXb/T060zdRmYqig357zEBq6CZRp4NVe6qLIJW/V/x1w=="
                  },
                  "card_type" : {
                    "type" : "integer",
                    "description" : "卡片类型，创建模板时必传* 1：小程序卡片",
                    "format" : "int32",
                    "example" : "1"
                  },
                  "content" : {
                    "type" : "string",
                    "description" : "卡片内容，创建模板时必传，最长 30 字",
                    "example" : "点击加入"
                  },
                  "media_id" : {
                    "type" : "string",
                    "description" : "图片的 ID，调用图片上传接口获取。创建模板时必传推荐比例16:9，尺寸240*135",
                    "example" : "@8hxdhauTCMppanGnM4ltGM780mDqPP+KPpR0qQOmLVAXb/T060zdRmYqig357zEBq6CZRp4NVe6qLIJW/V/x1w=="
                  },
                  "app_id" : {
                    "type" : "string",
                    "description" : "小程序 AppID",
                    "example" : "tt5daf2b12c11da13910"
                  },
                  "title" : {
                    "type" : "string",
                    "description" : "卡片标题创建模板时必传，最长 30 字",
                    "example" : "邀请你一起打荣耀巅峰匹配赛"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "创建/更新小程序引导卡片模板",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImSetAppletTemplateResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"extra\": {\n    \"now\": 1660109739,\n    \"logid\": \"20220810133539010174255181020C5143\",\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\"\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"card_template_id\": \"@72MqHzC5kqIEgB56A10R9n1psNsNe8gPbkeqQAHKbHqoQ5jL3za3OAGvMtWtnszA\"\n  }\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"extra\": {\n    \"sub_description\": \"\",\n    \"sub_error_code\": 0,\n    \"description\": \"参数不合法\",\n    \"error_code\": 2100005,\n    \"logid\": \"202203271807199888808121990491456D\",\n    \"now\": 1648375639\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  }\n}\n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/auth/entity/add_class_auth" : {
      "post" : {
        "tags" : [ "pan-knowledge" ],
        "description" : "[添加类目认证资质](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/pan-knowledge/role/add-category-qualification)",
        "operationId" : "postAddCategoryQualification",
        "responses" : {
          "default" : {
            "description" : "添加类目认证资质",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityAddClassAuthResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "正式环境"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒环境"
      } ]
    },
    "/fulfill-tool/coupon-verify-cancel" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[撤销核销消息通知](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/self-operated-trading/write-off/fulfill-tool/coupon-verify-cancel)",
        "operationId" : "postCouponVerifyCancel",
        "requestBody" : {
          "description" : "* 超过核销时间1h后将无法撤销核销，此时消息通知将返回撤销失败状态及说明。\n* 由于网络波动等原因，可能会产生重复的通知消息，接入方需要做好幂等，正确处理。\n* 回调可能存在延时，开发者可以通过主动请求查询券信息，确认券撤销核销结果。\n* 在开发者服务端收到回调且处理成功后，需要按以下正常返回示例返回并且 HTTP 响应状态码设为 200，否则会认为通知失败进行重试。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "msg" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "订单相关信息的 json 字符串",
                    "example" : "见请求示例"
                  },
                  "type" : {
                    "type" : "string",
                    "description" : "固定值：coupon_verify_cancel",
                    "example" : "coupon_verify_cancel",
                    "default" : "coupon_verify_cancel"
                  },
                  "version" : {
                    "type" : "string",
                    "description" : "固定值：\"2.0\"。回调版本，用于开发者识别回调参数的变更",
                    "example" : "2.0",
                    "default" : "2.0。回调版本，用于开发者识别回调参数的变更"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "撤销核销消息通知",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Fulfill-toolCoupon-verify-cancelResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ ]
    },
    "/api/apps/v1/data_analysis/query_small_home_order_data" : {
      "get" : {
        "tags" : [ "data-analysis" ],
        "description" : "[小房子直播间订单数据](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/data-analysis/small-room-analysis/small-room-order-data)",
        "operationId" : "getSmallRoomOrderData",
        "parameters" : [ {
          "name" : "start_time",
          "in" : "query",
          "description" : "开始时间，必须是昨天以前的某个时间戳，最好是传入当天的整点时间戳，例如要查询2023年3月20号以来的数据，start_time就传2023-03-20 00:00:00对应的时间戳",
          "required" : true,
          "schema" : {
            "type" : "number",
            "description" : "开始时间，必须是昨天以前的某个时间戳，最好是传入当天的整点时间戳，例如要查询2023年3月20号以来的数据，start_time就传2023-03-20 00:00:00对应的时间戳",
            "default" : "无",
            "example" : null
          }
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "结束时间，必须是昨天以前的某个时间戳，最好是传入当天的整点时间戳，例如要查询截止到2023年3月20号的数据，end_time就传2023-03-20 00:00:00对应的时间戳",
          "required" : true,
          "schema" : {
            "type" : "number",
            "description" : "结束时间，必须是昨天以前的某个时间戳，最好是传入当天的整点时间戳，例如要查询截止到2023年3月20号的数据，end_time就传2023-03-20 00:00:00对应的时间戳",
            "default" : "无",
            "example" : null
          }
        }, {
          "name" : "page_num",
          "in" : "query",
          "description" : "分页编号，从 0 开始",
          "required" : true,
          "schema" : {
            "type" : "number",
            "description" : "分页编号，从 0 开始",
            "default" : "无",
            "example" : null
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "分页大小，小于等于 1000，大于1000的默认取最大值1000",
          "required" : true,
          "schema" : {
            "type" : "number",
            "description" : "分页大小，小于等于 1000，大于1000的默认取最大值1000",
            "default" : "无",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "小房子直播间订单数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataAnalysisQuerySmallHomeOrderDataResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"app_id\": \"ttxxxfffffffff\", //小程序app_id\n    \"app_name\": \"小程序名称\", //小程序名称\n    \"order_data\": {\n      //订单数据  注意：所有的字段都是字符串类型\n      //开发者侧预下单时传入的订单号为Key\n      \"ext_702453453599\": {\n        \"anchor_id\": \"149148\", //主播uid\n        \"app_id\": \"ttxxxfffffffff\", //小程序app_id\n        \"app_name\": \"小程序名称\", //小程序名称\n        \"delivery_success_amount\": \"85\", //核销订单金额(单位：分)\n        \"nick_name\": \"test_v3_65\", //主播昵称\n        \"order_status\": \"已退款\", //目前订单状态，目前为3个枚举值：待使用/已完成/已退款\n        \"pay_amount\": \"175\", //支付订单金额(单位：分)\n        \"pay_time\": \"1668222318\", //支付时间，秒级时间戳\n        \"refund_success_amount\": \"165\", //已退款订单金额(单位：分)\n        \"room_id\": \"49483114\" //直播间id\n      },\n      \"ext_702453453699\": {\n        \"anchor_id\": \"149148\",\n        \"app_id\": \"ttxxxfffffffff\",\n        \"app_name\": \"小程序名称\",\n        \"delivery_success_amount\": \"85\",\n        \"nick_name\": \"test_v3_65\",\n        \"order_status\": \"已退款\",\n        \"pay_amount\": \"175\",\n        \"pay_time\": \"1668222319\",\n        \"refund_success_amount\": \"165\",\n        \"room_id\": \"49483114\"\n      }\n    },\n    \"total_num\": 12400, // 查询的这段时间内数据总数量\n    \"has_more\": true // 是否还有更多数据，如果为true，可以通过分页再次查询下一页数据\n  },\n  \"err_msg\": \"success\",\n  \"err_no\": 0,\n  \"log_id\": \"xxxxx\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n    \"err_no\":11009,\n    \"err_msg\":\"参数不合法或缺少参数\",\n    \"log_id\":xxx,\n    \"data\":{}\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/data/external/user/profile/" : {
      "get" : {
        "tags" : [ "data-open" ],
        "description" : "[获取用户主页访问数](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/data-open/user-homepage-data/get-user-home-pv)",
        "operationId" : "getUserHomePv",
        "parameters" : [ {
          "name" : "open_id",
          "in" : "query",
          "description" : "通过/oauth/access_token/获取，用户唯一标志",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "通过/oauth/access_token/获取，用户唯一标志",
            "example" : "ba25******4059"
          },
          "example" : "ba25******4059"
        }, {
          "name" : "date_type",
          "in" : "query",
          "description" : "近7/15天；输入7代表7天、15代表15天、30代表30天",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "近7/15天；输入7代表7天、15代表15天、30代表30天",
            "format" : "int32",
            "example" : "<nil>"
          },
          "example" : "<nil>"
        } ],
        "responses" : {
          "default" : {
            "description" : "获取用户主页访问数",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserProfileResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/apps/trade/v2/delivery_prepare" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[验券准备](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/trading/write-off/douyin-code/delivery-preparation)",
        "operationId" : "postDeliveryPreparation",
        "requestBody" : {
          "description" : "<ul><li>验券准备接口可传入两种类型的券码：</li><ul><li>code：即用户券码。用户券码是在订单详情页使用核销组件展示的券码，通常为 12 位数字。</li><li>encrypted_data：此参数的获取方式为，扫描核销组件展示的二维码，获取二维码对应的字符串信息。此二维码对应的字符串信息是如下的一个 URL 链接</li></ul></ul>\n\n```text\nhttps://developer.toutiao.com/api/apps/trade/v2/share?encrypted_data=17104CFF079C9FDA51D14DD48E12876C&app_id=tt123456&out_order_no=out123456\n```\n取出此长链接 query 参数中的 encrypted_data 参数即可。\n\n<ul><li>请只感知上面的 URL 链接中的 query 参数， URL 的域名、路径等信息请不要感知，以后都有调整的可能。</li><li>当二维码刷新不出来时可将用户券码保存作为 code 参数调用此接口。</li><li>encrypted_data 和 code 必须有一个有效值，当两个都传入时，会优先使用 encrypted_data 参数。</li></ul>\n\n**注意：一个二维码对应的是整个订单。如果此订单中的任一子单产生了状态变化，比如发起退款、退款完成、核销完成等操作，会导致二维码数据产生更新。此时如果继续传入变更前的二维码 encrypted_data 数据，会报错提示二维码已失效。如果订单没有任何子单状态变化，最短有 3 天有效期。用户每次打开/刷新二维码都会延长 3 天有效期。**\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "encrypted_data" : {
                    "type" : "string",
                    "description" : "从二维码解析出的 encrypted_data",
                    "example" : "17104CFF079C9FDA51D14DD48E12876C"
                  },
                  "code" : {
                    "type" : "string",
                    "description" : "用户券码",
                    "example" : "888888888888"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "验券准备",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/V2DeliveryPrepareResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_tips\": \"success\",\n  \"data\": {\n    \"verify_token\": \"xxx\",\n    \"out_order_no\": \"out123456\",\n    \"order_id\": \"ot123456\",\n    \"certificates\": [\n      {\n        \"encrypted_code\": \"xxx\",\n        \"certificate_id\": \"123456\",\n        \"item_order_id\": \"ot123\"\n      }\n    ]\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": 13000,\n  \"err_tips\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/apps/censor/image" : {
      "post" : {
        "tags" : [ "content-security" ],
        "description" : "[图片检测V2](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/content-security/picture-detect-v2)",
        "operationId" : "postPictureDetectV2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "app_id" : {
                    "type" : "string",
                    "description" : "小程序 ID",
                    "example" : null
                  },
                  "access_token" : {
                    "type" : "string",
                    "description" : "小程序 access_token，参考登录凭证检验",
                    "example" : null
                  },
                  "image" : {
                    "type" : "string",
                    "description" : "检测的图片链接",
                    "example" : null
                  },
                  "image_data" : {
                    "type" : "string",
                    "description" : "图片数据的 base64 格式，有 image 字段时，此字段无效",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "图片检测V2",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CensorImageResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com",
        "description" : "线上地址"
      }, {
        "url" : "https:open-sandbox.douyin.com",
        "description" : "沙盒地址"
      } ]
    },
    "/api/apps/trade/v2/order/query_cps" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[查询CPS信息](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/self-operated-trading/query-info/query-cps)",
        "operationId" : "postApiAppsTradeV2OrderQueryCps",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "order_id" : {
                    "type" : "string",
                    "description" : "抖音开平内部交易订单号，该单号通过预下单回调传给开发者服务，长度 < 64byte。",
                    "example" : "\"mock_order_id\""
                  },
                  "out_order_no" : {
                    "type" : "string",
                    "description" : "开发者系统生成的订单号，与唯一 order_id 关联，长度 < 64byte。",
                    "example" : "\"mock_out_no\""
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询CPS信息",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderQueryCpsResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"order_id\": \"ot7073664578173012264\",\n    \"out_order_no\": \"ext_ot7073664578173012264\",\n    \"payment_info\": {\n      \"pay_time\": \"2022-03-11 16:28:06\",\n      \"item_id\": \"7049587675082263815\",\n      \"total_fee\": 20,\n      \"order_status\": \"SUCCESS\",\n      \"pay_channel\": 1,\n      \"channel_pay_id\": \"4313601110202203112588448957\",\n      \"seller_uid\": \"68882720803499563550\",\n      \"cp_extra\": \"\",\n      \"message\": \"CPS-团购测试商品\"\n    },\n    \"cps_info\": {\n      \"total_commission_amount\": 4,\n      \"cps_item_list\": [\n        {\n          \"commission_amount\": 2,\n          \"source_type\": 1,\n          \"item_id\": 7049587675082263815,\n          \"sell_amount\": 10,\n          \"status\": 3,\n          \"item_order_id\": \"ot7073664578173045032\",\n          \"commission_rate\": 2500,\n          \"commission_user_douyinid\": \"ax81nd873\",\n          \"commission_user_nickname\": \"小毛驴\"\n        },\n        {\n          \"sell_amount\": 10,\n          \"status\": 2,\n          \"item_order_id\": \"ot7073664578173061416\",\n          \"commission_rate\": 2500,\n          \"commission_amount\": 2,\n          \"source_type\": 1,\n          \"item_id\": 7049587675082263815,\n          \"commission_user_douyinid\": \"ax81nd873\",\n          \"commission_user_nickname\": \"小毛驴\"\n        }\n      ]\n    },\n    \"refund_info\": {\n      \"total_refund_amount\": 10,\n      \"refund_items\": [\n        {\n          \"out_refund_no\": \"12894412389749193299\",\n          \"refund_amount\": 10,\n          \"refund_status\": \"已退款\",\n          \"refund_at\": 1646989887000,\n          \"item_order_id\": \"ot7073664578173061416\"\n        }\n      ]\n    },\n    \"delivery_info\": {\n      \"total_delivery_amount\": 10,\n      \"delivery_items\": [\n        {\n          \"delivery_amount\": 10,\n          \"delivery_status\": \"已核销\",\n          \"delivery_at\": 1646989889000,\n          \"item_order_id\": \"ot7073664578173045032\"\n        }\n      ]\n    }\n  },\n  \"extra\": {\n    \"sub_error_code\": 0,\n    \"sub_description\": \"success\",\n    \"logid\": \"2022092115392201020812109511046\",\n    \"now\": 1663745962686,\n    \"error_code\": 0,\n    \"description\": \"success\"\n  }\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"data\": {\n    \"error_code\": 13000,\n    \"description\": \"系统错误\"\n  },\n  \"extra\": {\n    \"sub_error_code\": 13000,\n    \"sub_description\": \"系统错误\",\n    \"logid\": \"2022092115392201020812109511046\",\n    \"now\": 1663745962686,\n    \"error_code\": 2191000,\n    \"description\": \"\"\n  }\n}\n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/trade_basic/v1/developer/query_cps" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[查询CPS信息](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/general/order/query-cps)",
        "operationId" : "postApiTradeBasicV1DeveloperQueryCps",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "order_id" : {
                    "type" : "string",
                    "description" : "交易订单号，order_id 与 out_order_no 二选一",
                    "example" : "\"motb52726742593307630520652\""
                  },
                  "out_order_no" : {
                    "type" : "string",
                    "description" : "开发者的单号，order_id 与 out_order_no 二选一",
                    "example" : "\"ext_order_123\""
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询CPS信息",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeveloperQueryCpsResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"data\":\n    {\n        \"order_id\": \"motb52726742593307630520652\",\n        \"out_order_no\": \"ext_order_123\",\n        \"total_commission_amount\": 1,\n        \"cps_item_list\":\n        [\n            {\n                \"commission_rate\": 10,\n                \"commission_amount\": 1,\n                \"source_type\": 1,\n                \"item_id\": 12323123,\n                \"sell_amount\": 1000,\n                \"status\": 1,\n                \"item_order_id\": \"motb52726742593307630520952\",\n                \"commission_user_nickname\": \"小毛驴\",\n                \"commission_user_douyinid\": \"ax81nd873\",\n                \"task_id\": \"41235132\"\n            }\n        ]\n    },\n    \"err_no\": 0,\n    \"err_msg\": \"success\",\n    \"log_id\": \"2022092115392201020812109511046\"\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n    \"err_no\": 10000,\n    \"err_msg\": \"参数不合法\",\n    \"log_id\": \"2022092115392201020812109511046\"\n}\n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/match/v2/poi/oriented_plan_talent_detail/" : {
      "post" : {
        "tags" : [ "locallife" ],
        "description" : "[查询达人的定向佣金计划带货数据](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/locallife/cps/oriented-plan-talent-detail)",
        "operationId" : "postOrientedPlanTalentDetail",
        "requestBody" : {
          "description" : "* 小程序商品：\n  * 通过/poi/v2/spu/sync接口同步 SPU 时，entry_info.entry_type为 2 且填充了entry_info.entry_miniApp参数的商品为小程序商品。其中entry_info.entry_miniApp.app_id为商品所属的小程序；\n  * 通过/life/goods/product/save/接口发布/创建团购商品时，product.biz_line传入值为 5 时的商品。\n  * 通过/goodlife/v1/goods/product/save/接口创建/修改团购活动，product.biz_line传入值为 5 时的商品。\n* 抖音来客商品：商家（或该商家对应的代运营服务商）通过抖音来客创建的商品。\n* 带货数据T+1日生成，返回的数据是累计至截止日期的带货数据。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "plan_id" : {
                    "type" : "integer",
                    "description" : "定向佣金计划ID",
                    "format" : "int64",
                    "example" : "7089334664648722476"
                  },
                  "douyin_id_list" : {
                    "type" : "object",
                    "properties" : { },
                    "description" : "待查询的达人抖音号列表",
                    "example" : "[\"dyaaa\",\"dybbb\",\"dyccc\"]"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询达人的定向佣金计划带货数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PoiOrientedPlanTalentDetailResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"data\":\n    {\n        \"data\":\n        {\n            \"38377163415\":\n            {\n                \"gmv\": 2,\n                \"media_sell_info\":\n                [\n                    {\n                        \"talent_commission\": 2,\n                        \"used_gmv\": 1,\n                        \"content_open_id\": \"111\",\n                        \"gmv\": 333,\n                        \"play_cnt\": 222,\n                        \"content_id\": \"111\"\n                    }\n                ],\n                \"play_cnt\": 1,\n                \"talent_commission\": 1,\n                \"used_gmv\": 1\n            }\n        },\n        \"date\": \"2022/07/01\"\n    },\n    \"err_msg\": \"\",\n    \"err_no\": 0,\n    \"log_id\": \"20230712165544FF934AF2108A6BDA927F\"\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n    \"data\": {\n        \"data\": {},\n        \"date\": \"\"\n    },\n    \"err_msg\": \"达人抖音ID不存在，请检查后重试：[\"11113345126389781283712939129\"]\",\n    \"err_no\": 28013016,\n    \"log_id\": \"20230720211533A621344BC39F6B13ABD1\"\n}\n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/data/external/user/comment/" : {
      "get" : {
        "tags" : [ "data-open" ],
        "description" : "[获取用户评论数](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/data-open/user-homepage-data/get-user-comment-count)",
        "operationId" : "getUserCommentCount",
        "parameters" : [ {
          "name" : "open_id",
          "in" : "query",
          "description" : "通过/oauth/access_token/获取，用户唯一标志",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "通过/oauth/access_token/获取，用户唯一标志",
            "example" : "ba25******4059"
          },
          "example" : "ba25******4059"
        }, {
          "name" : "date_type",
          "in" : "query",
          "description" : "近7/15天；输入7代表7天、15代表15天、30代表30天",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "近7/15天；输入7代表7天、15代表15天、30代表30天",
            "format" : "int32",
            "example" : "<nil>"
          },
          "example" : "<nil>"
        } ],
        "responses" : {
          "default" : {
            "description" : "获取用户评论数",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserCommentResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/apps/v1/capacity/add_ad_placement" : {
      "post" : {
        "tags" : [ "traffic-permission" ],
        "description" : "[新增广告位](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/traffic-permission/add-ad-placement)",
        "operationId" : "postAddAdPlacement",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "ad_placement_name" : {
                    "type" : "string",
                    "description" : "广告位名称",
                    "example" : null
                  },
                  "ad_placement_type" : {
                    "type" : "number",
                    "description" : "广告位类型 1：Banner广告 2：激励视频广告 3：信息流广告 4：插屏广告 5：视频前贴片广告 6：视频后贴片广告",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "新增广告位",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapacityAddAdPlacementResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/data/external/user/fans/" : {
      "get" : {
        "tags" : [ "data-open" ],
        "description" : "[获取用户粉丝数](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/data-open/user-homepage-data/get-user-fans-count)",
        "operationId" : "getDataExternalUserFans",
        "parameters" : [ {
          "name" : "open_id",
          "in" : "query",
          "description" : "通过/oauth/access_token/获取，用户唯一标志",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "通过/oauth/access_token/获取，用户唯一标志",
            "example" : "ba25******4059"
          },
          "example" : "ba25******4059"
        }, {
          "name" : "date_type",
          "in" : "query",
          "description" : "近7/15天；输入7代表7天、15代表15天、30代表30天",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "近7/15天；输入7代表7天、15代表15天、30代表30天",
            "format" : "int32",
            "example" : "7"
          },
          "example" : "7"
        } ],
        "responses" : {
          "default" : {
            "description" : "获取用户粉丝数",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserFansResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/api/apps/v1/capacity/unbind_aweme_user_bind" : {
      "post" : {
        "tags" : [ "follow-aweme" ],
        "description" : "[解除抖音号绑定](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/follow-aweme/unbind-aweme-user)",
        "operationId" : "postUnbindAwemeUser",
        "requestBody" : {
          "description" : "",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "type" : {
                    "type" : "string",
                    "description" : "绑定类型。引导关注抖音号为\"follow_aweme\"",
                    "example" : null
                  },
                  "aweme_id" : {
                    "type" : "string",
                    "description" : "抖音号",
                    "example" : null
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "解除抖音号绑定",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapacityUnbindAwemeUserBindResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"success\"\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\"\n}\n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:developer.toutiao.com"
      } ]
    },
    "/api/trade_basic/v1/developer/settle_query" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[查询分账](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/general/trade_settle/settle_query)",
        "operationId" : "postSettleQuery",
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "out_order_no" : {
                    "type" : "string",
                    "description" : "开发者侧订单 id，长度 <= 64 字节",
                    "example" : "out_order_example_1"
                  },
                  "out_settle_no" : {
                    "type" : "string",
                    "description" : "开发者侧分账单 id，长度 <= 64字节",
                    "example" : "out_settle_example_1"
                  },
                  "order_id" : {
                    "type" : "string",
                    "description" : "抖音开平侧订单 id，长度 <= 64字节",
                    "example" : "ot7053735385750849836"
                  },
                  "settle_id" : {
                    "type" : "string",
                    "description" : "抖音开平侧分账单 id，长度 <= 64字节",
                    "example" : "example_settle_no"
                  },
                  "settle_params" : {
                    "type" : "string",
                    "description" : "其他分账方（除卖家之外的），长度 <= 512 字节",
                    "example" : "[{\\\"merchant_uid\\\":\\\"分账方商户号1\\\",\\\"amount\\\":100}]"
                  },
                  "cp_extra" : {
                    "type" : "string",
                    "description" : "开发者自定义透传字段，长度 <= 2048 字节，不支持二进制",
                    "example" : "test"
                  },
                  "notify_url" : {
                    "type" : "string",
                    "description" : "分账结果通知地址，若不填，默认使用在行业模板配置-消息通知中指定的回调地址* 必须是 HTTPS 类型* 长度 <= 512 字节",
                    "example" : "https://www.xxxx.com"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询分账",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeveloperSettleQueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"data\": [\n        {\n            \"settle_amount\": 20,\n            \"cp_extra\": \"\",\n            \"out_settle_id\": \"out_settle_id_motb72736435031531871160652\",\n            \"order_id\": \"motb72736435031531871160652\",\n            \"out_order_id\": \"test_1693540312890\",\n            \"platform_ticket\": 0,\n            \"rake\": 0,\n            \"settle_at\": 1693540334000,\n            \"settle_detail\": \"商户号boe_real_pay-分成金额(分)4\",\n            \"commission\": 16,\n            \"item_order_id\": \"\",\n            \"settle_id\": \"ots72735132864850025400652\",\n            \"settle_status\": \"SUCCESS\"\n        }\n    ],\n    \"err_msg\": \"\",\n    \"err_no\": 0,\n    \"log_id\": \"2023090114051928011C13A3AFCC67A50E\"\n}\n]\r\n"
                  },
                  "failed" : {
                    "value" : "[{\n    \"err_msg\": \"系统错误，请重试\",\n    \"err_no\": 23000,\n    \"log_id\": \"2023090114000128011C13A3AFCC6771F8\"\n}\n]\r\n"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://open.douyin.com/"
        } ]
      },
      "servers" : [ {
        "url" : "https:open.douyin.com"
      } ]
    },
    "/douyin-code/verify-cancel-msg" : {
      "post" : {
        "tags" : [ "trade-system" ],
        "description" : "[撤销核销通知](https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/agency-trade-system/fulfillment/douyin-code/verify-cancel-msg)",
        "operationId" : "postVerifyCancelMsg",
        "requestBody" : {
          "description" : "<ul><li style=\"margin: 0px 0px 0px;\"><span style=\"color: #4A4A4A;\"><span style=\"font-size: 14px;\">由于网络波动等原因，可能会产生重复的通知消息，接入方需要做好幂等，正确处理。</span></span></li><li style=\"margin: 0px 0px 0px;\"><span style=\"color: #4A4A4A;\"><span style=\"font-size: 14px;\">回调可能存在延时，开发者可以通过主动请求<a href=\"https://developer.open-douyin.com/docs/resource/zh-CN/mini-app/develop/server/trade-system/agency-trade-system/query-info/query-item-info/\" target=\"_blank\" rel=\"nofollow noreferrer\">查询券信息</a>，确认券撤销核销结果。</span></span></li><li style=\"margin: 0px 0px 0px;\"><span style=\"color: #4A4A4A;\"><span style=\"font-size: 14px;\">在开发者服务端收到回调且处理成功后，需要按</span><strong><span style=\"font-size: 14px;\">正常返回示例</span></strong><span style=\"font-size: 14px;\">返回并且 HTTP 响应状态码设为 200，否则会认为通知失败进行重试。</span></span></li></ul>\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "msg" : {
                    "type" : "object",
                    "properties" : { },
[...]
