{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OpenAPI 列表",
    "version" : "0.0.1"
  },
  "externalDocs" : {
    "description" : "OpenAPI 列表",
    "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/list"
  },
  "servers" : [ {
    "url" : "https://open.douyin.com"
  } ],
  "tags" : [ {
    "name" : "account-permission",
    "description" : "用户授权",
    "externalDocs" : {
      "description" : "用户授权",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/account-permission"
    }
  }, {
    "name" : "account-management",
    "description" : "用户管理",
    "externalDocs" : {
      "description" : "用户管理",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/account-management"
    }
  }, {
    "name" : "video-management",
    "description" : "视频管理",
    "externalDocs" : {
      "description" : "视频管理",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management"
    }
  }, {
    "name" : "interaction-management",
    "description" : "互动管理",
    "externalDocs" : {
      "description" : "互动管理",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management"
    }
  }, {
    "name" : "search-management",
    "description" : "搜索管理",
    "externalDocs" : {
      "description" : "搜索管理",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/search-management"
    }
  }, {
    "name" : "data-open-service",
    "description" : "数据开放服务",
    "externalDocs" : {
      "description" : "数据开放服务",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/data-open-service"
    }
  }, {
    "name" : "enterprise-open-ability",
    "description" : "企业号开放能力（内测结束暂不开放）",
    "externalDocs" : {
      "description" : "企业号开放能力（内测结束暂不开放）",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/enterprise-open-ability"
    }
  }, {
    "name" : "life-service-open-ability",
    "description" : "生活服务开放能力",
    "externalDocs" : {
      "description" : "生活服务开放能力",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/life-service-open-ability"
    }
  }, {
    "name" : "tools-ability",
    "description" : "工具能力",
    "externalDocs" : {
      "description" : "工具能力",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/tools-ability"
    }
  }, {
    "name" : "service-market",
    "description" : "服务市场开放能力",
    "externalDocs" : {
      "description" : "服务市场开放能力",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/service-market"
    }
  }, {
    "name" : "taskbox",
    "description" : "小程序推广计划",
    "externalDocs" : {
      "description" : "小程序推广计划",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox"
    }
  } ],
  "paths" : {
    "/api/douyin/v1/im/del_applet_template/" : {
      "post" : {
        "tags" : [ "interaction-management" ],
        "description" : "[删除小程序引导卡片模板](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management/business-tool/micro-app-card/delete-template)",
        "operationId" : "postApiDouyinV1ImDelAppletTemplate",
        "parameters" : [ {
          "name" : "card_template_id",
          "in" : "query",
          "description" : "模板ID，删除模板时传入",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "模板ID，删除模板时传入",
            "example" : "@8hxdhauTCMppanGnM4ltGM780mDqPP+KPpR0qQOmLVAXb/T060zdRmYqig357zEBq6CZRp4NVe6qLIJW/V/x1w=="
          },
          "example" : "@8hxdhauTCMppanGnM4ltGM780mDqPP+KPpR0qQOmLVAXb/T060zdRmYqig357zEBq6CZRp4NVe6qLIJW/V/x1w=="
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access_token",
          "in" : "header",
          "description" : "调用/oauth/client_token/ 生成的 token，",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/ 生成的 token，",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "删除小程序引导卡片模板",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImDelAppletTemplateResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"extra\": {\n    \"logid\": \"2022081013405301017425518105798161\",\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1660110053\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"extra\": {\n    \"sub_description\": \"\",\n    \"sub_error_code\": 0,\n    \"description\": \"参数不合法\",\n    \"error_code\": 2100005,\n    \"logid\": \"202203271807199888808121990491456D\",\n    \"now\": 1648375639\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/im/get_applet_template/" : {
      "post" : {
        "tags" : [ "interaction-management" ],
        "description" : "[查询小程序引导卡片模板](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management/business-tool/micro-app-card/query-template)",
        "operationId" : "postApiDouyinV1ImAppletTemplate",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/ 生成的 token，",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/ 生成的 token，",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImGetAppletTemplateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询小程序引导卡片模板",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImGetAppletTemplateResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"extra\": {\n    \"now\": 1660109739,\n    \"logid\": \"20220810133539010174255181020C5143\",\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\"\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"has_more\": false,\n    \"cursor\": 0,\n    \"list\": [\n      {\n        \"status\": 1,\n        \"title\": \"邀请你一起打决胜巅峰匹配赛\",\n        \"content\": \"点击加入\",\n        \"card_template_id\": \"@72MqHzC5kqIEgB56A10R9n1psNsNe8gPbkeqQAHKbHqoQ5jL3za3OAGvMtWtnszA\",\n        \"card_type\": 1,\n        \"media_id\": \"@72MqHzC5kqIEgB56A10R9n1psNsNe8gPbkeqQAHKbHqoQ5jL3za3OAGvMt\",\n        \"name\": \"决胜巅峰\",\n        \"app_icon_url\": \"https://p3-developer-sign.bytemaimg.com/tos-cn-i-ke512zj2cu/a37b56ae3da84c2b98e4ad3e1ac7a1320~tplv-ke512zj2cu-144x144.jpeg?x-expires=2628437565&x-signature=kRfqYlvF17z%2FYdspB5lHAEQBzQM%3D\",\n        \"create_time\": 1571075129,\n        \"update_time\": 1571075129\n      }\n    ]\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"extra\": {\n    \"sub_description\": \"\",\n    \"sub_error_code\": 0,\n    \"description\": \"参数不合法\",\n    \"error_code\": 2100005,\n    \"logid\": \"202203271807199888808121990491456D\",\n    \"now\": 1648375639\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/im/set_applet_template/" : {
      "post" : {
        "tags" : [ "interaction-management" ],
        "description" : "[创建/更新小程序引导卡片模板](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management/business-tool/micro-app-card/create-template)",
        "operationId" : "postApiDouyinV1ImSetAppletTemplate",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/ 生成的 token，",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/ 生成的 token，",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 模板好以后，无法再修改卡片类型 card_type\n* 小程序引导卡片示例\n \n* 创建好卡片后，可通过发送私信消息接口进行小程序引导卡片发送，content 示例如下\n\n```js\n[\"content\": {\n    \"msg_type\": 10,\n    \"applet_card\": {\n      \"card_template_id\": \"@9VwNxuKKBZ03MXG7M8ooWM771FjUAMW/BqhMlDebEmyyzJD7cZENrR868oDbX9xx\",\n      \"schema\":\"https://z.douyin.com/ijBoQwF\"\n    }\n }\n]\n```\n* schema 获取方式\n  * 通过接口生成 Generate，通过 expire_time 参数控制过期时间，过期后需重新生成。\n  * 在小程序界面点击右上角 ... > 分享 > 复制链接，链接有效期为45天，过期后需重新生成。\n* 接口存在防重复提交机制，应用多次调用接口传入相同的 content, media_id,title 参数创建小程序引导卡片，接口会返回相同的 card_template_id\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ImSetAppletTemplateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "创建/更新小程序引导卡片模板",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImSetAppletTemplateResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"extra\": {\n    \"now\": 1660109739,\n    \"logid\": \"20220810133539010174255181020C5143\",\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\"\n  },\n  \"data\": { \n    \"error_code\": 0,\n    \"description\": \"\",\n    \"card_template_id\": \"@72MqHzC5kqIEgB56A10R9n1psNsNe8gPbkeqQAHKbHqoQ5jL3za3OAGvMtWtnszA\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"extra\": { \n    \"sub_description\": \"\",\n    \"sub_error_code\": 0,\n    \"description\": \"参数不合法\",\n    \"error_code\": 2100005,\n    \"logid\": \"202203271807199888808121990491456D\",\n    \"now\": 1648375639\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/interactive/intention/log/list/" : {
      "get" : {
        "tags" : [ "interaction-management" ],
        "description" : "[互动用户记录查询](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management/intention-user/log)",
        "operationId" : "getApiDouyinV1InteractiveIntentionLogList",
        "parameters" : [ {
          "name" : "count",
          "in" : "query",
          "description" : "本次查询获取数量最大值 100",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "本次查询获取数量最大值 100",
            "format" : "int32",
            "example" : 10
          },
          "example" : "10"
        }, {
          "name" : "query_session",
          "in" : "query",
          "description" : "下次查询的 session 信息首次查询时无需传入",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "下次查询的 session 信息首次查询时无需传入",
            "example" : "@9VxQh6rGTNAjPS/4do48Es7912fqP/+HOZZ3qAqlL1UVaPj560zdRmYqig357zEBfmnprZLqmDe9tIPiPwahqQ=="
          },
          "example" : "@9VxQh6rGTNAjPS/4do48Es7912fqP/+HOZZ3qAqlL1UVaPj560zdRmYqig357zEBfmnprZLqmDe9tIPiPwahqQ=="
        }, {
          "name" : "event",
          "in" : "query",
          "description" : "事件名不传的时候默认获取全部事件",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "事件名不传的时候默认获取全部事件",
            "example" : "im_authorization"
          },
          "example" : "im_authorization"
        }, {
          "name" : "open_id",
          "in" : "query",
          "description" : "授权用户 ID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "授权用户 ID",
            "example" : "28940f5a-d8a4-4258-8a74-6a8e647431be"
          },
          "example" : "28940f5a-d8a4-4258-8a74-6a8e647431be"
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "结束时间戳（秒级）",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "结束时间戳（秒级）",
            "format" : "int32",
            "example" : 1681819675
          },
          "example" : "1681819675"
        }, {
          "name" : "start_time",
          "in" : "query",
          "description" : "开始时间戳（秒级）",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "开始时间戳（秒级）",
            "format" : "int32",
            "example" : 1661819675
          },
          "example" : "1661819675"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "互动用户记录查询",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogListResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"log_id\": \"20230419214506BBF9134A4E1E961A3F70\",\n  \"data\": {\n    \"intention_log_infos\": [\n      {\n        \"content\": \"{\\\"event\\\":\\\"im_receive_msg\\\",\\\"client_key\\\":\\\"aw4194pysb89vab\\\",\\\"from_user_id\\\":\\\"eb2921c7-b771-4a7f-913d-5c83edf51f62\\\",\\\"to_user_id\\\":\\\"28940f5a-d8a4-4258-8a74-6a8e647431be\\\",\\\"content\\\":{\\\"conversation_short_id\\\":\\\"@9VxQh6rGTNAjPS/4do48Es7912TqPvqFPJF1qwykJ1kSZvX760zdRmYqig357zEBxvhDiz3L1fs5/fgoye6gkA==\\\",\\\"server_message_id\\\":\\\"@9VxQh6rGTNAjPS/4do48Es7912fqP/+HOZZ3qAqlL1UVaPj560zdRmYqig357zEBfmnprZLqmDe9tIPiPwahqQ==\\\",\\\"conversation_type\\\":1,\\\"create_time\\\":1681799848725,\\\"message_type\\\":\\\"image\\\",\\\"source\\\":\\\"\\\",\\\"scene_type\\\":100,\\\"user_infos\\\":[{\\\"open_id\\\":\\\"eb2921c7-b771-4a7f-913d-5c83edf51f62\\\",\\\"nick_name\\\":\\\"普皮123\\\",\\\"avatar\\\":\\\"https://p3.douyinpic.com/aweme/720x720/aweme-avatar/tos-cn-i-0813_d8e6795fc59d4fa1afbb86b0ce0cfc37.jpeg?from=3782654143\\\"},{\\\"open_id\\\":\\\"28940f5a-d8a4-4258-8a74-6a8e647431be\\\",\\\"nick_name\\\":\\\"企业\\\",\\\"avatar\\\":\\\"https://p3.douyinpic.com/aweme/720x720/aweme-avatar/mosaic-legacy_3792_5112637127.jpeg?from=3782654143\\\"}]},\\\"log_id\\\":\\\"02168179984822600000000000000000000ffff0ac63e9d1d0a4b\\\",\\\"event_id\\\":\\\"\\\"}\",\n        \"event\": \"im_receive_msg\",\n        \"event_time\": \"1681799849067\",\n        \"open_id\": \"eb2921c7-b771-4a7f-913d-5c83edf123\"\n      },\n      {\n        \"content\": \"{\\\"event\\\":\\\"im_send_msg\\\",\\\"client_key\\\":\\\"aw4194pysb89vab\\\",\\\"from_user_id\\\":\\\"28940f5a-d8a4-4258-8a74-6a8e64743132\\\",\\\"to_user_id\\\":\\\"eb2921c7-b771-4a7f-913d-5c83edf51f62\\\",\\\"content\\\":{\\\"conversation_short_id\\\":\\\"@9VxQh6rGTNAjPS/4do48Es7912TqPvqFPJF1qwykJ1kSZvX760zdRmYqig357zEBxvhDiz3L1fs5/fgoye6gkA==\\\",\\\"server_message_id\\\":\\\"@9VxQh6rGTNAjPS/4do48Es7912fqP/+HPpZ4oAOlLlkQafj160zdRmYqig357zEBPcdyuvL4/H9HyycVFwEKIQ==\\\",\\\"conversation_type\\\":1,\\\"create_time\\\":1681799925320,\\\"message_type\\\":\\\"text\\\",\\\"source\\\":\\\"\\\",\\\"scene_type\\\":100,\\\"text\\\":\\\"文字自足\\\",\\\"user_infos\\\":[{\\\"open_id\\\":\\\"28940f5a-d8a4-4258-8a74-6a8e647431be\\\",\\\"nick_name\\\":\\\"企业123\\\",\\\"avatar\\\":\\\"https://p6.douyinpic.com/aweme/720x720/aweme-avatar/mosaic-legacy_3792_5112637127.jpeg?from=3782654143\\\"},{\\\"open_id\\\":\\\"eb2921c7-b771-4a7f-913d-5c83edf51f62\\\",\\\"nick_name\\\":\\\"普皮***\\\",\\\"avatar\\\":\\\"https://p6.douyinpic.com/aweme/720x720/aweme-avatar/tos-cn-i-0813_d8e6795fc59d4fa1afbb86b0ce0cfc37.jpeg?from=3782654143\\\"}]},\\\"log_id\\\":\\\"02168179992492200000000000000000000ffff0ac63e9d5dcc33\\\",\\\"event_id\\\":\\\"\\\"}\",\n        \"event\": \"im_send_msg\",\n        \"event_time\": \"1681799925570\",\n        \"open_id\": \"eb2921c7-b771-4a7f-913d-5c83edf123\"\n      },\n      {\n        \"content\": \"{\\\"event\\\":\\\"im_group_receive_msg\\\",\\\"client_key\\\":\\\"aw4194pysb89vab\\\",\\\"from_user_id\\\":\\\"28940f5a-d8a4-4258-8a74-6a8e64743242\\\",\\\"to_user_id\\\":\\\"28940f5a-d8a4-4258-8a74-6a8e647431be\\\",\\\"content\\\":{\\\"conversation_short_id\\\":\\\"@9VxQh6rGTNAjPS/4do48Es7912frNf+KOp15oAmgJlMSaPT560zdRmYqig357zEBxptq5l+blGKwmg/aUg64ww==\\\",\\\"server_message_id\\\":\\\"@9VxQh6rGTNAjPS/4do48Es7912fqP/+EPZxwrQ+jJ1MSbfT960zdRmYqig357zEBGtMlPqmU1K7J6z2Z21MU4w==\\\",\\\"conversation_type\\\":2,\\\"create_time\\\":1681800184637,\\\"message_type\\\":\\\"text\\\",\\\"source\\\":\\\"\\\",\\\"scene_type\\\":100,\\\"text\\\":\\\"给哼哼唧唧\\\",\\\"owner_id\\\":\\\"28940f5a-d8a4-4258-8a74-6a8e647431be\\\",\\\"user_infos\\\":[{\\\"open_id\\\":\\\"65dcbfb7-cddc-409c-9a61-8cff1ed1fb5e\\\",\\\"nick_name\\\":\\\"我是852\\\",\\\"avatar\\\":\\\"https://p3.douyinpic.com/aweme/720x720/aweme-avatar/tos-cn-avt-0015_7f42cb25ea95710122fe0b6b48546040.jpeg?from=3782654143\\\"},{\\\"open_id\\\":\\\"28940f5a-d8a4-4258-8a74-6a8e647***\\\",\\\"nick_name\\\":\\\"企业***\\\",\\\"avatar\\\":\\\"https://p3.douyinpic.com/aweme/720x720/aweme-avatar/mosaic-legacy_3792_5112637127.jpeg?from=3782654143\\\"}]},\\\"log_id\\\":\\\"02168180018421000000000000000000000ffff0a9fd6cfbd8f79\\\",\\\"event_id\\\":\\\"\\\"}\",\n        \"event\": \"im_group_receive_msg\",\n        \"event_time\": \"1681800184933\",\n        \"open_id\": \"65dcbfb7-cddc-409c-9a61-8cff1ad12\"\n      },\n      {\n        \"content\": \"{\\\"event\\\":\\\"im_enter_direct_msg\\\",\\\"client_key\\\":\\\"aw4194pysb89vab\\\",\\\"from_user_id\\\":\\\"65dcbfb7-cddc-409c-9a61-8cff1ed1fb5e\\\",\\\"to_user_id\\\":\\\"28940f5a-d8a4-4258-8a74-6a8e647412\\\",\\\"content\\\":\\\"{\\\\\\\"conversation_short_id\\\\\\\":\\\\\\\"@9VxQh6rGTNAjPS/4do48Es7912fqP/+EPpZyqAOvLVUSafX860zdRmYqig357zEBtAf1bCgtWX+PDLlgPeichg==\\\\\\\",\\\\\\\"server_message_id\\\\\\\":\\\\\\\"@9VxQh6rGTNAjPS/4do48Es7912fqP/+FO5R0rgqlKlkVbfH760zdRmYqig357zEBTSmfydGzCdTVnhY17yjSIA==\\\\\\\",\\\\\\\"conversation_type\\\\\\\":1,\\\\\\\"create_time\\\\\\\":1681800236901,\\\\\\\"scene_type\\\\\\\":4,\\\\\\\"user_infos\\\\\\\":[{\\\\\\\"open_id\\\\\\\":\\\\\\\"65dcbfb7-cddc-409c-9a61-8cff1ed1fb5e\\\\\\\",\\\\\\\"nick_name\\\\\\\":\\\\\\\"我是8068\\\\\\\",\\\\\\\"avatar\\\\\\\":\\\\\\\"https://p26.douyinpic.com/aweme/720x720/aweme-avatar/tos-cn-avt-0015_7f42cb25ea95710122fe0b6b48546040.jpeg?from=3782654143\\\\\\\"},{\\\\\\\"open_id\\\\\\\":\\\\\\\"28940f5a-d8a4-4258-8a74-6a8e647431be\\\\\\\",\\\\\\\"nick_name\\\\\\\":\\\\\\\"企业**\\\\\\\",\\\\\\\"avatar\\\\\\\":\\\\\\\"https://p26.douyinpic.com/aweme/720x720/aweme-avatar/mosaic-legacy_3792_5112637127.jpeg?from=3782654143\\\\\\\"}]}\\\",\\\"log_id\\\":\\\"02168180023688800000000000000000000ffff0a9fd6cfe9bed8\\\"}\",\n        \"event\": \"im_enter_direct_msg\",\n        \"event_time\": \"1681800237112\",\n        \"open_id\": \"65dcbfb7-cddc-409c-9a61-8cff1e214\"\n      }\n    ],\n    \"query_session\": \"@9VxQh6rGTNAjPS/4do48Es6xxzu8dbzteco2xlHzZkMZfI6IpjicIDsWyFW7yGRVD2G/7zZQcvpdwOmMGiG0UUKGpe976ngABqEXkgIvtgDegRxR8HzftKftzzNWF5nIEWg4zNLU9OCea61/v1P9HhMc5H1Lfs+JnxrMr5KNmKQ=\",\n    \"has_more\": true\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": 28001007,\n  \"err_msg\": \"参数不合法\",\n  \"log_id\": \"20230418205612978286C9FBBB5FE20948\",\n  \"data\": {}\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/role/check/" : {
      "post" : {
        "tags" : [ "account-management" ],
        "description" : "[用户经营身份管理](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/account-management/check-user-business-role)",
        "operationId" : "postApiDouyinV1RoleCheck",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "用户经营身份管理",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoleCheckResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"data\":{\n        \"match_result\":true,\n        \"filter_role\":{\n            \"COMPANY_BAND\":false\n        }\n    },\n    \"err_no\":0,\n    \"err_msg\":\"\",\n    \"log_id\":\"02169175717697700000000000000000000ffff0a981c1c423a88\"\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[案例1: \n{\n    \"log_id\":\"02169175725748600000000000000000000ffff0a981c1c205982\",\n    \"err_no\":28001029,\n    \"err_msg\":\"douyin_shortId参数不合法，无效的 douyin_shortId\"\n}\n案例2:\n{\n    \"err_no\":28001008,\n    \"err_msg\":\"access_token过期,请刷新或重新授权\",\n    \"log_id\":\"02169174792941000000000000000000000ffff0ac37a22cb0bd7\"\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/schema/get_chat/" : {
      "post" : {
        "tags" : [ "interaction-management" ],
        "description" : "[个人会话页跳转链接获取](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management/jump/chat)",
        "operationId" : "postApiDouyinV1SchemaChat",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "个人会话页跳转链接获取",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SchemaGetChatResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"schema\": \"snssdk1128://webview?url=https%3A%2F%2Fopen.douyin.com%2Fplatform%2Foauth%2Fslink%2F%3Ftoken%3D3f88af29866b5e15e0cd70390181d2d9d2a7%26client_key%3Dawr8bfr64vxgk036\"\n  },\n  \"err_msg\": \"\",\n  \"err_no\": 0,\n  \"log_id\": \"2023030419213553F1D75DDEBBF96B037B\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\",\n  \"log_id\": \"20220919151647010174244209010DE6B6\"\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/schema/get_item_info/" : {
      "post" : {
        "tags" : [ "interaction-management" ],
        "description" : "[视频详情页跳转链接获取](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management/jump/item-info)",
        "operationId" : "postApiDouyinV1SchemaItemInfo",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "视频详情页跳转链接获取",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SchemaGetItemInfoResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"schema\": \"snssdk1128://webview?url=https%3A%2F%2Fopen.douyin.com%2Fplatform%2Foauth%2Fslink%2F%3Ftoken%3D3f88af29866b5e15e0cd70390181d2d9d2a7%26client_key%3Dawr8bfr64vxgk036\"\n  },\n  \"err_msg\": \"\",\n  \"err_no\": 0,\n  \"log_id\": \"2023030419213553F1D75DDEBBF96B037B\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\",\n  \"log_id\": \"20220919151647010174244209010DE6B6\"\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/schema/get_live/" : {
      "post" : {
        "tags" : [ "interaction-management" ],
        "description" : "[直播间跳转链接获取](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management/jump/live)",
        "operationId" : "postApiDouyinV1SchemaLive",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "直播间跳转链接获取",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SchemaGetLiveResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"schema\": \"snssdk1128://webview?url=https%3A%2F%2Fopen.douyin.com%2Fplatform%2Foauth%2Fslink%2F%3Ftoken%3D3f88af29866b5e15e0cd70390181d2d9d2a7%26client_key%3Dawr8bfr64vxgk036\"\n  },\n  \"err_msg\": \"\",\n  \"err_no\": 0,\n  \"log_id\": \"2023030419213553F1D75DDEBBF96B037B\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\",\n  \"log_id\": \"20220919151647010174244209010DE6B6\"\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/schema/get_share/" : {
      "post" : {
        "tags" : [ "interaction-management" ],
        "description" : "[H5分享跳转链接获取](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management/jump/h5-share)",
        "operationId" : "postApiDouyinV1SchemaShare",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "H5分享跳转链接获取",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SchemaGetShareResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"schema\": \"snssdk1128://webview?url=https%3A%2F%2Fopen.douyin.com%2Fplatform%2Foauth%2Fslink%2F%3Ftoken%3D3f88af29866b5e15e0cd70390181d2d9d2a7%26client_key%3Dawr8bfr64vxgk036\"\n  },\n  \"err_msg\": \"\",\n  \"err_no\": 0,\n  \"log_id\": \"2023030419213553F1D75DDEBBF96B037B\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\",\n  \"log_id\": \"20220919151647010174244209010DE6B6\"\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/schema/get_user_profile/" : {
      "post" : {
        "tags" : [ "interaction-management" ],
        "description" : "[个人页跳转链接获取](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management/jump/get-user-profile)",
        "operationId" : "postApiDouyinV1SchemaUserProfile",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "个人页跳转链接获取",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SchemaGetUserProfileResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"schema\": \"snssdk1128://webview?url=https%3A%2F%2Fopen.douyin.com%2Fplatform%2Foauth%2Fslink%2F%3Ftoken%3D3f88af29866b5e15e0cd70390181d2d9d2a7%26client_key%3Dawr8bfr64vxgk036\"\n  },\n  \"err_msg\": \"\",\n  \"err_no\": 0,\n  \"log_id\": \"2023030419213553F1D75DDEBBF96B037B\"\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"err_no\": -1,\n  \"err_msg\": \"系统错误\",\n  \"log_id\": \"20220919151647010174244209010DE6B6\"\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/user/fans_data/" : {
      "get" : {
        "tags" : [ "data-open-service" ],
        "description" : "[获取用户粉丝数据](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/data-open-service/fans-portrait-data/get-user-fans-data)",
        "operationId" : "getApiDouyinV1UserFansData",
        "parameters" : [ {
          "name" : "open_id",
          "in" : "query",
          "description" : "通过/oauth/access_token/获取，用户唯一标志",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "通过/oauth/access_token/获取，用户唯一标志",
            "example" : "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          "example" : "ba253642-0590-40bc-9bdf-9a1334b94059"
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/access_token/生成的token，此token需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/access_token/生成的token，此token需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "获取用户粉丝数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserFansDataResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/complete_video_part_upload/" : {
      "post" : {
        "tags" : [ "video-management" ],
        "description" : "[分片上传完成](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/create-video/video-part-upload-complete)",
        "operationId" : "postApiDouyinV1VideoCompleteVideoPartUpload",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/access_token/生成的 token，此 token 需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/access_token/生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "分片上传完成",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoCompleteVideoPartUploadResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"video\": {\n      \"video_id\": \"@9VxVx/WTUc8oLGK3atFqTs7912buPvyEOpZwrGXgL1MTbqer1nDhelpF4WnNgVhvD2bFzmUJfdQF3t2JTRfTOAJYf/3gzkjEE7EeLH******\",\n      \"width\": 720,\n      \"height\": 1280\n    }\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1594015876138,\n    \"log_id\": \"2020070614111601022506808001045D59\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/create_image_text/" : {
      "post" : {
        "tags" : [ "video-management" ],
        "description" : "[创建图文](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/create-image-text/create-image-text)",
        "operationId" : "postApiDouyinV1VideoCreateImageText",
        "parameters" : [ {
          "name" : "open_id",
          "in" : "query",
          "description" : "用户唯一标识。通过获取 access_token 获取。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "用户唯一标识。通过获取 access_token 获取。",
            "example" : "ba253642-0590-40bc-9bdf-9a1334******"
          },
          "example" : "ba253642-0590-40bc-9bdf-9a1334******"
        }, {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用获取 access_token 生成的 token，此 token 需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用获取 access_token 生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VideoCreateImageTextRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "创建图文",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoCreateImageTextResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"extra\": {\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393,\n    \"error_code\": 0\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"item_id\": \"@8hxdhauTCMppanGnM4ltGM780mDqPP+KPpR0qQOmLVAXb/T060zdRmYqig357zEBq6CZRp4NVe6qLIJW/V******\",\n    \"video_id\": \"721513296718897****\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1594015876138,\n    \"log_id\": \"2020070614111601022506808001045D59\"\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/create_video/" : {
      "post" : {
        "tags" : [ "video-management" ],
        "description" : "[创建视频](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/create-video/video-create)",
        "operationId" : "postApiDouyinV1VideoCreateVideo",
        "parameters" : [ {
          "name" : "open_id",
          "in" : "query",
          "description" : "通过/oauth/access_token/获取，用户唯一标志",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "通过/oauth/access_token/获取，用户唯一标志",
            "example" : "ba253642-0590-40bc-9bdf-9a1334******"
          },
          "example" : "ba253642-0590-40bc-9bdf-9a1334******"
        }, {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VideoCreateVideoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "创建视频",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoCreateVideoResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"extra\": {\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393,\n    \"error_code\": 0\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"item_id\": \"@8hxdhauTCMppanGnM4ltGM780mDqPP+KPpR0qQOmLVAXb/T060zdRmYqig357zEBq6CZRp4NVe6qLIJW/V******\",\n    \"video_id\": \"721513296718897****\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1594015876138,\n    \"log_id\": \"2020070614111601022506808001045D59\"\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/get_iframe_by_item" : {
      "get" : {
        "tags" : [ "video-management" ],
        "description" : "[通过ItemID获取IFrame代码](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/iframe-player/get-iframe-by-item)",
        "operationId" : "getApiDouyinV1VideoIframeByItem",
        "parameters" : [ {
          "name" : "item_id",
          "in" : "query",
          "description" : "视频ItemID(请注意使用Base64URL编码)",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "视频ItemID(请注意使用Base64URL编码)",
            "example" : "QDcyTTBXQ3F0eHVZR2l3dGtWVVlGdkgxbnR1TTBSZlF3VkgrUmZUMzBXVVY4Q3RMUXJVOU1wSlNZRVZWNi8yaEsrTm8zQVBUYy84T1U3VkJiQkhJM3NnPT0="
          },
          "example" : "QDcyTTBXQ3F0eHVZR2l3dGtWVVlGdkgxbnR1TTBSZlF3VkgrUmZUMzBXVVY4Q3RMUXJVOU1wSlNZRVZWNi8yaEsrTm8zQVBUYy84T1U3VkJiQkhJM3NnPT0="
        }, {
          "name" : "client_key",
          "in" : "query",
          "description" : "应用标识",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "应用标识",
            "example" : "awexxxxxxx"
          },
          "example" : "awexxxxxxx"
        } ],
        "responses" : {
          "default" : {
            "description" : "通过ItemID获取IFrame代码",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoGetIframeByItemResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/get_iframe_by_video" : {
      "get" : {
        "tags" : [ "video-management" ],
        "description" : "[通过VideoID获取IFrame代码](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/iframe-player/get-iframe-by-video)",
        "operationId" : "getApiDouyinV1VideoIframeByVideo",
        "parameters" : [ {
          "name" : "video_id",
          "in" : "query",
          "description" : "视频VideoID",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "视频VideoID",
            "example" : "7146408143612******"
          },
          "example" : "7146408143612******"
        } ],
        "responses" : {
          "default" : {
            "description" : "通过VideoID获取IFrame代码",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoGetIframeByVideoResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/init_video_part_upload/" : {
      "post" : {
        "tags" : [ "video-management" ],
        "description" : "[分片上传初始化](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/create-video/video-part-upload-init)",
        "operationId" : "postApiDouyinV1VideoInitVideoPartUpload",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "分片上传初始化",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoInitVideoPartUploadResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"extra\": {\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393,\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\"\n  },\n  \"data\": {\n    \"upload_id\": \"@8hxdhauTCM\",\n    \"error_code\": 0,\n    \"description\": \"\"\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1594015876138,\n    \"log_id\": \"2020070614111601022506808001045D59\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/upload_image/" : {
      "post" : {
        "tags" : [ "video-management" ],
        "description" : "[图片上传](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/create-image-text/image-upload)",
        "operationId" : "postApiDouyinV1VideoUploadImage",
        "parameters" : [ {
          "name" : "open_id",
          "in" : "query",
          "description" : "用户唯一标识。通过获取 access_token 获取。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "用户唯一标识。通过获取 access_token 获取。",
            "example" : "ba253642-0590-40bc-9bdf-9a1334******"
          },
          "example" : "ba253642-0590-40bc-9bdf-9a1334******"
        }, {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"multipart/form-data\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"multipart/form-data\"",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/access_token/生成的 token，此 token 需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/access_token/生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/VideoUploadImageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "图片上传",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoUploadImageResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"extra\": {\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393,\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\"\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"image\": {\n      \"image_id\": \"@9VxVx/WTUc8oLGK3atFqTs7912buPvyEOpZwrGXicBIOPa/hjm3hclsVqTXHgl5uWzLAjmUFIYZSiYbeTyfjDHzZ0eB8qg8IAutr00Zd/EHaEc/kgyuawGEDO1******\",\n      \"width\": 360,\n      \"height\": 360\n    }\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1594015876138,\n    \"log_id\": \"2020070614111601022506808001045D59\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/upload_video/" : {
      "post" : {
        "tags" : [ "video-management" ],
        "description" : "[上传视频](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/create-video/upload-video)",
        "operationId" : "postApiDouyinV1VideoUploadVideo",
        "parameters" : [ {
          "name" : "open_id",
          "in" : "query",
          "description" : "用户唯一标识。通过获取 access_token 获取。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "用户唯一标识。通过获取 access_token 获取。",
            "example" : "ba253642-0590-40bc-9bdf-9a1334******"
          },
          "example" : "ba253642-0590-40bc-9bdf-9a1334******"
        }, {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"multipart/form-data\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"multipart/form-data\"",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/VideoUploadVideoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "上传视频",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoUploadVideoResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"video\": {\n      \"video_id\": \"@9VxVx/WTUc8oLGK3atFqTs7912buPvyEOpZwrGXgL1MTbqer1nDhelpF4WnNgVhvD2bFzmUJfdQF3t2JTRfTOAJYf/3gzkjEE7EeLH******\",\n      \"width\": 720,\n      \"height\": 1280\n    }\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1594015876138,\n    \"log_id\": \"2020070614111601022506808001045D59\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/upload_video_part/" : {
      "post" : {
        "tags" : [ "video-management" ],
        "description" : "[分片上传](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/create-video/video-part-upload)",
        "operationId" : "postApiDouyinV1VideoUploadVideoPart",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"multipart/form-data\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"multipart/form-data\"",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "分片上传",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoUploadVideoPartResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"extra\": {\n    \"now\": 1597213176393,\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202008121419360101980821035705926A\"\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1594015876138,\n    \"log_id\": \"2020070614111601022506808001045D59\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/video_basic_info/" : {
      "post" : {
        "tags" : [ "interaction-management" ],
        "description" : "[查询视频基础信息](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/interaction-management/posting-task/video-basic-info)",
        "operationId" : "postApiDouyinV1VideoVideoBasicInfo",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用 /oauth/access_token/ 生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "查询视频基础信息",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoVideoBasicInfoResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"data\": {\n    \"list\": [\n      {\n        \"create_time\": 1571075129,\n        \"item_id\": \"@72M0WCqtxuYGiwtkVUYFvH1itu8zRM8IaUCtRwbNa32+7uo2083g2PcEG70*****\",\n        \"media_type\": 4,\n        \"title\": \"测试视频 #测试话题 @抖音小助手\",\n        \"video_id\": \"722781567863447****\",\n        \"video_status\": 5,\n        \"cover\": \"https://p3-dy.byteimg.com/img/tos-cn-p-0015/cfa0d6421bdc4580876cb16974539ff6~c5_300x400.jpeg\"\n      }\n    ],\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202305310903463FF1BD14FC15E33B60C9\",\n    \"now\": 1685495027\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"202305310905081EBA70EE79A1013C0443\",\n    \"now\": 1685495108\n  },\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"参数不合法\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/video_data/" : {
      "post" : {
        "tags" : [ "video-management" ],
        "description" : "[查询特定视频的视频数据](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/search-video/video-data)",
        "operationId" : "postApiDouyinV1VideoVideoData",
        "parameters" : [ {
          "name" : "open_id",
          "in" : "query",
          "description" : "通过 /oauth/access_token/ 获取，用户唯一标识",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "通过 /oauth/access_token/ 获取，用户唯一标识",
            "example" : "ba253642-0590-40bc-9bdf-9a1334******"
          },
          "example" : "ba253642-0590-40bc-9bdf-9a1334******"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/access_token/生成的 token，此 token 需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/access_token/生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "### 注意事项\n<ul><li>抖音的 OAuth API 以<code>https://open.douyin.com/</code> 开头。</li><li>可以通过<a href=\"/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/search-video/video-share-result\" target=\"_blank\" rel=\"nofollow noreferrer\">查询视频分享结果和数据</a>，获取 item_id（抖音视频 id）。</li><li>只返回用户公开的视频数据，未公开的视频数据不会返回。</li><li>如果视频设置为了隐私，则返回创建时间为 0 的记录。</li></ul>\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VideoVideoDataRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询特定视频的视频数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoVideoDataResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"extra\": {\n    \"logid\": \"202008121419360101980821035705926A\",\n    \"now\": 1597213176393,\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\"\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"list\": [\n      {\n        \"title\": \"测试视频 #测试话题 @抖音小助手\",\n        \"create_time\": 1571075129,\n        \"video_status\": 5,\n        \"share_url\": \"https://www.iesdouyin.com/share/video/QDlWd0EzdWVMU2Q0aU5tKzVaOElvVU03ODBtRHFQUCtLUHBSMHFRT21MVkFYYi9UMDYwemRSbVlxaWczNTd6RUJRc3MrM2hvRGlqK2EwNnhBc1lGUkpRPT0=/?region=CN&mid=6753173704399670023&u_code=12h9je425&titleType=title\",\n        \"cover\": \"https://p3-dy.byteimg.com/img/tos-cn-p-0015/cfa0d6421bdc4580876cb16974539ff6~c5_300x400.jpeg\",\n        \"is_top\": false,\n        \"statistics\": {\n          \"digg_count\": 200,\n          \"download_count\": 10,\n          \"play_count\": 300,\n          \"share_count\": 10,\n          \"forward_count\": 10,\n          \"comment_count\": 100\n        },\n        \"item_id\": \"@8hxdhauTCMppanGnM4ltGM780mDqPP+KPpR0qQOmLVAXb/T060zdRmYqig357zEBq6CZRp4NVe6qLIJW/V/x1w==\",\n        \"is_reviewed\": true,\n        \"media_type\": 2\n      }\n    ]\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : "{\n  \"data\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\"\n  },\n  \"extra\": {\n    \"error_code\": 2100005,\n    \"description\": \"Parameter error\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1594015876138,\n    \"log_id\": \"2020070614111601022506808001045D59\"\n  }\n}\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/douyin/v1/video/video_list/" : {
      "get" : {
        "tags" : [ "video-management" ],
        "description" : "[查询授权账号视频列表](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/video-management/douyin/search-video/account-video-list)",
        "operationId" : "getApiDouyinV1VideoVideoList",
        "parameters" : [ {
          "name" : "open_id",
          "in" : "query",
          "description" : "通过/oauth/access_token/获取，用户唯一标志",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "通过/oauth/access_token/获取，用户唯一标志",
            "example" : "ba253642-0590-40bc-9bdf-9a1334b94059"
          },
          "example" : "ba253642-0590-40bc-9bdf-9a1334b94059"
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。",
            "format" : "int64",
            "example" : 0
          },
          "example" : "0"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "每页数量",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "每页数量",
            "format" : "int32",
            "example" : 10
          },
          "example" : "10"
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/access_token/生成的 token，此 token 需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/access_token/生成的 token，此 token 需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "查询授权账号视频列表",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VideoVideoListResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/match/v1/taskbox/change_user_bind_agent/" : {
      "post" : {
        "tags" : [ "taskbox" ],
        "description" : "[换绑团长](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox/change_user_bind_agent)",
        "operationId" : "postApiMatchV1TaskboxChangeUserBindAgent",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 提供给撮合中介更新达人与团长的绑定关系，换绑需提供旧团长与新团长ID\n* 换绑前后的团长要求均归属于中介，无法操作其他ClientKey创建的团长\n* 达人此前已经绑定了旧团长，换绑请求参数中新旧团长ID不能一样\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TaskboxChangeUserBindAgentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "换绑团长",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskboxChangeUserBindAgentResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[\n{\n  \"err_no\": 28013001,\n  \"err_msg\": \"团长不存在\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/match/v1/taskbox/gen_agent_link/" : {
      "post" : {
        "tags" : [ "taskbox" ],
        "description" : "[获取合作链接](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox/gen_agent_link)",
        "operationId" : "postApiMatchV1TaskboxGenAgentLink",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 团长合作链接分 2 种：\n  * http形式合作链接：https://m.zjbyte.net/share/douyin/?token=b168b29cca00f39765a06bb683e326d3&share_channel=scan\n  * 小程序path形式合作链接：agentId为加密过的团长标识，请不要随意更改\n    * subPackage/pages/taskDetail/index?taskId=xxx&enter_from=7&agentId=AfjkzIfjs7klji11（任务详情页）\n    * subPackage/subApp/appDetail/index?appId=xxx&enter_from=8&agentId=AfjkzIfjklji11（小程序详情页）\n    * pages/index/index&enter_from=6&agentId=AfjkzIfjs7klji11（首页）\n* 团长必须与中介有从属关系，无法操作其他ClientKey创建的团长\n* 当指定获取“小程序推广计划小程序详情页”的合作链接时，ClientKey必须与该详情页的小程序存在合作关系\n* 当指定获取“小程序推广计划任务详情页”的合作链接时，ClientKey必须与该任务关联的小程序存在合作关系\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TaskboxGenAgentLinkRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "获取合作链接",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskboxGenAgentLinkResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"log_id\": \"202008121419360101980821035705926A\",\n  \"data\": {\n      \"web_link\": \"https://m.zjbyte.net/share/douyin/?token=b168b29cca00f39765a06bb683e326d3&share_channel=scan\",\n      \"app_link\": \"pages/index/index&enter_from=6&agentId=AfjkzIfjs7klji11\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": 28001005,\n  \"err_msg\": \"系统内部错误，请重试\",\n  \"log_id\": \"202008121419360101980821035705926A\",\n  \"data\": {\n      \"web_link\": \"\",\n      \"app_link\": \"\"\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/match/v1/taskbox/get_agency_user_bind_record/" : {
      "post" : {
        "tags" : [ "taskbox" ],
        "description" : "[查询绑定关系](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox/get_agency_user_bind_record)",
        "operationId" : "postApiMatchV1TaskboxAgencyUserBindRecord",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 中介可查询其下所归属的达人及其绑定团长关系，可通过团长ID、达人抖音号进行数据筛选\n* 接口传参中团长ID、达人抖音号必须归属于中介\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TaskboxGetAgencyUserBindRecordRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询绑定关系",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskboxGetAgencyUserBindRecordResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"err_no\": 0,\n    \"err_msg\": \"\",\n    \"log_id\": \"202008121419360101980821035705926A\",\n    \"data\": {\n        \"results\": [\n            {\n                \"agent_id\": 8374834,\n                \"douyin_id\": \"121321\",\n                \"bind_time\": 1684339200,\n                \"unbind_time\": 0\n            },\n            {\n                \"agent_id\": 8374834,\n                \"douyin_id\": \"121321\",\n                \"bind_time\": 1684339200,\n                \"unbind_time\": 0\n            }\n        ],\n        \"total_count\": 2\n    }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": 28013001,\n  \"err_msg\": \"团长不存在\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/match/v1/taskbox/query_agency_video_daily_data/" : {
      "post" : {
        "tags" : [ "taskbox" ],
        "description" : "[查询视频每日明细数据](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox/path)",
        "operationId" : "postApiMatchV1TaskboxQueryAgencyVideoDailyData",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 中介可查询其下所有合作期间的视频，通过传入达人抖音号，团长ID，小程序appid进行筛选，按中介自身平台所需筛选查询。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TaskboxQueryAgencyVideoDailyDataRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询视频每日明细数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskboxQueryAgencyVideoDailyDataResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n  \"data\":{\n      \"results\":[\n         {\n            \"VideoId\": 0,\n            \"TaskId\": 0,\n            \"TaskName\": \"\",\n            \"PublishTime\": 0,\n            \"Author\": \"\",\n            \"DouyinID\": \"\",\n            \"VideoTitle\": \"\",\n            \"MicroAppTitle\": \"\",\n            \"VideoLink\": \"\",\n            \"AgentID\": \"\",\n            \"TalentProfit1d\": 0,\n            \"GMV1d\": 0,\n            \"RefundGMV1d\": 0,\n            \"AdShareCost1d\": 0,\n            \"FeedAdShareCost1d\": 0,\n            \"BillingRefundGMV1d\": 0,\n            \"BillingGMV1d\": 0,\n            \"date\": \"2022-10-10\"\n        }]\n   }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[\n{\n  \"err_no\": 29005005,\n  \"err_msg\": \"系统内部错误，请重试\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/match/v1/taskbox/query_agency_video_sum_data/" : {
      "post" : {
        "tags" : [ "taskbox" ],
        "description" : "[查询视频汇总数据](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox/path-sum-data)",
        "operationId" : "postApiMatchV1TaskboxQueryAgencyVideoSumData",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 支持撮合中介通过传入达人抖音号，团长ID，合作小程序appid，查询旗下团长绑定的达人在合作期间发布的小程序推广计划投稿视频的汇总数据。\n* 不同类型任务平台结算数据产出时间不确定，建议开发者T+1日来查询T日数据。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TaskboxQueryAgencyVideoSumDataRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询视频汇总数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskboxQueryAgencyVideoSumDataResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n  \"data\":{\n      \"results\":[\n         {\n            \"VideoId\": 0,\n            \"TaskId\": 0,\n            \"TaskName\": \"\",\n            \"PublishTime\": 0,\n            \"Author\": \"\",\n            \"DouyinID\": \"\",\n            \"VideoTitle\": \"\",\n            \"MicroAppTitle\": \"\",\n            \"VideoViews\": 0,\n            \"Likes\": 0,\n            \"Comments\": 0,\n            \"Shares\": 0,\n            \"VideoLink\": \"\",\n            \"AgentID\": \"\",\n            \"TalentProfitTd\": 0,\n            \"GMVTd\": 0,\n            \"AdShareCostTd\": 0,\n            \"FeedAdShareCostTd\": 0,\n            \"ActiveCntTd\": 0,\n            \"BillingGMVTd\": 0,\n            \"BillingRefundGMVTd\": 0,\n            \"RefundGMVTd\": 0,\n            \"date\": \"2022-10-10\"\n        }]\n   }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[\n{\n  \"err_no\": 29005005,\n  \"err_msg\": \"系统内部错误，请重试\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/match/v1/taskbox/query_app_task_id/" : {
      "post" : {
        "tags" : [ "taskbox" ],
        "description" : "[查询小程序任务台任务ID](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox/agency_query_app_task_id)",
        "operationId" : "postApiMatchV1TaskboxQueryAppTaskId",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 撮合中介开通后，对应小程序在小程序推广计划中创建推广任务后，可查询相应小程序的投稿任务数据\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TaskboxQueryAppTaskIdRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询小程序任务台任务ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskboxQueryAppTaskIdResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"log_id\": \"202008121419360101980821035705926A\",\n  \"data\": {\n      \"task_ids\": [1130941336206704680, 1130954062622638121, 1130965975075143722]\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[\n{\n  \"err_no\": 28001007,\n  \"err_msg\": \"参数不合法\",\n  \"log_id\": \"202008121419360101980821035705926A\",\n  \"data\": {\n      \"task_ids\": []\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/match/v1/taskbox/query_task_info/" : {
      "post" : {
        "tags" : [ "taskbox" ],
        "description" : "[查询任务详情](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox/agency_query_task_info)",
        "operationId" : "postApiMatchV1TaskboxQueryTaskInfo",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 撮合中介开通后，对应小程序在小程序推广计划中创建推广任务后，可查询相应小程序的投稿任务数据\n* 通过任务 ID、任务名称、任务对应的 path 查询当前小程序下是否存在和条件匹配的任务\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TaskboxQueryTaskInfoRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询任务详情",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskboxQueryTaskInfoResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"err_no\": 0,\n    \"err_msg\": \"\",\n    \"log_id\": \"202008121419360101980821035705926A\",\n    \"data\": {\n        \"total\": 1,\n        \"page_count\": 1,\n        \"app_id\": \"ttcfdbb96650e33350\",\n        \"tasks\": [\n            {\n                \"anchor_title\": \"一个测试任务\",\n                \"appid\": \"ttcfdbb96650e33350\",\n                \"payment_allocate_ratio\": 7000,\n                \"platform_address_app\": \"subPackage/pages/taskDetail/index?taskId=7159000769277214764&enter_from=7\",\n                \"platform_address_web\": \"http://boe.m.zjbyte.net/share/douyin/?token=bd9ce2083d6aed332dcd9f9721b91ec4&share_channel=scan\",\n                \"refer_ma_captures\": [\n                    \"http://p-boe-sign.bytedance.net/tos-boe-i-giyy2m8f28/368d6285a0514fd3a230c2bd0873f2d3~tplv-giyy2m8f28-jpg.image?x-orig-authkey=boeorigin&x-orig-expires=1763898974&x-orig-sign=F8XZRENkmZOanX5JZt9LoiaQiws%3D\",\n                    \"http://p-boe-sign.bytedance.net/tos-boe-i-giyy2m8f28/f83566dd4b924791bd0364af588cad76~tplv-giyy2m8f28-jpg.image?x-orig-authkey=boeorigin&x-orig-expires=1763898974&x-orig-sign=2NBX9lYCvAyq681nR%2FGUlZudvZU%3D\"\n                ],\n                \"refer_video_captures\": [\n                    \"\"\n                ],\n                \"reject_reason\": \"落地页发生变更\",\n                \"start_page\": \"page/detail/detail?id=1\",\n                \"status\": 5,\n                \"task_desc\": \"一个测试任务aaa一个测试任务aaa一个测试任务aaa一个测试任务aaa一个测试任务aaa\",\n                \"task_end_time\": 1669695653,\n                \"task_icon\": \"http://p-boe-sign.bytedance.net/tos-boe-i-giyy2m8f28/93e9ed06180c4c15b397e81653b20313~tplv-giyy2m8f28-144x144.image?x-orig-authkey=boeorigin&x-orig-expires=1763898974&x-orig-sign=BydBniNTuG%2FoYlVhHNVIRdZNcaU%3D\",\n                \"task_id\": 7159000769277214764,\n                \"task_name\": \"一个测试任务aaa\",\n                \"task_refund_period\": 0,\n                \"task_settle_type\": 1,\n                \"task_start_time\": 1666846303,\n                \"task_tags\": [\n                    \"娱乐测试\",\n                    \"小说\"\n                ],\n                \"task_type\": 1\n                \"oriented_talent_rel_list\": [\n                    {\n                        \"cooperation_state\": 2,\n                        \"douyin_id\": \"lw123456\"\n                    },\n                    {\n                        \"cancel_operator\": 1,\n                        \"cooperation_state\": 3,\n                        \"douyin_id\": \"lv789\"\n                    },\n                ],\n            }\n        ]\n    }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": 28001007,\n  \"err_msg\": \"参数不合法\",\n  \"log_id\": \"202008121419360101980821035705926A\",\n  \"data\": {\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/match/v1/taskbox/query_task_video_status/" : {
      "post" : {
        "tags" : [ "taskbox" ],
        "description" : "[查询视频状态](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox/video_status)",
        "operationId" : "postApiMatchV1TaskboxQueryTaskVideoStatus",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 支持撮合中介通过传入达人抖音号，团长ID，合作小程序appid，查询旗下团长绑定的达人在合作期间发布的小程序推广计划投稿视频的状态\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TaskboxQueryTaskVideoStatusRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询视频状态",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskboxQueryTaskVideoStatusResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n  \"data\":{\n      \"results\":[\n         {\n           \"VideoId\": 1234,\n           \"VideoStatus\":2\n        }]\n   }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[{\n  \"err_no\": 29005005,\n  \"err_msg\": \"系统内部错误，请重试\",\n  \"log_id\": \"202008121419360101980821035705926A\"\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/match/v1/taskbox/save_agent/" : {
      "post" : {
        "tags" : [ "taskbox" ],
        "description" : "[创建团长](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/taskbox/save_agent)",
        "operationId" : "postApiMatchV1TaskboxSaveAgent",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 团长昵称全局唯一，如发生冲突需修改为其他昵称\n* 团长必须与中介有从属关系，无法操作其他ClientKey创建的团长\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TaskboxSaveAgentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "创建团长",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaskboxSaveAgentResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"err_no\": 0,\n  \"err_msg\": \"\",\n  \"log_id\": \"202008121419360101980821035705926A\",\n  \"data\": {\n      \"agent_id\": 32490158475755534\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : "[\n{\n  \"err_no\": 29005004,\n  \"err_msg\": \"团长ID不存在\",\n  \"log_id\": \"202008121419360101980821035705926A\",\n  \"data\": {\n      \"agent_id\": 0\n  }\n}\n]\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/extern/billboard/amusement/new/" : {
      "get" : {
        "tags" : [ "data-open-service" ],
        "description" : "[搞笑新势力榜](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/data-open-service/tops-data/funny-list-data/funny-new-list)",
        "operationId" : "getDataExternBillboardAmusementNew",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : " application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : " application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的token，此token不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的token，此token不需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "搞笑新势力榜",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AmusementNewResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/extern/billboard/amusement/overall/" : {
      "get" : {
        "tags" : [ "data-open-service" ],
        "description" : "[搞笑总榜](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/data-open-service/tops-data/funny-list-data/funny-overall-list)",
        "operationId" : "getDataExternBillboardAmusementOverall",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : " application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : " application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的token，此token不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的token，此token不需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "搞笑总榜",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AmusementOverallResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/extern/billboard/car/comment/" : {
      "get" : {
        "tags" : [ "data-open-service" ],
        "description" : "[评车](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/data-open-service/tops-data/car-list-data/comment)",
        "operationId" : "getDataExternBillboardCarComment",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : " application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : " application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的token，此token不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的token，此token不需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "评车",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CarCommentResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/extern/billboard/car/driver/" : {
      "get" : {
        "tags" : [ "data-open-service" ],
        "description" : "[驾考](https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/data-open-service/tops-data/car-list-data/exam)",
        "operationId" : "getDataExternBillboardCarDriver",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : " application/json",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : " application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的token，此token不需要用户授权。",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的token，此token不需要用户授权。",
            "example" : null
          }
[...]
