{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI 列表",
    "version": "0.0.1"
  },
  "externalDocs": {
    "description": "OpenAPI 列表",
    "url": "https://developer.open-douyin.com/docs/resource/zh-CN/dop/develop/openapi/list"
  },
  "servers": [
    {
      "url": "https://open.douyin.com/"
    }
  ],
  "paths": {
  },
  "components": {
    "schemas": {
      "TaskboxSaveAgentResponse": {
        "type": "object",
        "properties": {
          "err_no": {
            "type": "integer",
            "description": "0表示成功",
            "format": "int32",
            "example": "0"
          },
          "err_msg": {
            "type": "string",
            "description": "err_no非0时对应的错误信息文案提示，成功时为空字符串",
            "example": "\"\""
          },
          "log_id": {
            "type": "string",
            "description": "标识请求的唯一id",
            "example": "202008121419360101980821035705926A"
          },
          "data": {
            "type": "object",
            "description": "结果",
            "properties": {
              "agent_id": {
                "type": "integer",
                "format": "int64",
                "description": "团长ID，创建团长时返回新的团长ID；修改团长时，返回传入的团长ID",
                "example": 32490158475755534
              }
            },
            "example": null
          }
        }
      },
      "RoomIdGetResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "room_ids": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                },
                "description": "房间id列表",
                "example": [
                  7215858970384812811
                ]
              }
            },
            "example": null
          },
          "err_no": {
            "type": "integer",
            "description": "错误码",
            "format": "int32",
            "example": "0"
          },
          "err_msg": {
            "type": "string",
            "description": "错误码描述",
            "example": "\"\""
          },
          "log_id": {
            "type": "string",
            "description": "标识请求的唯一id",
            "example": "202008121419360101980821035705926B"
          }
        }
      }
    }
  }
}