{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "门店管理",
    "version" : "0.0.1"
  },
  "externalDocs" : {
    "description" : "门店管理",
    "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.shop"
  },
  "servers" : [ {
    "url" : "https://open.douyin.com"
  } ],
  "tags" : [ {
    "name" : "life.capacity.shop",
    "description" : "门店管理",
    "externalDocs" : {
      "description" : "门店管理",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.shop"
    }
  }, {
    "name" : "life.capacity.fulfilment",
    "description" : "团购核销",
    "externalDocs" : {
      "description" : "团购核销",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.fulfilment"
    }
  }, {
    "name" : "life.capacity.billing",
    "description" : "团购对账",
    "externalDocs" : {
      "description" : "团购对账",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.billing"
    }
  }, {
    "name" : "member",
    "description" : "会员接入",
    "externalDocs" : {
      "description" : "会员接入",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/member"
    }
  }, {
    "name" : "order.query",
    "description" : "订单查询",
    "externalDocs" : {
      "description" : "订单查询",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/order.query"
    }
  }, {
    "name" : "tripartite.code",
    "description" : "三方码",
    "externalDocs" : {
      "description" : "三方码",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/tripartite.code"
    }
  }, {
    "name" : "goods",
    "description" : "商品发布及查询",
    "externalDocs" : {
      "description" : "商品发布及查询",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods"
    }
  }, {
    "name" : "JiuLv",
    "description" : "酒旅",
    "externalDocs" : {
      "description" : "酒旅",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/JiuLv"
    }
  }, {
    "name" : "reservecode",
    "description" : "预置码",
    "externalDocs" : {
      "description" : "预置码",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/reservecode"
    }
  }, {
    "name" : "paterner",
    "description" : "代运营",
    "externalDocs" : {
      "description" : "代运营",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/paterner"
    }
  }, {
    "name" : "takeout",
    "description" : "外卖",
    "externalDocs" : {
      "description" : "外卖",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/takeout"
    }
  }, {
    "name" : "info",
    "description" : "客资查询",
    "externalDocs" : {
      "description" : "客资查询",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/info"
    }
  }, {
    "name" : "akte_saas",
    "description" : "餐饮团购",
    "externalDocs" : {
      "description" : "餐饮团购",
      "url" : "https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/akte_saas"
    }
  } ],
  "paths" : {
    "/goodlife/v1/after_sale/audit/notify/" : {
      "post" : {
        "tags" : [ "takeout" ],
        "description" : "[商家同意/拒绝退款接口](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/takeout/refundresult)",
        "operationId" : "postGoodlifeV1AfterSaleAuditNotify",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "<ol start=\"1\"><li>收到用户申请退款的消息后，可在第三方系统中调用此接口进行异步处理，若拒绝退款，需要传拒绝原因。</li></ol>\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuditNotifyRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "商家同意/拒绝退款接口",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuditNotifyResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"extra\": {\n    \"description\": \"success\",\n    \"error_code\": 0,\n    \"logid\": \"20220825160718010225082199060C966B\"\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/after_sale/order/apply_refund/" : {
      "post" : {
        "tags" : [ "takeout" ],
        "description" : "[商家取消订单接口](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/takeout/applyrefund)",
        "operationId" : "postGoodlifeV1AfterSaleOrderApplyRefund",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "调用路径：SaaS 服务商 -> 抖音\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrderApplyRefundRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "商家取消订单接口",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderApplyRefundResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"extra\": {\n    \"description\": \"success\",\n    \"error_code\": 0,\n    \"logid\": \"20220825160718010225082199060C966B\"\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/after_sale/order/merchant_reject/" : {
      "post" : {
        "tags" : [ "takeout" ],
        "description" : "[拒绝接单接口](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/takeout/rejectorder)",
        "operationId" : "postGoodlifeV1AfterSaleOrderMerchantReject",
        "parameters" : [ {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "调用路径：SaaS 服务商 -> 抖音\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrderMerchantRejectRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "拒绝接单接口",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderMerchantRejectResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "{\n  \"extra\": {\n    \"description\": \"success\",\n    \"error_code\": 0,\n    \"logid\": \"20220825160718010225082199060C966B\"\n  }\n}\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/fulfilment/certificate/cancel/" : {
      "post" : {
        "tags" : [ "life.capacity.fulfilment" ],
        "description" : "[撤销核销](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.fulfilment/certificate.cancel)",
        "operationId" : "postGoodlifeV1FulfilmentCertificateCancel",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "撤销核销",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CertificateCancelResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/fulfilment/certificate/get/" : {
      "get" : {
        "tags" : [ "life.capacity.fulfilment" ],
        "description" : "[券状态查询](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.fulfilment/certificate.get)",
        "operationId" : "getGoodlifeV1FulfilmentCertificate",
        "parameters" : [ {
          "name" : "encrypted_code",
          "in" : "query",
          "description" : "验券准备接口返回的加密券码（传参前需要先进行URL编码）",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "验券准备接口返回的加密券码（传参前需要先进行URL编码）",
            "example" : null
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "券状态查询",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CertificateGetResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"certificate\": {\n      \"encrypted_code\": \"CgwIARDhJxjLLyABKAESLgoscGiCSmZoMBlvG3WxOIxOGTfZHKvwwQD+DInGZEAi/SJsemJO/r+88+w3Th4aAA==\",\n      \"status\": 2,\n      \"amount\": {\n        \"original_amount\": 10,\n        \"pay_amount\": 10,\n        \"merchant_ticket_amount\": 0,\n        \"payment_discount_amount\": 0,\n        \"coupon_pay_amount\": 0\n      },\n      \"sku\": {\n        \"sku_id\": \"1730440745530376\",\n        \"title\": \"测试\",\n        \"third_sku_id\": \"1111\",\n        \"account_id\": \"7113893944009705516\",\n        \"market_price\": 19900,\n        \"sold_start_time\": 1650278040\n      },\n      \"expire_time\": 1682265599000,\n      \"code\": \"104930181552\",\n      \"verify\": {\n        \"can_cancel\": false,\n        \"certificate_id\": \"7091293506194655239\",\n        \"verifier_unique_id\": \"开放平台API\",\n        \"verify_id\": \"7091644694387591181\",\n        \"verify_time\": 1651152314,\n        \"verify_type\": 4\n      }\n    }\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"xxx\",\n    \"now\": 1651194819\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/fulfilment/certificate/prepare/" : {
      "get" : {
        "tags" : [ "life.capacity.fulfilment" ],
        "description" : "[验券准备](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.fulfilment/certificate.prepare)",
        "operationId" : "getGoodlifeV1FulfilmentCertificatePrepare",
        "parameters" : [ {
          "name" : "encrypted_data",
          "in" : "query",
          "description" : "从二维码解析出来的标识（传参前需要先进行URL编码）(encrypted_data/code必须二选一)",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "从二维码解析出来的标识（传参前需要先进行URL编码）(encrypted_data/code必须二选一)",
            "example" : null
          }
        }, {
          "name" : "code",
          "in" : "query",
          "description" : "原始的抖音团购券码 (encrypted_data/code必须二选一)",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "原始的抖音团购券码 (encrypted_data/code必须二选一)",
            "example" : null
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "验券准备",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CertificatePrepareResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"verify_token\": \"78a23d74-d0f5-4235-a491-5f68f8c23825\",\n    \"certificates\": [\n      {\n        \"encrypted_code\": \"CgwIARDhJxjLLyABKAESLgospP68K9dbp40hkHacQATyW6TK3vAP7nf0uukDsoDOO5wj5bu1Zt1raI5lH4gaAA==\",\n        \"expire_time\": 1682179199,\n        \"sku\": {\n          \"title\": \"测试\",\n          \"account_id\": \"123456\",\n          \"market_price\": 19900,\n          \"sku_id\": \"1730440745530376\",\n          \"sold_start_time\": 1650278040,\n          \"third_sku_id\": \"\"\n        },\n        \"amount\": {\n          \"original_amount\": 10,\n          \"pay_amount\": 10,\n          \"merchant_ticket_amount\": 0,\n          \"payment_discount_amount\": 0,\n          \"coupon_pay_amount\": 0\n        }\n      }\n    ]\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"xxx\",\n    \"now\": 1651063623\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/fulfilment/certificate/query/" : {
      "get" : {
        "tags" : [ "life.capacity.fulfilment" ],
        "description" : "[券状态批量查询](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.fulfilment/certificate.query)",
        "operationId" : "getGoodlifeV1FulfilmentCertificateQuery",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "券状态批量查询",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CertificateQueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"certificates\": [\n      {\n        \"encrypted_code\": \"CgwIARDhJxjLLyABKAESLgoscGiCSmZoMBlvG3WxOIxOGTfZHKvwwQD+DInGZEAi/SJsemJO/r+88+w3Th4aAA==\",\n        \"status\": 2,\n        \"amount\": {\n          \"original_amount\": 10,\n          \"pay_amount\": 10,\n          \"merchant_ticket_amount\": 0\n        },\n        \"sku\": {\n          \"sku_id\": \"1730440745530376\",\n          \"title\": \"测试\",\n          \"third_sku_id\": \"1111\",\n          \"account_id\": \"7113893944009705516\",\n          \"groupon_type\": 1,\n          \"market_price\": 19900,\n          \"sold_start_time\": 165027804\n        },\n        \"expire_time\": 1682265599,\n        \"code\": \"104930181552\",\n        \"verify\": {\n          \"can_cancel\": false,\n          \"certificate_id\": \"7091293506194655239\",\n          \"verifier_unique_id\": \"开放平台API\",\n          \"verify_id\": \"7091644694387591181\",\n          \"verify_time\": 1651152314,\n          \"verify_type\": 4\n        }\n      },\n      {\n        \"encrypted_code\": \"CgwIARDaHhjLJiAEKAESLgosamiADCVpoqfCZLCSDIVaguqR2QiEtm29VbT5Dg6BVMkNybI91gpm821/bzAaAA==\",\n        \"status\": 1,\n        \"amount\": {\n          \"original_amount\": 10,\n          \"pay_amount\": 10,\n          \"merchant_ticket_amount\": 0\n        },\n        \"sku\": {\n          \"sku_id\": \"1730440745530376\",\n          \"title\": \"测试\",\n          \"third_sku_id\": \"1111\",\n          \"account_id\": \"7113893944009705516\",\n          \"groupon_type\": 1,\n          \"market_price\": 19900,\n          \"sold_start_time\": 165027804\n        },\n        \"expire_time\": 1682265599,\n        \"code\": \"104930181553\"\n      }\n    ]\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"xxx\",\n    \"now\": 1651194819\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/fulfilment/certificate/verify/" : {
      "post" : {
        "tags" : [ "life.capacity.fulfilment" ],
        "description" : "[验券](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.fulfilment/certificate.verify)",
        "operationId" : "postGoodlifeV1FulfilmentCertificateVerify",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CertificateVerifyRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "验券",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CertificateVerifyResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"verify_results\": [\n      {\n        \"result\": 0,\n        \"msg\": \"验券成功\",\n        \"code\": \"CgwIARDhJxjLLyABKAESLgosTYTOIJFLZx8IaWKdO9ISKSWf4XYaqzt8TU1fhbTpYhIAuA5i5fRYfApwNRMaAA==\",\n        \"verify_id\": \"7091478021421631519\",\n        \"certificate_id\": \"7091180835810052103\",\n        \"origin_code\": \"102539929601\",\n        \"account_id\": \"123456\"\n      }\n    ]\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"xxx\",\n    \"now\": 1651113600\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/fulfilment/certificate/verify_record/query/" : {
      "get" : {
        "tags" : [ "life.capacity.billing" ],
        "description" : "[验券历史查询](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.billing/certificate.verifyrecord.query)",
        "operationId" : "getGoodlifeV1FulfilmentCertificateVerifyRecordQuery",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "验券历史查询",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerifyRecordQueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/fulfilment/create/callback/" : {
      "post" : {
        "tags" : [ "tripartite.code" ],
        "description" : "[发券回调](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/tripartite.code/callback)",
        "operationId" : "postGoodlifeV1FulfilmentCreateCallback",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "1、(非必需) 抖音侧先申请服务商发码，如果能同步返回结果则不需要本接口，如果异步返回结果则调用本接口通知抖音。\n2、error_code 为 0 代表通知成功，如未成功请重试。\n3、10 分钟后未发码，抖音会发起退款申请。如需要补发，通过退款接口拒绝退款时补发券码。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateCallbackRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "发券回调",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateCallbackResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": \"xxx\",\n  \"certificate_info_list\": [\n      {\n        \"certificate_id\": \"123123123123\",\n        \"code\": \"ABACCC\"\n      },\n      {\n        \"certificate_id\": \"923123123123\",\n        \"code\": \"ABACCC\"\n      }\n    ],\n    \"error_code\": 0,\n    \"description\": \"success\"\n},\n\"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"logid\": \"xxx\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/goods/category/get/" : {
      "get" : {
        "tags" : [ "goods" ],
        "description" : "[查询商品品类](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods/category.get)",
        "operationId" : "getGoodlifeV1GoodsCategory",
        "parameters" : [ {
          "name" : "category_id",
          "in" : "query",
          "description" : "行业类目ID，返回当前id下的直系子类目信息；传0或者不传，均返回所有一级行业类目",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "行业类目ID，返回当前id下的直系子类目信息；传0或者不传，均返回所有一级行业类目",
            "example" : null
          }
        }, {
          "name" : "account_id",
          "in" : "query",
          "description" : "服务商的入驻商户ID/代运营的商户ID，不传时默认为服务商身份,传入商户ID，可查询商家可发布商品类目",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "服务商的入驻商户ID/代运营的商户ID，不传时默认为服务商身份,传入商户ID，可查询商家可发布商品类目",
            "example" : null
          }
        }, {
          "name" : "query_category_type",
          "in" : "query",
          "description" : "类目查询方式0 - 返回单层结构子类目信息1 - 返回树形结构子类目信息",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "类目查询方式0 - 返回单层结构子类目信息1 - 返回树形结构子类目信息",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CategoryGetRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "查询商品品类",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryGetResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/goods/product/draft/get/" : {
      "get" : {
        "tags" : [ "goods" ],
        "description" : "[查询商品草稿数据](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods/draft.get)",
        "operationId" : "getGoodlifeV1GoodsProductDraft",
        "parameters" : [ {
          "name" : "product_ids",
          "in" : "query",
          "description" : "商品ID列表，多个值使用,拼接商品ID必填，product_ids和out_ids 字段二选一",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "商品ID列表，多个值使用,拼接商品ID必填，product_ids和out_ids 字段二选一",
            "example" : null
          }
        }, {
          "name" : "out_ids",
          "in" : "query",
          "description" : "外部商品ID列表，多个值使用,拼接商品ID必填，product_ids和out_ids 字段二选一",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "外部商品ID列表，多个值使用,拼接商品ID必填，product_ids和out_ids 字段二选一",
            "example" : null
          }
        }, {
          "name" : "account_id",
          "in" : "query",
          "description" : "商家ID，传入时服务商须与该商家满足授权关系",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "商家ID，传入时服务商须与该商家满足授权关系",
            "example" : null
          }
        }, {
          "name" : "get_draft_type",
          "in" : "query",
          "description" : "【不填默认为 0】0 - 查询平台审核阶段的状态 （状态包括 1、10、11、12）1 - 可额外查询到商家审核阶段的状态（状态包括 1、10、11、12、20、21、22、23、100）草稿状态枚举如下：10-审核中 12-审核失败 1-审核通过 11-审核通过 20-商家审核中 21-商家拒绝 22-商家成功 23-商家超时 100-上下架/免审成功",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "【不填默认为 0】0 - 查询平台审核阶段的状态 （状态包括 1、10、11、12）1 - 可额外查询到商家审核阶段的状态（状态包括 1、10、11、12、20、21、22、23、100）草稿状态枚举如下：10-审核中 12-审核失败 1-审核通过 11-审核通过 20-商家审核中 21-商家拒绝 22-商家成功 23-商家超时 100-上下架/免审成功",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "查询商品草稿数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DraftGetResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"BaseResp\": {\n    \"StatusCode\": 0,\n    \"StatusMessage\": \"\"\n  },\n  \"data\": {\n    \"error_code\": 0,\n    \"product_drafts\": [\n      {\n        \"audit_msg\": \"\",\n        \"draft_status\": 10,\n        \"product\": {\n          \"creator_account_id\": 7107571250087643180,\n          \"owner_account_id\": 7113893944009705516,\n          \"sold_start_time\": 1646724999,\n          \"telephone\": [\"1234-4321\"],\n          \"account_name\": \"lw测试商家\",\n          \"pois\": [\n            {\n              \"supplier_ext_id\": \"goods_v1_poi_001\",\n              \"supplier_id\": 7112378515013584941,\n              \"poi_id\": 6601137575719602180\n            }\n          ],\n          \"attr_key_value_map\": {\n            \"OrderValidStart\": \"1638720000\",\n            \"SortWeight\": \"0\",\n            \"real_name_info\": \"{\\\"enable\\\":false,\\\"scene\\\":0}\",\n            \"rec_person_num\": \"99\",\n            \"rec_person_num_max\": \"999\",\n            \"DateRule\": \"{\\\"unavailable_date\\\":{\\\"date_list\\\":[\\\"2022-03-08\\\",\\\"2022-03-09\\\"],\\\"weekday_list\\\":[7,1,2,3,4],\\\"not_available_on_holidays\\\":true}}\",\n            \"Images\": \"[\\\"http://tosv.boe.byted.org/obj/aweme-upload-image/7038505021658382380\\\",\\\"http://tosv.boe.byted.org/obj/aweme-upload-image/7038505050439696428\\\"]\",\n            \"RecommendWord\": \"推荐语\",\n            \"description_rich_text\": \"[{\\\"note_type\\\":1,\\\"content\\\":\\\"其他说明信息-美食团购\\\"}]\",\n            \"environment_image_list\": \"[{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038504987084734508?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=TLe6dfqJ0a7i9VA4Zbh3Cu7qAV8%3D\\\"}]\",\n            \"free_pack\": \"true\",\n            \"use_date\": \"{\\\"use_date_type\\\":1,\\\"use_start_date\\\":\\\"2021-12-06\\\",\\\"use_end_date\\\":\\\"2033-03-03\\\"}\",\n            \"IndustryType\": \"其他\",\n            \"OrderValidEnd\": \"1993478399\",\n            \"RefundPolicy\": \"2\",\n            \"appointment\": \"{\\\"need_appointment\\\":true,\\\"external_link\\\":\\\"urlxxx\\\",\\\"order_appointment_time_url\\\":\\\"urlxxx\\\",\\\"ahead_time_type\\\":2,\\\"ahead_hour_num\\\":5}\",\n            \"customer_reserved_info\": \"{\\\"allow\\\":false}\",\n            \"FrontCategoryTag\": \"[\\\"美食套餐\\\"]\",\n            \"IsConfirmImme\": \"true\",\n            \"can_no_use_date\": \"{\\\"enable\\\":true,\\\"days_of_week\\\":[7,1,2,3,4],\\\"holidays\\\":[1,2,3,4,5],\\\"date_list\\\":[\\\"2022-03-08\\\",\\\"2022-03-09\\\"],\\\"holiday_dates\\\":{\\\"1\\\":\\\"2022.01.01-2022.01.03\\\"}}\",\n            \"dishes_image_list\": \"[{\\\"uri\\\":\\\"aweme-upload-image/7038504987084734508\\\"}]\",\n            \"refund_need_merchant_confirm\": \"true\",\n            \"SupplierExtIdList\": \"[\\\"goods_v1_poi_001\\\"]\",\n            \"detail_image_list\": \"[{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038504987084734508?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=TLe6dfqJ0a7i9VA4Zbh3Cu7qAV8%3D\\\"}]\",\n            \"image_list\": \"[{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038505021658382380?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=ygn%2FI0ORgkAJdomj7liPXpK9v3s%3D\\\"},{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038505050439696428?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=QGvp6oDAMSW%2F3xA4L7ASboxnYoM%3D\\\"}]\",\n            \"show_channel\": \"2\",\n            \"superimposed_discounts\": \"true\",\n            \"Notification\": \"[{\\\"title\\\":\\\"标题\\\",\\\"content\\\":\\\"内容美食1.1\\\"}]\",\n            \"TagList\": \"标签列表-待填写\",\n            \"private_room\": \"true\",\n            \"use_time\": \"{\\\"use_time_type\\\":1}\"\n          },\n          \"biz_line\": 1,\n          \"category_full_name\": \"美食·地方菜·北京菜\",\n          \"category_id\": 1001001,\n          \"product_id\": \"7119054118261377068\",\n          \"product_name\": \"migrate_openapi_0711_03\",\n          \"out_id\": \"migrate_openapi_0711_03\",\n          \"product_type\": 1,\n          \"sold_end_time\": 1745607528\n        },\n        \"sku\": {\n          \"origin_amount\": 1998,\n          \"sku_id\": \"7119054118261377068\",\n          \"sku_name\": \"测试\",\n          \"status\": 1,\n          \"stock\": {\n            \"limit_type\": 1,\n            \"stock_qty\": 500\n          },\n          \"actual_amount\": 996,\n          \"attr_key_value_map\": {\n            \"limit_rule\": \"{\\\"is_limit\\\":true,\\\"total_buy_num\\\":9}\",\n            \"market_price\": \"900\",\n            \"settle_type\": \"1\",\n            \"use_type\": \"1\",\n            \"code_source_type\": \"1\",\n            \"commodity\": \"[{\\\"group_name\\\":\\\"测试0001\\\",\\\"total_count\\\":1,\\\"option_count\\\":1,\\\"item_list\\\":[{\\\"name\\\":\\\"可乐\\\",\\\"price\\\":1998,\\\"count\\\":1,\\\"unit\\\":\\\"份\\\"}]}]\"\n          }\n        }\n      }\n    ],\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"now\": 1658199797,\n    \"logid\": \"202207191103170102251451520001D611\",\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/goods/product/draft/query/" : {
      "get" : {
        "tags" : [ "goods" ],
        "description" : "[查询商品草稿数据列表](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods/query)",
        "operationId" : "getGoodlifeV1GoodsProductDraftQuery",
        "parameters" : [ {
          "name" : "cursor",
          "in" : "query",
          "description" : "第一页不传，之后用前一次返回的next_cursor传入进行翻页",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "第一页不传，之后用前一次返回的next_cursor传入进行翻页",
            "example" : null
          }
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "分页数量，不传默认为5",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "分页数量，不传默认为5",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "过滤草稿状态，10-审核中 12-审核失败 1-审核通过",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "过滤草稿状态，10-审核中 12-审核失败 1-审核通过",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "account_id",
          "in" : "query",
          "description" : "商家ID，传入时服务商须与该商家满足授权关系",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "商家ID，传入时服务商须与该商家满足授权关系",
            "example" : null
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "查询商品草稿数据列表",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DraftQueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"description\": \"\",\n    \"error_code\": 0,\n    \"has_more\": true,\n    \"next_cursor\": \"4\",\n    \"products\": [\n      {\n        \"draft_status\": 10,\n        \"product\": {\n          \"pois\": [\n            {\n              \"poi_id\": 6601137575719602180,\n              \"supplier_ext_id\": \"goods_v1_poi_001\",\n              \"supplier_id\": 7112378515013584941\n            }\n          ],\n          \"product_name\": \"life测试-0223-011\",\n          \"telephone\": [\"1234-4321\"],\n          \"account_name\": \"lh测试商家\",\n          \"category_full_name\": \"运动健身·游泳馆·游泳馆\",\n          \"creator_account_id\": 7107571250087643180,\n          \"category_id\": 3001001,\n          \"product_id\": \"7119054118278268972\",\n          \"product_type\": 1,\n          \"attr_key_value_map\": {\n            \"Notification\": \"[{\\\"title\\\":\\\"标题\\\",\\\"content\\\":\\\"运动健身1.1\\\"}]\",\n            \"RefundPolicy\": \"2\",\n            \"SupplierExtIdList\": \"[\\\"goods_v1_poi_001\\\"]\",\n            \"description_rich_text\": \"[{\\\"note_type\\\":1,\\\"content\\\":\\\"其他说明信息-运动健身团购\\\"}]\",\n            \"show_channel\": \"2\",\n            \"RecommendWord\": \"推荐语\",\n            \"TagList\": \"标签列表-待填写\",\n            \"DateRule\": \"{\\\"unavailable_date\\\":{\\\"date_list\\\":[\\\"2022-03-08\\\",\\\"2022-03-09\\\"],\\\"weekday_list\\\":[7,1,2,3,4],\\\"not_available_on_holidays\\\":true}}\",\n            \"EntryType\": \"1\",\n            \"FrontCategoryTag\": \"[\\\"美食套餐\\\"]\",\n            \"Images\": \"[\\\"http://tosv.boe.byted.org/obj/aweme-upload-image/7038505021658382380\\\",\\\"http://tosv.boe.byted.org/obj/aweme-upload-image/7038505050439696428\\\"]\",\n            \"IsConfirmImme\": \"true\",\n            \"OrderValidEnd\": \"1993478399\",\n            \"can_no_use_date\": \"{\\\"enable\\\":true,\\\"days_of_week\\\":[7,1,2,3,4],\\\"holidays\\\":[1,2,3,4,5],\\\"date_list\\\":[\\\"2022-03-08\\\",\\\"2022-03-09\\\"],\\\"holiday_dates\\\":{\\\"1\\\":\\\"2022.01.01-2022.01.03\\\"}}\",\n            \"customer_reserved_info\": \"{\\\"allow\\\":true,\\\"allow_tel\\\":true,\\\"allow_name\\\":true,\\\"allow_identity\\\":true,\\\"require_for_tel\\\":true,\\\"need_for_all\\\":true,\\\"reserved_reason\\\":\\\"留资原因\\\"}\",\n            \"real_name_info\": \"{\\\"enable\\\":true,\\\"scene\\\":1}\",\n            \"Description\": \"[\\\"商品描述-运动健身\\\"]\",\n            \"OrderValidStart\": \"1638720000\",\n            \"SortWeight\": \"0\",\n            \"appointment\": \"{\\\"need_appointment\\\":true,\\\"external_link\\\":\\\"urlxxx\\\",\\\"order_appointment_time_url\\\":\\\"urlxxx\\\",\\\"ahead_time_type\\\":1,\\\"ahead_day_num\\\":1}\",\n            \"use_time\": \"{\\\"use_time_type\\\":1}\",\n            \"environment_image_list\": \"[{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038504987084734508?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=TLe6dfqJ0a7i9VA4Zbh3Cu7qAV8%3D\\\"}]\",\n            \"image_list\": \"[{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038505021658382380?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=ygn%2FI0ORgkAJdomj7liPXpK9v3s%3D\\\"},{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038505050439696428?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=QGvp6oDAMSW%2F3xA4L7ASboxnYoM%3D\\\"}]\",\n            \"refund_need_merchant_confirm\": \"true\",\n            \"use_date\": \"{\\\"use_date_type\\\":1,\\\"use_start_date\\\":\\\"2021-12-06\\\",\\\"use_end_date\\\":\\\"2033-03-03\\\"}\"\n          },\n          \"biz_line\": 1,\n          \"out_id\": \"hch-life-0314-tg11\",\n          \"sold_end_time\": 1745607528,\n          \"sold_start_time\": 1646724999\n        },\n        \"sku\": {\n          \"sku_name\": \"我改了\",\n          \"status\": 1,\n          \"stock\": {\n            \"limit_type\": 0,\n            \"stock_qty\": 500\n          },\n          \"actual_amount\": 996,\n          \"attr_key_value_map\": {\n            \"limit_rule\": \"{\\\"is_limit\\\":true,\\\"total_buy_num\\\":9}\",\n            \"market_price\": \"1900\",\n            \"settle_type\": \"1\",\n            \"use_type\": \"1\",\n            \"code_source_type\": \"1\"\n          },\n          \"origin_amount\": 1399,\n          \"sku_id\": \"7119054118278268972\"\n        },\n        \"audit_msg\": \"\"\n      }\n    ]\n  },\n  \"extra\": {\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1658199933,\n    \"logid\": \"202207191105330101742511840402D90D\",\n    \"error_code\": 0\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/goods/product/online/get/" : {
      "get" : {
        "tags" : [ "goods" ],
        "description" : "[查询商品线上数据](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods/online.get)",
        "operationId" : "getGoodlifeV1GoodsProductOnline",
        "parameters" : [ {
          "name" : "product_ids",
          "in" : "query",
          "description" : "商品ID列表，多个值使用,拼接最多拼接10个商品ID",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "商品ID列表，多个值使用,拼接最多拼接10个商品ID",
            "example" : null
          }
        }, {
          "name" : "out_ids",
          "in" : "query",
          "description" : "外部商品ID列表，多个值使用,拼接（out_ids与product_ids两者之间须选择其一进行参数传递）最多拼接10个商品ID",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "外部商品ID列表，多个值使用,拼接（out_ids与product_ids两者之间须选择其一进行参数传递）最多拼接10个商品ID",
            "example" : null
          }
        }, {
          "name" : "account_id",
          "in" : "query",
          "description" : "商家ID（从来客获取）；传入时服务商须与该商家满足授权关系；",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "商家ID（从来客获取）；传入时服务商须与该商家满足授权关系；",
            "example" : null
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "查询商品线上数据",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnlineGetResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"extra\": {\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1658200003,\n    \"logid\": \"202207191106420102252431250703B5A8\",\n    \"error_code\": 0\n  },\n  \"data\": {\n    \"description\": \"\",\n    \"error_code\": 0,\n    \"product_onlines\": [\n      {\n        \"commission_info\": {\n          \"platform_take_rate\": 350\n        },\n        \"online_status\": 1,\n        \"product\": {\n          \"biz_line\": 1,\n          \"out_id\": \"hch-life-0314-tg09\",\n          \"product_id\": \"7119054118261606444\",\n          \"telephone\": [\"1234-4321\"],\n          \"account_name\": \"lh测试商家\",\n          \"attr_key_value_map\": {\n            \"Images\": \"[\\\"http://tosv.boe.byted.org/obj/aweme-upload-image/7038505021658382380\\\",\\\"http://tosv.boe.byted.org/obj/aweme-upload-image/7038505050439696428\\\"]\",\n            \"IsConfirmImme\": \"true\",\n            \"Notification\": \"[{\\\"title\\\":\\\"标题\\\",\\\"content\\\":\\\"运动健身1.1\\\"}]\",\n            \"SortWeight\": \"0\",\n            \"customer_reserved_info\": \"{\\\"allow\\\":true,\\\"allow_tel\\\":true,\\\"allow_name\\\":true,\\\"allow_identity\\\":true,\\\"require_for_tel\\\":true,\\\"need_for_all\\\":true,\\\"reserved_reason\\\":\\\"留资原因\\\"}\",\n            \"description_rich_text\": \"[{\\\"note_type\\\":1,\\\"content\\\":\\\"其他说明信息-运动健身团购\\\"}]\",\n            \"environment_image_list\": \"[{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038504987084734508?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=TLe6dfqJ0a7i9VA4Zbh3Cu7qAV8%3D\\\"}]\",\n            \"image_list\": \"[{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038505021658382380?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=ygn%2FI0ORgkAJdomj7liPXpK9v3s%3D\\\"},{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038505050439696428?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=QGvp6oDAMSW%2F3xA4L7ASboxnYoM%3D\\\"}]\",\n            \"DateRule\": \"{\\\"unavailable_date\\\":{\\\"date_list\\\":[\\\"2022-03-08\\\",\\\"2022-03-09\\\"],\\\"weekday_list\\\":[7,1,2,3,4],\\\"not_available_on_holidays\\\":true}}\",\n            \"OrderValidEnd\": \"1993478399\",\n            \"can_no_use_date\": \"{\\\"enable\\\":true,\\\"days_of_week\\\":[7,1,2,3,4],\\\"holidays\\\":[1,2,3,4,5],\\\"date_list\\\":[\\\"2022-03-08\\\",\\\"2022-03-09\\\"],\\\"holiday_dates\\\":{\\\"1\\\":\\\"2022.01.01-2022.01.03\\\"}}\",\n            \"real_name_info\": \"{\\\"enable\\\":true,\\\"scene\\\":1}\",\n            \"Description\": \"[\\\"商品描述-运动健身\\\"]\",\n            \"EntryType\": \"1\",\n            \"OrderValidStart\": \"1638720000\",\n            \"SupplierExtIdList\": \"[\\\"goods_v1_poi_001\\\"]\",\n            \"refund_need_merchant_confirm\": \"true\",\n            \"show_channel\": \"2\",\n            \"use_date\": \"{\\\"use_date_type\\\":1,\\\"use_start_date\\\":\\\"2021-12-06\\\",\\\"use_end_date\\\":\\\"2033-03-03\\\"}\",\n            \"FrontCategoryTag\": \"[\\\"美食套餐\\\"]\",\n            \"RecommendWord\": \"推荐语\",\n            \"RefundPolicy\": \"2\",\n            \"TagList\": \"标签列表-待填写\",\n            \"appointment\": \"{\\\"need_appointment\\\":true,\\\"external_link\\\":\\\"urlxxx\\\",\\\"order_appointment_time_url\\\":\\\"urlxxx\\\",\\\"ahead_time_type\\\":1,\\\"ahead_day_num\\\":1}\",\n            \"use_time\": \"{\\\"use_time_type\\\":1}\"\n          },\n          \"sold_start_time\": 1646724999,\n          \"category_full_name\": \"运动健身·游泳馆·游泳馆\",\n          \"category_id\": 3001001,\n          \"creator_account_id\": 7107571250087643180,\n          \"product_name\": \"life测试-0223-011\",\n          \"sold_end_time\": 1799607528,\n          \"owner_account_id\": 7113893944009705516,\n          \"pois\": [\n            {\n              \"supplier_ext_id\": \"goods_v1_poi_001\",\n              \"supplier_id\": 7112378515013584941,\n              \"poi_id\": 6601137575719602180\n            }\n          ],\n          \"product_type\": 1\n        },\n        \"sku\": {\n          \"create_time\": 1657694409,\n          \"sku_id\": \"7119054118261606444\",\n          \"sku_name\": \"我改了\",\n          \"status\": 1,\n          \"update_time\": 1657769323,\n          \"actual_amount\": 996,\n          \"origin_amount\": 1399,\n          \"stock\": {\n            \"limit_type\": 1,\n            \"stock_qty\": 88\n          },\n          \"attr_key_value_map\": {\n            \"market_price\": \"1900\",\n            \"settle_type\": \"1\",\n            \"use_type\": \"1\",\n            \"code_source_type\": \"1\",\n            \"limit_rule\": \"{\\\"is_limit\\\":true,\\\"total_buy_num\\\":9}\"\n          }\n        }\n      }\n    ]\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/goods/product/online/query/" : {
      "get" : {
        "tags" : [ "goods" ],
        "description" : "[查询商品线上数据列表](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods/online.query)",
        "operationId" : "getGoodlifeV1GoodsProductOnlineQuery",
        "parameters" : [ {
          "name" : "cursor",
          "in" : "query",
          "description" : "第一页不传，之后用前一次返回的next_cursor传入进行翻页",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "第一页不传，之后用前一次返回的next_cursor传入进行翻页",
            "example" : null
          }
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "分页数量，不传默认为5，最大上限50",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "分页数量，不传默认为5，最大上限50",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "过滤在线状态 1-在线 2-下线 3-封禁",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "过滤在线状态 1-在线 2-下线 3-封禁",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "account_id",
          "in" : "query",
          "description" : "商家ID，传入时服务商须与该商家满足授权关系",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "商家ID，传入时服务商须与该商家满足授权关系",
            "example" : null
          }
        }, {
          "name" : "goods_creator_type",
          "in" : "query",
          "description" : "区分商品创建者的查询方式0 - 查询服务商/开发者创建的商品1 - 查询商家（account_id）创建的商品",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "区分商品创建者的查询方式0 - 查询服务商/开发者创建的商品1 - 查询商家（account_id）创建的商品",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "query_all_poi",
          "in" : "query",
          "description" : "是否查询商品全量门店，仅开放给主营类目为餐饮的商家设置为true时，分页数量最大上限为20",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "description" : "是否查询商品全量门店，仅开放给主营类目为餐饮的商家设置为true时，分页数量最大上限为20",
            "default" : false,
            "example" : null
          }
        }, {
          "name" : "goods_query_type",
          "in" : "query",
          "description" : "新商品查询参数，仅支持餐饮行业的ka自研开发者使用，当前参数生效时goods_creator_type参数不再生效1 - 可查询归属于ka自研的所有商品，包括非ka自研创建的商品",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "新商品查询参数，仅支持餐饮行业的ka自研开发者使用，当前参数生效时goods_creator_type参数不再生效1 - 可查询归属于ka自研的所有商品，包括非ka自研创建的商品",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "查询商品线上数据列表",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OnlineQueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"has_more\": true,\n    \"next_cursor\": \"4\",\n    \"products\": [\n      {\n        \"product\": {\n          \"category_full_name\": \"运动健身·游泳馆·游泳馆\",\n          \"out_id\": \"hch-life-0314-tg09\",\n          \"owner_account_id\": 7113893944009705516,\n          \"attr_key_value_map\": {\n            \"environment_image_list\": \"[{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038504987084734508?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=TLe6dfqJ0a7i9VA4Zbh3Cu7qAV8%3D\\\"}]\",\n            \"image_list\": \"[{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038505021658382380?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=ygn%2FI0ORgkAJdomj7liPXpK9v3s%3D\\\"},{\\\"url\\\":\\\"http://p-boe-sign.bytedance.net/obj/aweme-upload-image/7038505050439696428?x-orig-authkey=boeorigin&x-orig-expires=1658221200&x-orig-sign=QGvp6oDAMSW%2F3xA4L7ASboxnYoM%3D\\\"}]\",\n            \"show_channel\": \"2\",\n            \"use_time\": \"{\\\"use_time_type\\\":1}\",\n            \"SortWeight\": \"0\",\n            \"customer_reserved_info\": \"{\\\"allow\\\":true,\\\"allow_tel\\\":true,\\\"allow_name\\\":true,\\\"allow_identity\\\":true,\\\"require_for_tel\\\":true,\\\"need_for_all\\\":true,\\\"reserved_reason\\\":\\\"留资原因\\\"}\",\n            \"description_rich_text\": \"[{\\\"note_type\\\":1,\\\"content\\\":\\\"其他说明信息-运动健身团购\\\"}]\",\n            \"SupplierExtIdList\": \"[\\\"goods_v1_poi_001\\\"]\",\n            \"appointment\": \"{\\\"need_appointment\\\":true,\\\"external_link\\\":\\\"urlxxx\\\",\\\"order_appointment_time_url\\\":\\\"urlxxx\\\",\\\"ahead_time_type\\\":1,\\\"ahead_day_num\\\":1}\",\n            \"real_name_info\": \"{\\\"enable\\\":true,\\\"scene\\\":1}\",\n            \"refund_need_merchant_confirm\": \"true\",\n            \"EntryType\": \"1\",\n            \"Images\": \"[\\\"http://tosv.boe.byted.org/obj/aweme-upload-image/7038505021658382380\\\",\\\"http://tosv.boe.byted.org/obj/aweme-upload-image/7038505050439696428\\\"]\",\n            \"IsConfirmImme\": \"true\",\n            \"OrderValidStart\": \"1638720000\",\n            \"RefundPolicy\": \"2\",\n            \"can_no_use_date\": \"{\\\"enable\\\":true,\\\"days_of_week\\\":[7,1,2,3,4],\\\"holidays\\\":[1,2,3,4,5],\\\"date_list\\\":[\\\"2022-03-08\\\",\\\"2022-03-09\\\"],\\\"holiday_dates\\\":{\\\"1\\\":\\\"2022.01.01-2022.01.03\\\"}}\",\n            \"use_date\": \"{\\\"use_date_type\\\":1,\\\"use_start_date\\\":\\\"2021-12-06\\\",\\\"use_end_date\\\":\\\"2033-03-03\\\"}\",\n            \"DateRule\": \"{\\\"unavailable_date\\\":{\\\"date_list\\\":[\\\"2022-03-08\\\",\\\"2022-03-09\\\"],\\\"weekday_list\\\":[7,1,2,3,4],\\\"not_available_on_holidays\\\":true}}\",\n            \"Description\": \"[\\\"商品描述-运动健身\\\"]\",\n            \"Notification\": \"[{\\\"title\\\":\\\"标题\\\",\\\"content\\\":\\\"运动健身1.1\\\"}]\",\n            \"TagList\": \"标签列表-待填写\",\n            \"FrontCategoryTag\": \"[\\\"美食套餐\\\"]\",\n            \"OrderValidEnd\": \"1993478399\",\n            \"RecommendWord\": \"推荐语\"\n          },\n          \"category_id\": 3001001,\n          \"product_id\": \"7119054118261606444\",\n          \"biz_line\": 1,\n          \"creator_account_id\": 7107571250087643180,\n          \"product_type\": 1,\n          \"account_name\": \"lh测试商家\",\n          \"pois\": [\n            {\n              \"poi_id\": 6601137575719602180,\n              \"supplier_ext_id\": \"goods_v1_poi_001\",\n              \"supplier_id\": 7112378515013584941\n            }\n          ],\n          \"product_name\": \"life测试-0223-011\",\n          \"sold_end_time\": 1799607528,\n          \"sold_start_time\": 1646724999,\n          \"telephone\": [\"1234-4321\"]\n        },\n        \"sku\": {\n          \"actual_amount\": 996,\n          \"attr_key_value_map\": {\n            \"limit_rule\": \"{\\\"is_limit\\\":true,\\\"total_buy_num\\\":9}\",\n            \"market_price\": \"1900\",\n            \"settle_type\": \"1\",\n            \"use_type\": \"1\",\n            \"code_source_type\": \"1\"\n          },\n          \"status\": 1,\n          \"update_time\": 1657769323,\n          \"create_time\": 1657694409,\n          \"origin_amount\": 1399,\n          \"sku_id\": \"7119054118261606444\",\n          \"sku_name\": \"我改了\",\n          \"stock\": {\n            \"limit_type\": 1,\n            \"stock_qty\": 88\n          }\n        },\n        \"commission_info\": {\n          \"platform_take_rate\": 0\n        },\n        \"online_status\": 1\n      }\n    ],\n    \"description\": \"\",\n    \"error_code\": 0\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"now\": 1658200058,\n    \"logid\": \"202207191107380102252431250703EA46\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/goods/product/operate/" : {
      "post" : {
        "tags" : [ "goods" ],
        "description" : "[上下架商品](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods/operate)",
        "operationId" : "postGoodlifeV1GoodsProductOperate",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProductOperateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "上下架商品",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductOperateResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/goods/product/save/" : {
      "post" : {
        "tags" : [ "goods" ],
        "description" : "[创建/更新商品接口](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods/save)",
        "operationId" : "postGoodlifeV1GoodsProductSave",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的 token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的 token",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "* 创建或更新商品。\n* 对于同一服务商，相同的out_id会被认为是同一商品，重复创建会被覆盖(相当于修改)。\n* 商品和SKU属性字段(attr_key_value_map )，需要通过商品模板接口获取\n* 新增商品二级类型参数 product_sub_type （仅小程序酒旅预售应用）\n* 创建商品时设置金额与前端用户侧展示关系，见下图。\n \n* 顺序：先上预订商品，再上预售商品，上预售商品时通过 bind_skus 字段关联。\n* 注意：如果预售券为多预订商品多门店的通兑券，则需要在 bind_skus 中绑定多门店的预订商品，且在 pois（适用门店）字段中传入对应预订商品所属的 POI_IDs。\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProductSaveRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "创建/更新商品接口",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductSaveResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"product_id\": \"111\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"xxx\",\n    \"now\": 1651113600\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/goods/sku/batch_save/" : {
      "post" : {
        "tags" : [ "goods" ],
        "description" : "[创建/更新多SKU商品的SKU列表](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods/goods.batch.save)",
        "operationId" : "postGoodlifeV1GoodsSkuBatchSave",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "1、创建团购活动列表",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SkuBatchSaveRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "创建/更新多SKU商品的SKU列表",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SkuBatchSaveResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"error_code\": 0,\n    \"description\": \"success\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"success\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"xxx\",\n    \"now\": 1651113600\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/goods/template/get/" : {
      "get" : {
        "tags" : [ "goods" ],
        "description" : "[查询商品模板接口](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/goods/template.get)",
        "operationId" : "getGoodlifeV1GoodsTemplate",
        "parameters" : [ {
          "name" : "product_type",
          "in" : "query",
          "description" : "商品类型",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "商品类型",
            "example" : null
          }
        }, {
          "name" : "category_id",
          "in" : "query",
          "description" : "类目id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "类目id",
            "example" : null
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "查询商品模板接口",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TemplateGetResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"product_attrs\": [\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"appointment\",\n        \"name\": \"预约信息\",\n        \"value_demo\": \"\",\n        \"value_type\": \"APPOINTMENT\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"auto_renew\",\n        \"name\": \"是否开启自动延期\",\n        \"value_demo\": \"\",\n        \"value_type\": \"BOOL\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"bring_out_meal\",\n        \"name\": \"是否可以外带餐食\",\n        \"value_demo\": \"\",\n        \"value_type\": \"BOOL\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"can_no_use_date\",\n        \"name\": \"不可使用日期\",\n        \"value_demo\": \"\",\n        \"value_type\": \"CAN_NO_USE_DATE\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"customer_reserved_info\",\n        \"name\": \"留资规则\",\n        \"value_demo\": \"\",\n        \"value_type\": \"CUSTOMER_RESERVED_INFO\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": true,\n        \"is_required\": false,\n        \"key\": \"description_rich_text\",\n        \"name\": \"其他说明信息\",\n        \"value_demo\": \"\",\n        \"value_type\": \"NOTE\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": true,\n        \"is_required\": false,\n        \"key\": \"detail_image_list\",\n        \"name\": \"长图\",\n        \"value_demo\": \"\",\n        \"value_type\": \"IMAGE\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": true,\n        \"is_required\": false,\n        \"key\": \"dishes_image_list\",\n        \"name\": \"菜品图\",\n        \"value_demo\": \"\",\n        \"value_type\": \"IMAGE\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"EntryType\",\n        \"name\": \"入口类型\",\n        \"value_demo\": \"1:H5 2:小程序 3:抖音 4:lynx\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": true,\n        \"is_required\": false,\n        \"key\": \"environment_image_list\",\n        \"name\": \"环境图\",\n        \"value_demo\": \"\",\n        \"value_type\": \"IMAGE\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"free_pack\",\n        \"name\": \"是否可以打包\",\n        \"value_demo\": \"\",\n        \"value_type\": \"BOOL\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": true,\n        \"is_required\": false,\n        \"key\": \"FrontCategoryTag\",\n        \"name\": \"前台品类标签\",\n        \"value_demo\": \"\",\n        \"value_type\": \"STRING\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": true,\n        \"is_required\": true,\n        \"key\": \"image_list\",\n        \"name\": \"封面图\",\n        \"value_demo\": \"\",\n        \"value_type\": \"IMAGE\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"IndustryType\",\n        \"name\": \"商品行业类型\",\n        \"value_demo\": \"\",\n        \"value_type\": \"STRING\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"IsConfirmImme\",\n        \"name\": \"是否立即确认\",\n        \"value_demo\": \"\",\n        \"value_type\": \"BOOL\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"MpResourceID\",\n        \"name\": \"小程序资源id\",\n        \"value_demo\": \"\",\n        \"value_type\": \"STRING\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"MpSettleType\",\n        \"name\": \"小程序分账类型\",\n        \"value_demo\": \"1-包销 2-代销\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": true,\n        \"is_required\": true,\n        \"key\": \"Notification\",\n        \"name\": \"使用规则\",\n        \"value_demo\": \"\",\n        \"value_type\": \"NOTIFICATION\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"private_room\",\n        \"name\": \"是否可以使用包间\",\n        \"value_demo\": \"\",\n        \"value_type\": \"BOOL\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"real_name_info\",\n        \"name\": \"实名信息\",\n        \"value_demo\": \"\",\n        \"value_type\": \"REAL_NAME_INFO\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"RecommendWord\",\n        \"name\": \"推荐语\",\n        \"value_demo\": \"\",\n        \"value_type\": \"STRING\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"rec_person_num\",\n        \"name\": \"建议使用人数\",\n        \"value_demo\": \"\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"rec_person_num_max\",\n        \"name\": \"最多使用人数\",\n        \"value_demo\": \"\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"RefundPolicy\",\n        \"name\": \"退款政策\",\n        \"value_demo\": \"1-允许退款 2-不可退款 3-有条件退\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"refund_need_merchant_confirm\",\n        \"name\": \"退款是否需商家审核\",\n        \"value_demo\": \"\",\n        \"value_type\": \"BOOL\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"release_source\",\n        \"name\": \"商品发布渠道\",\n        \"value_demo\": \"MERCHANT = 1 // 商家; BD = 2 // BD; FACILITATOR = 3 // 服务商;\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"show_channel\",\n        \"name\": \"投放渠道\",\n        \"value_demo\": \"1-不限制 2-仅直播间可见\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"SortWeight\",\n        \"name\": \"排序权重\",\n        \"value_demo\": \"\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"superimposed_discounts\",\n        \"name\": \"可以享受店内其他优惠\",\n        \"value_demo\": \"\",\n        \"value_type\": \"BOOL\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"TagList\",\n        \"name\": \"标签列表\",\n        \"value_demo\": \"\",\n        \"value_type\": \"STRING\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"trade_url\",\n        \"name\": \"小程序提单页跳转\",\n        \"value_demo\": \"\",\n        \"value_type\": \"STRING\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"use_date\",\n        \"name\": \"使用日期\",\n        \"value_demo\": \"\",\n        \"value_type\": \"USE_DATE\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"use_time\",\n        \"name\": \"使用时间\",\n        \"value_demo\": \"\",\n        \"value_type\": \"USE_TIME\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"SubTitle\",\n        \"name\": \"副标题\",\n        \"value_demo\": \"可选标题：过期退；随时退；x日内可退；免预约；提前x日预约；多个副标题以|（英文半角）分隔，不要有空格\",\n        \"value_type\": \"STRING\"\n      }\n    ],\n    \"sku_attrs\": [\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"code_source_type\",\n        \"name\": \"券码生成方式\",\n        \"value_demo\": \"1-抖音码 2-三方码 3-预导码\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": true,\n        \"is_required\": true,\n        \"key\": \"commodity\",\n        \"name\": \"菜品搭配\",\n        \"value_demo\": \"\",\n        \"value_type\": \"COMMODITY\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"limit_rule\",\n        \"name\": \"限制购买\",\n        \"value_demo\": \"\",\n        \"value_type\": \"LIMIT_RULE\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": false,\n        \"key\": \"market_price\",\n        \"name\": \"市场价\",\n        \"value_demo\": \"\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"settle_type\",\n        \"name\": \"收款方式\",\n        \"value_demo\": \"1-总店结算 2-分店结算\",\n        \"value_type\": \"INT64\"\n      },\n      {\n        \"desc\": \"\",\n        \"is_multi\": false,\n        \"is_required\": true,\n        \"key\": \"use_type\",\n        \"name\": \"团购使用方式\",\n        \"value_demo\": \"1-到店核销\",\n        \"value_type\": \"INT64\"\n      }\n    ],\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"log_id\": \"202205121547310102120681610A00B9B0\",\n    \"now\": 1657777319,\n    \"error_code\": 0,\n    \"decription\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_decription\": \"\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/hermes/trade/order/query/" : {
      "get" : {
        "tags" : [ "takeout" ],
        "description" : "[订单查询接口](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/takeout/orderquery)",
        "operationId" : "getGoodlifeV1HermesTradeOrderQuery",
        "parameters" : [ {
          "name" : "page_size",
          "in" : "query",
          "description" : "页大小，取值范围1～100",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "页大小，取值范围1～100",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "page_num",
          "in" : "query",
          "description" : "第几页（首页传1）",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "第几页（首页传1）",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "order_id",
          "in" : "query",
          "description" : "抖音订单id",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "抖音订单id",
            "example" : null
          }
        }, {
          "name" : "ext_order_id",
          "in" : "query",
          "description" : "第三方订单号",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "第三方订单号",
            "example" : null
          }
        }, {
          "name" : "open_id",
          "in" : "query",
          "description" : "抖音用户id",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "抖音用户id",
            "example" : null
          }
        }, {
          "name" : "account_id",
          "in" : "query",
          "description" : "商户id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "商户id",
            "example" : null
          }
        }, {
          "name" : "order_status",
          "in" : "query",
          "description" : "订单状态",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "订单状态",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "create_order_start_time",
          "in" : "query",
          "description" : "创单起始时间 （秒时间戳，创单起止时间必须同时传入）",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "创单起始时间 （秒时间戳，创单起止时间必须同时传入）",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "create_order_end_time",
          "in" : "query",
          "description" : "创单结束时间（秒时间戳，创单起止时间必须同时传入）",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "创单结束时间（秒时间戳，创单起止时间必须同时传入）",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "update_order_start_time",
          "in" : "query",
          "description" : "修改起始时间 （秒时间戳，修改起止时间必须同时传入）",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "修改起始时间 （秒时间戳，修改起止时间必须同时传入）",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "update_order_end_time",
          "in" : "query",
          "description" : "修改起始时间（秒时间戳，修改起止时间必须同时传入）",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "description" : "修改起始时间（秒时间戳，修改起止时间必须同时传入）",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "get_secret_number",
          "in" : "query",
          "description" : "是否查询用户隐私号",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "description" : "是否查询用户隐私号",
            "default" : false,
            "example" : null
          }
        }, {
          "name" : "content-type",
          "in" : "header",
          "description" : "固定值 \"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值 \"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "调用/oauth/client_token/生成的 token，此 token 不需要用户授权。",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "订单查询接口",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderQueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n  \"data\": {\n    \"orders\": [\n      {\n        \"count\": 1,\n        \"order_id\": \"7000277894522046508\",\n        \"order_status\": 101,\n        \"order_type\": 21,\n        \"original_amount\": 20,\n        \"pay_amount\": 20,\n        \"sku_id\": \"1708941687677982\",\n        \"update_order_time\": 1629879472,\n        \"certificate\": [\n          {\n            \"certificate_id\": \"\",\n            \"item_status\": 401,\n            \"item_update_time\": 1654348496,\n            \"order_item_id\": \"710525525737414864913240082\",\n            \"refund_amount\": 0,\n            \"refund_time\": 0\n          }\n        ],\n        \"contacts\": [\n          {\n            \"name\": \"\",\n            \"phone\": \"\"\n          }\n        ],\n        \"create_order_time\": 1629879472,\n        \"pay_time\": 0,\n        \"sku_name\": \"在线修改test1的副本\"\n      },\n      {\n        \"order_id\": \"7000278755910502444\",\n        \"original_amount\": 20,\n        \"pay_amount\": 20,\n        \"pay_time\": 0,\n        \"sku_name\": \"在线修改test1的副本\",\n        \"count\": 1,\n        \"create_order_time\": 1629880093,\n        \"order_type\": 21,\n        \"sku_id\": \"1708941687677982\",\n        \"update_order_time\": 1629880093,\n        \"certificate\": [\n          {\n            \"certificate_id\": \"\",\n            \"item_status\": 401,\n            \"item_update_time\": 1654348496,\n            \"order_item_id\": \"710525525737414864913240082\",\n            \"refund_amount\": 0,\n            \"refund_time\": 0\n          }\n        ],\n        \"contacts\": [\n          {\n            \"name\": \"\",\n            \"phone\": \"\"\n          }\n        ],\n        \"order_status\": 200\n      }\n    ],\n    \"page\": {\n      \"page_num\": 1,\n      \"page_size\": 2,\n      \"total\": 104292\n    },\n    \"error_code\": 0,\n    \"description\": \"\"\n  },\n  \"extra\": {\n    \"error_code\": 0,\n    \"description\": \"\",\n    \"sub_error_code\": 0,\n    \"sub_description\": \"\",\n    \"logid\": \"20220701162636010225145152030360A6\"\n  }\n}\n]\n"
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/increase_value/batch/order/details/" : {
      "get" : {
        "tags" : [ "info" ],
        "description" : "[客资详情](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/info/details)",
        "operationId" : "getGoodlifeV1IncreaseValueBatchOrderDetails",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "商户id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "商户id",
            "example" : null
          }
        }, {
          "name" : "item_ids",
          "in" : "query",
          "description" : "客资列表返回的item_id，多个用,分割，数量范围1～30",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "客资列表返回的item_id，多个用,分割，数量范围1～30",
            "example" : null
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "客资详情",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderDetailsResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/increase_value/order/query/" : {
      "get" : {
        "tags" : [ "info" ],
        "description" : "[客资列表](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/info/query)",
        "operationId" : "getGoodlifeV1IncreaseValueOrderQuery",
        "parameters" : [ {
          "name" : "account_id",
          "in" : "query",
          "description" : "商户id",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "商户id",
            "example" : null
          }
        }, {
          "name" : "start_time",
          "in" : "query",
          "description" : "起始时间戳，单位秒，最小值为1682438400 (2023-04-26)",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "起始时间戳，单位秒，最小值为1682438400 (2023-04-26)",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "截止时间戳，单位秒",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "截止时间戳，单位秒",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "cursor",
          "in" : "query",
          "description" : "查询游标，第一页查询传0，翻页查使用上一次查询返回cursor",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "查询游标，第一页查询传0，翻页查使用上一次查询返回cursor",
            "example" : null
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "页大小，取值范围1～30",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "description" : "页大小，取值范围1～30",
            "format" : "int32",
            "example" : null
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "客资列表",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderQueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/member/user/update/" : {
      "post" : {
        "tags" : [ "member" ],
        "description" : "[会员数据更新](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/member/update.info)",
        "operationId" : "postGoodlifeV1MemberUserUpdate",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "会员数据更新",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserUpdateResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/partner/order/get/" : {
      "get" : {
        "tags" : [ "paterner" ],
        "description" : "[合作详情查询](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/paterner/orderget)",
        "operationId" : "getGoodlifeV1PartnerOrder",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "application/json",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "application/json",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "根据这个地址获取的token",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "根据这个地址获取的token",
            "example" : null
          }
        } ],
        "requestBody" : {
          "description" : "无\n\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrderGetRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "合作详情查询",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrderGetResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : null
                  },
                  "failed" : {
                    "value" : null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/goodlife/v1/poi/match/relation/query/" : {
      "get" : {
        "tags" : [ "life.capacity.shop" ],
        "description" : "[查询门店匹配关系](https://developer.open-douyin.com/docs/resource/zh-CN/local-life/develop/OpenAPI/life.capacity.shop/match.relationquery)",
        "operationId" : "getGoodlifeV1PoiMatchRelationQuery",
        "parameters" : [ {
          "name" : "ext_ids",
          "in" : "query",
          "description" : "三方门店 id 列表，多个使用,分隔，单次请求 <= 200",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "三方门店 id 列表，多个使用,分隔，单次请求 <= 200",
            "example" : "202304271524,202305051538"
          },
          "example" : "202304271524,202305051538"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "固定值：\"application/json\"",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "固定值：\"application/json\"",
            "default" : "application/json",
            "example" : null
          }
        }, {
          "name" : "access-token",
          "in" : "header",
          "description" : "接口调用凭证",
          "required" : true,
          "schema" : {
            "type" : "string",
            "description" : "接口调用凭证",
            "example" : null
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "查询门店匹配关系",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelationQueryResponse"
                },
                "examples" : {
                  "succeed" : {
                    "value" : "[{\n    \"data\": {\n        \"relations\": [\n            {\n                \"ext_id\": \"202305051538\",\n                \"match_poi_id\": \"7229580912508274746\",\n                \"match_relation_status\": 2\n            },\n            {\n                \"match_relation_status\": 2,\n                \"ext_id\": \"202304271524\",\n                \"match_poi_id\": \"7226627105931413559\"\n            }\n        ],\n        \"error_code\": 0,\n        \"description\": \"success\"\n    },\n    \"extra\": {\n        \"error_code\": 0,\n        \"description\": \"success\",\n        \"sub_error_code\": 0,\n        \"sub_description\": \"\",\n        \"logid\": \"202307041610015E4B5F210E79E113B5C0\",\n        \"now\": 1688458202\n    }\n}\n]\n"
                  },
                  "failed" : {
[...]
